.dashui-widget {
    position: absolute;
    overflow: hidden;
}

.dashui-view {
    width:100%;
    height:100%;
}

.tplSpanOnOff {
    border: 1px solid blue;
    display: block;
    width: 50px;
    height: 50px;
}
.tplSpanOnOff-on {
    background-color: green;
    text-shadow: none;
}
.tplSpanOnOff-off {

}
.ui-slider-vertical {

    height: 93%;
}
.ui-dialog .ui-dialog-content {
    padding: .5em 0em;
}
:focus { outline: none; }

#widget_helper {
    border: 1px dashed white;
    position: absolute;
    z-index: 90;
    pointer-events:none;
}
#widget_inner_helper {
    border: 1px dashed black;
    z-index: 90;
    pointer-events:none;
}

.dashui-widget-button {
    width: auto;
    height: auto;
}

.dashui-widget-body {
    width: 100%;
    height: 100%;
}

