/.idea/
node_modules
*.zip
**/*.zip
*.tgz
/_socket
/.build
/lib
/www/_socket
knx-uf-iconset
iob_npm.done
/packages/**/package-lock.json
packages/iobroker.vis-2/admin/i18n/*/flat.txt
packages/iobroker.vis-2/admin/i18n/flat.txt
*.vis.code-workspace
beta
/io-package.json
/main.js
package-lock.json

build
/.vscode
src/dist
**/www
**/runtime
**/tmp
