/.idea/
/node_modules
*.zip
**/*.zip
/_socket
/.build
/lib/js
/lib/css
/www/_socket
/cordova/www
/cordova/platforms/android/assets/www
/cordova/platforms/android/.gradle
/cordova/platforms/android/build
/cordova/platforms/android/CordovaLib/build
/www/edit.full.html
/www/index.full.html
/www/worker-css.js
/www/worker-html.js
/www/worker-javascript.js
/www/css/vis.min.css
/www/css/visEdit.min.css
/www/js/vis.min.js
/www/js/vis.mmin.js
/www/js/visEdit.min.js
/www/js/visEdit.mmin.js
/www/css/channel.png
/www/css/device.png
/www/css/icons.gif
/www/css/loading.gif
/www/css/state.png
/iob_npm.done
/package-lock.json
admin/i18n/*/flat.txt
admin/i18n/flat.txt
*.vis.code-workspace
