<script type="text/javascript">
    jQuery.extend(true, dui.binds, {
        container: function (el, view) {
            var $this = jQuery(el);
            if (dui.views[view]) {
                //console.log("dui.binds.container: "+view+" in "+$this.attr("id"));
                dui.renderView(view);
                jQuery("#duiview_"+view).appendTo($this);
                jQuery("#duiview_"+view).show();
            }

        },
        basic: {
            navigation: function (el, options) {
                var $this = jQuery(el);
                $this.click(function (e) {
                    if (dui.urlParams["edit"] !== "") {
                        console.log("--navigation--");
                        console.log(options);
                        dui.changeView(options.nav_view, options.hideOptions, options.showOptions);
                        e.preventDefault();
                        return false;
                    }

                });
            },
            hideOnFalse: function (el) {
                var $this = jQuery(el);
                var hm_id = "_" + $this.attr("data-hm-id");
                homematic.uiState.bind(hm_id+".Value", function( e, newVal, oldVal ) {
                    if (newVal === false || newVal === 0 || newVal === "false" || parseInt(newVal,10) == 0) {
                        if (dui.urlParams["edit"] !== "") {
                            $this.hide();
                        }
                    } else {
                        $this.show();
                    }
                });
                if (homematic.uiState.attr(hm_id+".Value") == 0) {
                    $this.hide();
                }
            },
            checkbox: function (el) {
                var $this = jQuery(el);
                var hm_id = "_" + $this.attr("data-hm-id");
                homematic.uiState.bind(hm_id+".Value", function( e, newVal, oldVal ) {
                    if (newVal === false || parseFloat(newVal,10) === 0.0) {
                        $this.removeAttr("checked");
                    } else {
                        $this.prop("checked", true);
                    }
                });
                if (homematic.uiState.attr(hm_id+".Value")) {
                    $this.prop("checked", true);
                }
                if (dui.urlParams["edit"] !== "") {
                    $this.change(function () {
                        if ($this.prop("checked")) {
                            homematic.setValue( $this.attr("data-hm-id"),  true);
                        } else {
                            homematic.setValue( $this.attr("data-hm-id"),  false);
                        }
                    });
                }
            },
            select: function (el) {
                var $this = jQuery(el).prev();
                var id = $this.attr("data-hm-id");
                $this.change(function () {
                    console.log("uiState " + homematic.uiState.attr("_"+$this.attr("data-hm-id")));
                    console.log("setState " + $this.find("option:selected").val());
                    homematic.setValue( $this.attr("data-hm-id"),  $this.find("option:selected").val());
                });
                var hm_id = "_" + id;
                homematic.uiState.bind(hm_id+".Value", function( e, newVal, oldVal ) {
                    console.log("newVal="+newVal+" oldVal="+oldVal);
                    if (newVal == "false" || parseFloat(newVal) == 0) {
                        if ($this.find("option[value='1']").prop("selected")) {
                            //console.log("false");
                            $this.find("option[value='1']").removeAttr("selected");
                            $this.find("option[value='0']").prop("selected", true);
                            $this.trigger("change");
                        }
                    } else {
                        if ($this.find("option[value='0']").prop("selected")) {
                            //console.log("true");
                            $this.find("option[value='0']").removeAttr("selected");
                            $this.find("option[value='1']").prop("selected", true);
                            $this.trigger("change");
                        }
                    }
                    //
                });
            },
            toggle: function (el) {
                var $this = jQuery(el);
                var id = $this.attr("data-hm-id");
                if (dui.urlParams["edit"] !== "") {
                    $this.click(function () {
                        var val = homematic.uiState["_"+id].Value;
                        if (val === false || val === "false") { val = 0;}
                        if (val === true || val === "true") { val = 1;}
                        val = parseFloat(val, 10);
                        if (val >= 0.5) { val = 1; } else { val = 0; }
                        homematic.setValue( id,  1-val);
                    });
                }
            }
        }
    });
</script>

<script type="text/ejs" id="tplContainerView" class="dashui-tpl" data-dashui-set="basic" data-dashui-name="container - view in widget" data-dashui-attrs="contains_view">
    <div class="dashui-widget <%== this.data.attr('class') %>" style="width:400px; height: 270px;" id="<%= this.data.attr('wid') %>">
        <div id="<%= this.data.attr('wid') %>_container" data-dashui-contains="<%= this.data.attr('contains_view') %>" class="dashui-widget-body">
        </div>
    </div>
</script>

<script type="text/ejs" id="tplHtml" class="dashui-tpl" data-dashui-set="basic" data-dashui-name="static - HTML" data-dashui-attrs="html">
    <div class="dashui-widget <%== this.data.attr('class') %>" style="width: 200px; height: 130px; border: 1px solid #000; background: #fff;" id="<%= this.data.attr('wid') %>">
        <div class="dashui-widget-body">
            <%== this.data.attr('html') %>
        </div>
    </div>
</script>

<script type="text/ejs" id="tplImage" class="dashui-tpl" data-dashui-set="basic" data-dashui-name="static - Image" data-dashui-attrs="src">
    <div class="dashui-widget <%== this.data.attr('class') %>" style="width: 200px; height: 130px;" id="<%= this.data.attr('wid') %>">
        <div class="dashui-widget-body">
            <img src="<%== this.data.attr('src') %>" />
        </div>
    </div>
</script>

<script type="text/ejs" id="tplLink" class="dashui-tpl" data-dashui-set="basic" data-dashui-name="static - link" data-dashui-attrs="html;href;target;alt">
    <div class="dashui-widget <%== this.data.attr('class') %>" style="width: 200px; height: 130px; border: 1px solid #000; background: #fff;" id="<%= this.data.attr('wid') %>">
        <div class="dashui-widget-body">
            <a href="<%== this.data.attr('href') %>" target="<%== this.data.attr("target") %>" alt="<%== this.data.attr("alt") %>" style="text-decoration:none;width:100%;height:100%"><div style="width:100%;height:100%"><%== this.data.attr("html") %></div></a>
        </div>
    </div>
</script>




<script type="text/ejs" id="tplHtmlNav" class="dashui-tpl" data-dashui-set="basic" data-dashui-name="navigation - HTML" data-dashui-attrs="html;nav_view;hide_effect;hide_duration;show_effect;show_duration">
    <div class="dashui-widget <%== this.data.attr('class') %>" style="width: 200px; height: 130px; border: 1px solid #000; background: #fff;" id="<%= this.data.attr('wid') %>" <%= (el) -> dui.binds.basic.navigation(el, {nav_view:data.attr('nav_view'),hideOptions:{effect:data.attr('hide_effect'),options:{},duration:data.attr('hide_duration')},showOptions:{effect:data.attr('show_effect'),options:{},duration:data.attr('show_duration')}}) %>>
        <div class="dashui-widget-body">
            <%== this.data.attr('html') %>
        </div>
    </div>
</script>

<script type="text/ejs" id="tplValueFloat" class="dashui-tpl" data-dashui-set="basic" data-dashui-name="hm_val - Number" data-dashui-attrs="html_prepend;html_append;hm_id;digits;factor">
    <div class="dashui-widget <%== this.data.attr('class') %>" style="padding: 3px; background-color:#ccc; font-family: Arial; " id="<%= this.data.attr('wid') %>">
        <div class="dashui-widget-body">
            <div data-hm-id="<%= this.data.attr('hm_id') %>">
                <%== this.data.attr("html_prepend") %><%= (parseFloat(homematic.uiState.attr("_" + this.data.hm_id + ".Value")) * this.data.factor).toFixed(this.data.digits) %><%== this.data.attr("html_append") %>
            </div>
        </div>
    </div>
</script>

<script type="text/ejs" id="tplValueString" class="dashui-tpl" data-dashui-set="basic" data-dashui-name="hm_val - String" data-dashui-attrs="html_prepend;html_append;hm_id">
    <div class="dashui-widget <%== this.data.attr('class') %>" style="padding: 3px; background-color:#ccc; font-family: Arial; " id="<%= this.data.attr('wid') %>">
        <div class="dashui-widget-body">
            <div data-hm-id="<%= this.data.attr('hm_id') %>">
                <%== this.data.attr("html_prepend") %><%= homematic.uiState.attr("_" + this.data.hm_id + ".Value") %><%== this.data.attr("html_append") %>
            </div>
        </div>
    </div>
</script>



<script type="text/ejs" id="tplValueStringRaw" class="dashui-tpl" data-dashui-set="basic" data-dashui-name="hm_val - String (unescaped)" data-dashui-attrs="html_prepend;html_append;hm_id">
    <div class="dashui-widget <%== this.data.attr('class') %>" style="padding: 3px; background-color:#ccc; font-family: Arial; " id="<%= this.data.attr('wid') %>">
        <div class="dashui-widget-body">
            <div data-hm-id="<%= this.data.attr('hm_id') %>">
                <%== this.data.attr("html_prepend") %><%== homematic.uiState.attr("_" + this.data.hm_id + ".Value") %><%== this.data.attr("html_append") %>
            </div>
        </div>
    </div>
</script>
<script type="text/ejs" id="tplValueStringImg" class="dashui-tpl" data-dashui-set="basic" data-dashui-name="hm_val - String img src" data-dashui-attrs="html_prepend;html_append;hm_id">
    <div class="dashui-widget <%== this.data.attr('class') %>" style="padding: 3px; background-color:#ccc; font-family: Arial; " id="<%= this.data.attr('wid') %>">
        <div class="dashui-widget-body">
            <div data-hm-id="<%= this.data.attr('hm_id') %>">
                <%== this.data.attr("html_prepend") %><img src='<%== homematic.uiState.attr("_" + this.data.hm_id + ".Value") %>' width="100%"/><%== this.data.attr("html_append") %>
            </div>
        </div>
    </div>
</script>
<script type="text/ejs" id="tplValueList" class="dashui-tpl" data-dashui-set="basic" data-dashui-name="hm_val - ValueList Text" data-dashui-attrs="html_prepend;html_append;hm_id;valuelist">
    <div class="dashui-widget <%== this.data.attr('class') %>" style="padding: 3px; background-color:#ccc; font-family: Arial; " id="<%= this.data.attr('wid') %>">
        <div class="dashui-widget-body">
            <div data-hm-id="<%= this.data.attr('hm_id') %>">
                <%== this.data.attr("html_prepend") %><% var list = (data.valuelist ? data.valuelist.split(';') : []); %><%= list[parseInt(homematic.uiState.attr("_" + this.data.hm_id + ".Value"),10)] %><%== this.data.attr("html_append") %>
            </div>
        </div>
    </div>
</script>

<script type="text/ejs" id="tplValueListHtml" class="dashui-tpl" data-dashui-set="basic" data-dashui-name="hm_val - ValueList HTML" data-dashui-attrs="html_prepend;html_append;hm_id;valuelist">
    <div class="dashui-widget <%== this.data.attr('class') %>" style="padding: 3px; background-color:#ccc; font-family: Arial; " id="<%= this.data.attr('wid') %>">
        <div class="dashui-widget-body">
            <div data-hm-id="<%= this.data.attr('hm_id') %>">
                <%== this.data.attr("html_prepend") %><% var list = (data.valuelist ? data.valuelist.split(';') : []); %><%== list[parseInt(homematic.uiState.attr("_" + this.data.hm_id + ".Value"),10)] %><%== this.data.attr("html_append") %>
            </div>
        </div>
    </div>
</script>
<script type="text/ejs" id="tplValueListHtml8" class="dashui-tpl" data-dashui-set="basic" data-dashui-name="hm_val - ValueList HTML 8" data-dashui-attrs="html_prepend;html_append;hm_id;value0;value1;value2;value3;value4;value5;value6;value7;style0;style1;style2;style3;style4;style5;style6;style7">
    <div class="dashui-widget <%== this.data.attr('class') %>" style="border-color:lightgray;" id="<%= this.data.attr('wid') %>">
        <div class="dashui-widget-body" style="padding: 3px 0px 3px 0px; <% var slist = [data.style0,data.style1,data.style2,data.style3,data.style4,data.style5,data.style6,data.style7]; %><%== slist[parseInt((homematic.uiState.attr("_" + this.data.hm_id + ".Value") == true ? 1 : (homematic.uiState.attr("_" + this.data.hm_id + ".Value") == false ? 0 : homematic.uiState.attr("_" + this.data.hm_id + ".Value"))),10)] %>">
        <div data-hm-id="<%= this.data.attr('hm_id') %>">
            <%== this.data.attr("html_prepend") %><% var list = [data.value0,data.value1,data.value2,data.value3,data.value4,data.value5,data.value6,data.value7]; %><%== list[parseInt((homematic.uiState.attr("_" + this.data.hm_id + ".Value") == true ? 1 : (homematic.uiState.attr("_" + this.data.hm_id + ".Value") == false ? 0 : homematic.uiState.attr("_" + this.data.hm_id + ".Value"))),10)] %><%== this.data.attr("html_append") %>
        </div>
    </div>
    </div>
</script>

<script type="text/ejs" id="tplValueBool" class="dashui-tpl" data-dashui-set="basic" data-dashui-name="hm_val - Bool HTML" data-dashui-attrs="html_prepend;html_append;hm_id;html_false;html_true">
    <div class="dashui-widget <%== this.data.attr('class') %>" style="background-color:#ccc; width:76px; height:76px;" id="<%= this.data.attr('wid') %>"  data-hm-id="<%= this.data.attr('hm_id') %>" >
        <div class="dashui-widget-body">
            <div>
                <%== this.data.attr("html_prepend") %>
                <%
                var str = homematic.uiState.attr("_" + this.data.hm_id + ".Value");
                var val = parseFloat(str,10);
                var state;
                if (str === false || str == "false") {
                %>
                <%== this.data.attr("html_false") %>
                <% } else { %>
                <%== this.data.attr("html_true") %>
                <% } %>
                <%== this.data.attr("html_append") %>
            </div>
        </div>
    </div>
</script>

<script type="text/ejs" id="tplValueBoolCheckbox" class="dashui-tpl" data-dashui-set="basic" data-dashui-name="hm_ctrl - Bool Checkbox" data-dashui-attrs="html_prepend;html_append;hm_id">
    <div class="dashui-widget <%== this.data.attr('class') %>" style="" id="<%= this.data.attr('wid') %>" >
        <div class="dashui-widget-body">
            <div>
                <%== this.data.attr("html_prepend") %>
                <input type="checkbox" name="<%= this.data.attr('wid') %>_checkbox" id="<%= this.data.attr('wid') %>_checkbox" data-hm-id="<%= this.data.attr('hm_id') %>" <%= (el) -> dui.binds.basic.checkbox(el) %>/>
                <%== this.data.attr("html_append") %>
            </div>
        </div>
    </div>
</script>

<script type="text/ejs" id="tplValueBoolSelect" class="dashui-tpl" data-dashui-set="basic" data-dashui-name="hm_ctrl - Bool Select" data-dashui-attrs="html_prepend;html_append;hm_id;text_true;text_false">
    <div class="dashui-widget <%== this.data.attr('class') %>" style="" id="<%= this.data.attr('wid') %>" >
        <div class="dashui-widget-body">
            <div>
                <%== this.data.attr("html_prepend") %>
                <select id="<%= this.data.attr('wid') %>_select" data-hm-id="<%= this.data.attr('hm_id') %>">
                    <option value="0" selected="selected"><%= this.data.attr('text_false') %></option>
                    <option value="1"><%= this.data.attr('text_true') %></option>
                </select>
                <div <%= (el) -> dui.binds.basic.select(el) %>></div>
                <%== this.data.attr("html_append") %>
            </div>
        </div>
    </div>
</script>


<script type="text/ejs" id="tplValueBoolCtrl" class="dashui-tpl" data-dashui-set="basic" data-dashui-name="hm_ctrl - Bool HTML" data-dashui-attrs="html_prepend;html_append;hm_id;html_false;html_true">
    <div class="dashui-widget <%== this.data.attr('class') %>" style="background-color:#ccc; width:76px; height:76px;" id="<%= this.data.attr('wid') %>" data-hm-id="<%= this.data.attr('hm_id') %>" <%= (el) -> dui.binds.basic.toggle(el) %>>
    <div class="dashui-widget-body">
        <div>
            <%== this.data.attr("html_prepend") %>
            <%
            var str = homematic.uiState.attr("_" + this.data.hm_id + ".Value");
            var val = parseFloat(str,10);
            var state;
            if (val == 0 || str == "false") {
            %>
            <%== this.data.attr("html_false") %>
            <% } else { %>
            <%== this.data.attr("html_true") %>
            <% } %>
            <%== this.data.attr("html_append") %>
        </div>
    </div>
    </div>
</script>

<script type="text/ejs" id="tplHide" class="dashui-tpl" data-dashui-set="basic" data-dashui-name="hm_val - Hide on 0/False" data-dashui-attrs="hm_id,html">
    <div class="dashui-widget <%== this.data.attr('class') %>" style="background-color:#ccc; width: 50px; height: 50px;" id="<%= this.data.attr('wid') %>" data-hm-id="<%= this.data.attr('hm_id') %>" <%= (el) -> dui.binds.basic.hideOnFalse(el) %>>
        <div class="dashui-widget-body">
            <%== this.data.attr('html') %>
        </div>
    </div>
</script>

<script type="text/ejs" id="tplRedNumber" class="dashui-tpl" data-dashui-set="basic" data-dashui-name="hm_val - Red Number" data-dashui-attrs="hm_id">
    <div class="dashui-widget <%== this.data.attr('class') %>" style="padding:3px;width:auto;min-width: 21px; height: 21px; border-radius:16px; border: 3px solid white; background-color:red; color:white; font:normal normal normal 20px/normal Helvetica; text-align: center;" id="<%= this.data.attr('wid') %>" data-hm-id="<%= this.data.attr('hm_id') %>" <%= (el) -> dui.binds.basic.hideOnFalse(el) %>>
        <div class="dashui-widget-body" >
            <%= parseInt(homematic.uiState.attr("_"+this.data.hm_id+".Value"), 10) %>
        </div>
    </div>
</script>

<script type="text/ejs" id="tplBulbOnOff" class="dashui-tpl" data-dashui-set="basic" data-dashui-name="hm_val - Bulb on/off" data-dashui-attrs="hm_id">
    <div data-hm-id="<%= this.data.attr('hm_id') %>" class="dashui-widget <%== this.data.attr('class') %>" id="<%= this.data.attr('wid') %>">
        <div class="dashui-widget-body">
            <% switch (homematic.uiState.attr("_"+this.data.hm_id+".Value")) { case 0: case "0": case "0.000000": case false: case "false": %>
            <img src="img/bulb_off.png" width="100%"/>
            <% break; default: %>
            <img src="img/bulb_on.png" width="100%"/>
            <% } %>
        </div>
    </div>
</script>

<script type="text/ejs" id="tplBulbOnOffCtrl" class="dashui-tpl" data-dashui-set="basic" data-dashui-name="hm_ctrl - Bulb on/off" data-dashui-attrs="hm_id">
    <div data-hm-id="<%= this.data.attr('hm_id') %>" class="dashui-widget <%== this.data.attr('class') %>" id="<%= this.data.attr('wid') %>" <%= (el) -> dui.binds.basic.toggle(el) %>>
    <div class="dashui-widget-body">
        <% switch (homematic.uiState.attr("_"+this.data.hm_id+".Value")) { case 0: case "0": case "0.000000": case "false": case false: %>
        <img src="img/bulb_off.png" width="100%"/>
        <% break; default: %>
        <img src="img/bulb_on.png" width="100%"/>
        <% } %>
    </div>
    </div>
</script>


<script type="text/ejs" id="tplHmWindowRotary" class="dashui-tpl"  data-dashui-set="basic" data-dashui-name="hm_val - Drehgriff" data-dataui-attrs="hm_id">
    <div class="dashui-widget <%== this.data.attr('class') %>" id="<%= this.data.attr('wid') %>" data-hm-id="<%= this.data.attr('hm_id') %>">
        <div class="dashui-widget-body">
            <% switch (homematic.uiState.attr("_" + this.data.hm_id + ".Value")) { case 0: %>
            <img height="28px" src="/ise/img/window/closed.png"/>
            <% break; case 1: %>
            <img height="28px" src="/ise/img/window/open_v.png"/>
            <% break; case 2: %>
            <img height="28px" src="/ise/img/window/open_h.png"/>
            <% } %>
        </div>
    </div>
</script>

<script type="text/ejs" id="tplHmWindow" class="dashui-tpl" data-dashui-set="basic" data-dashui-name="hm_val - TFK" data-dashui-attrs="hm_id">
    <div data-hm-id="<%= this.data.attr('hm_id') %>" class="dashui-widget <%== this.data.attr('class') %>" id="<%= this.data.attr('wid') %>" style="height:80px">
        <div class="dashui-widget-body">
            <% switch (homematic.uiState.attr("_" + this.data.hm_id + ".Value")) { case "true": %>
            <img height="100%" src="/ise/img/window/open_h.png"/>
            <% break; default: %>
            <img height="100%" src="/ise/img/window/closed.png"/>
            <% } %>
        </div>
    </div>
</script>

<script type="text/ejs" id="tplValueFloatBar" class="dashui-tpl" data-dashui-set="basic" data-dashui-name="hm_val - Bar Horizontal" data-dashui-attrs="hm_id;factor;color;border;shadow;reverse">
    <div class="dashui-widget <%== this.data.attr('class') %>" style="width:240px;height:20px;border:1px solid #888" id="<%= this.data.attr('wid') %>">
        <div class="dashui-widget-body" style="<%= (this.data.reverse == "true" ? "float:right; " : "") %>background-color:<%= this.data.color %>;border:<%= this.data.border %>;box-shadow:<%= this.data.shadow %>;width:<%= homematic.uiState.attr('_' + this.data.hm_id + '.Value') * this.data.factor %>%;">
            <div data-hm-id="<%= this.data.attr('hm_id') %>">
            </div>
        </div>
    </div>
</script>

<script type="text/ejs" id="tplValueFloatBarVertical" class="dashui-tpl" data-dashui-set="basic" data-dashui-name="hm_val - Bar Vertical" data-dashui-attrs="hm_id;factor;color;border;shadow;reverse">
    <div class="dashui-widget <%== this.data.attr('class') %>" style="width:20px;height:240px;border:1px solid #888" id="<%= this.data.attr('wid') %>">
        <div class="dashui-widget-body" style="<%= (this.data.reverse == "true" ? "position:absolute; bottom:0%; " : "") %>background-color:<%= this.data.color %>;border:<%= this.data.border %>;box-shadow:<%= this.data.shadow %>;height:<%=  homematic.uiState.attr('_' + this.data.hm_id + '.Value') * this.data.factor %>%;">
            <div data-hm-id="<%= this.data.attr('hm_id') %>">
            </div>
        </div>
    </div>
</script>

