<script type="text/javascript">
    jQuery.extend(dui.binds, {
        basic: {
            rednumber: function (el) {
                var $this = jQuery(el);
                homematic.uiState.bind("change", function( e, attr, how, newVal, oldVal ) {
                    if (attr == ("_"+$this.attr("data-hm-id")+".Value")) {
                        if (parseInt(newVal,10) == 0) {
                            if (dui.urlParams["edit"] !== "") {
                                $this.hide();
                            }
                        } else {
                            $this.show();
                        }
                    }
                });
            },
            toggle: function (el) {
                var $this = jQuery(el);
                var id = $this.attr("data-hm-id");
                $this.click(function () {
                    var val = homematic.uiState["_"+id].Value;
                    if (val === "false") { val = 0;}
                    if (val === "true") { val = 1;}
                    val = parseFloat(val, 10);
                    if (val >= 0.5) { val = 1; } else { val = 0; }
                    jQuery.homematic("setState", id, 1-val);
                })
            }
        }
    }, true);
</script>

<script type="text/ejs" id="tplHtml" class="dashui-tpl" data-dashui-name="basic - static - HTML" data-dashui-attrs="html">
    <div class="dashui-widget <%== this.data.attr('class') %>" style="width: 200px; height: 130px; border: 1px solid #000; background: #fff;" id="<%= this.data.attr('wid') %>">
        <div class="dashui-widget-body">
            <%== this.data.attr('html') %>
        </div>
    </div>
</script>

<script type="text/ejs" id="tplLink" class="dashui-tpl" data-dashui-name="basic - static - link" data-dashui-attrs="html;href;target;alt">
    <div class="dashui-widget <%== this.data.attr('class') %>" style="width: 200px; height: 130px; border: 1px solid #000; background: #fff;" id="<%= this.data.attr('wid') %>">
        <div class="dashui-widget-body">
            <a href="<%== this.data.attr('href') %>" target="<%== this.data.attr("target") %>" alt="<%== this.data.attr("alt") %>" style="text-decoration:none;width:100%;height:100%"><div style="width:100%;height:100%"><%== this.data.attr("html") %></div></a>
        </div>
    </div>
</script>

<script type="text/ejs" id="tplValueFloat" class="dashui-tpl" data-dashui-name="basic - hmvalue - Number" data-dashui-attrs="html_prepend;html_append;hm_id;digits;factor">
    <div class="dashui-widget <%== this.data.attr('class') %>" style="padding: 3px; background-color:#ccc; font-family: Arial; " id="<%= this.data.attr('wid') %>">
        <div class="dashui-widget-body">
            <div data-hm-id="<%= this.data.attr('hm_id') %>">
                <%== this.data.attr("html_prepend") %><%= (parseFloat(homematic.uiState.attr("_" + this.data.hm_id + ".Value")) * this.data.factor).toFixed(this.data.digits) %><%== this.data.attr("html_append") %>
            </div>
        </div>
    </div>
</script>

<script type="text/ejs" id="tplValueString" class="dashui-tpl" data-dashui-name="basic - hmvalue - String" data-dashui-attrs="html_prepend;html_append;hm_id">
    <div class="dashui-widget <%== this.data.attr('class') %>" style="padding: 3px; background-color:#ccc; font-family: Arial; " id="<%= this.data.attr('wid') %>">
        <div class="dashui-widget-body">
            <div data-hm-id="<%= this.data.attr('hm_id') %>">
                <%== this.data.attr("html_prepend") %><%= homematic.uiState.attr("_" + this.data.hm_id + ".Value") %><%== this.data.attr("html_append") %>
            </div>
        </div>
    </div>
</script>

<script type="text/ejs" id="tplValueStringRaw" class="dashui-tpl" data-dashui-name="basic - hmvalue - String (unescaped)" data-dashui-attrs="html_prepend;html_append;hm_id">
    <div class="dashui-widget <%== this.data.attr('class') %>" style="padding: 3px; background-color:#ccc; font-family: Arial; " id="<%= this.data.attr('wid') %>">
        <div class="dashui-widget-body">
            <div data-hm-id="<%= this.data.attr('hm_id') %>">
                <%== this.data.attr("html_prepend") %><%== homematic.uiState.attr("_" + this.data.hm_id + ".Value") %><%== this.data.attr("html_append") %>
            </div>
        </div>
    </div>
</script>

<script type="text/ejs" id="tplValueList" class="dashui-tpl" data-dashui-name="basic - hmvalue - ValueList Text" data-dashui-attrs="html_prepend;html_append;hm_id;valuelist">
    <div class="dashui-widget <%== this.data.attr('class') %>" style="padding: 3px; background-color:#ccc; font-family: Arial; " id="<%= this.data.attr('wid') %>">
        <div class="dashui-widget-body">
            <div data-hm-id="<%= this.data.attr('hm_id') %>">
                <%== this.data.attr("html_prepend") %><% var list = (data.valuelist ? data.valuelist.split(';') : []); %><%= list[parseInt(homematic.uiState.attr("_" + this.data.hm_id + ".Value"),10)] %><%== this.data.attr("html_append") %>
            </div>
        </div>
    </div>
</script>

<script type="text/ejs" id="tplValueListHtml" class="dashui-tpl" data-dashui-name="basic - hmvalue - ValueList HTML" data-dashui-attrs="html_prepend;html_append;hm_id;valuelist">
    <div class="dashui-widget <%== this.data.attr('class') %>" style="padding: 3px; background-color:#ccc; font-family: Arial; " id="<%= this.data.attr('wid') %>">
        <div class="dashui-widget-body">
            <div data-hm-id="<%= this.data.attr('hm_id') %>">
                <%== this.data.attr("html_prepend") %><% var list = (data.valuelist ? data.valuelist.split(';') : []); %><%= list[parseInt(homematic.uiState.attr("_" + this.data.hm_id + ".Value"),10)] %><%== this.data.attr("html_append") %>
            </div>
        </div>
    </div>
</script>

<script type="text/ejs" id="tplValueBool" class="dashui-tpl" data-dashui-name="basic - hmvalue - Bool HTML" data-dashui-attrs="html_prepend;html_append;hm_id;html_false;html_true">
    <div class="dashui-widget <%== this.data.attr('class') %>" style="padding: 3px; background-color:#ccc; font-family: Arial; " id="<%= this.data.attr('wid') %>"  data-hm-id="<%= this.data.attr('hm_id') %>" >
        <div class="dashui-widget-body">
            <div>
                <%== this.data.attr("html_prepend") %>
                <%
                var str = homematic.uiState.attr("_" + this.data.hm_id + ".Value");
                var val = parseFloat(str,10);
                var state;
                if (val == 0 || str == "false") {
                %>
                <%== this.data.attr("html_false") %>
                <% } else { %>
                <%== this.data.attr("html_true") %>
                <% } %>
                <%== this.data.attr("html_append") %>
            </div>
        </div>
    </div>
</script>

<script type="text/ejs" id="tplValueBoolCtrl" class="dashui-tpl" data-dashui-name="basic - hmcontrol - Bool HTML" data-dashui-attrs="html_prepend;html_append;hm_id;html_false;html_true">
    <div class="dashui-widget <%== this.data.attr('class') %>" style="padding: 3px; background-color:#ccc; font-family: Arial; " id="<%= this.data.attr('wid') %>" data-hm-id="<%= this.data.attr('hm_id') %>" <%= (el) -> dui.binds.basic.toggle(el) %>>
    <div class="dashui-widget-body">
        <div>
            <%== this.data.attr("html_prepend") %>
            <%
            var str = homematic.uiState.attr("_" + this.data.hm_id + ".Value");
            var val = parseFloat(str,10);
            var state;
            if (val == 0 || str == "false") {
            %>
            <%== this.data.attr("html_false") %>
            <% } else { %>
            <%== this.data.attr("html_true") %>
            <% } %>
            <%== this.data.attr("html_append") %>
        </div>
    </div>
    </div>
</script>

<script type="text/ejs" id="tplHide" class="dashui-tpl" data-dashui-name="basic - hmvalue - Hide on 0/False" data-dashui-attrs="hm_id">
    <div class="dashui-widget <%== this.data.attr('class') %>" style="padding:3px;width:auto;min-width: 21px; height: 21px; border-radius:16px; border: 3px solid white; background-color:red; color:white; font:normal normal normal 20px/normal Helvetica; text-align: center;" id="<%= this.data.attr('wid') %>" data-hm-id="<%= this.data.attr('hm_id') %>" <%= (el) -> dui.binds.basic.rednumber(el) %>>
    <div class="dashui-widget-body">
        <%= parseInt(homematic.uiState.attr("_"+this.data.hm_id+".Value"), 10) %>
    </div>
    </div>
</script>

<script type="text/ejs" id="tplRedNumber" class="dashui-tpl" data-dashui-name="basic - hmvalue - Red Number" data-dashui-attrs="hm_id">
    <div class="dashui-widget <%== this.data.attr('class') %>" style="padding:3px;width:auto;min-width: 21px; height: 21px; border-radius:16px; border: 3px solid white; background-color:red; color:white; font:normal normal normal 20px/normal Helvetica; text-align: center;" id="<%= this.data.attr('wid') %>" data-hm-id="<%= this.data.attr('hm_id') %>" <%= (el) -> dui.binds.basic.rednumber(el) %>>
    <div class="dashui-widget-body">
        <%= parseInt(homematic.uiState.attr("_"+this.data.hm_id+".Value"), 10) %>
    </div>
    </div>
</script>

<script type="text/ejs" id="tplBulbOnOff" class="dashui-tpl" data-dashui-name="basic - hmvalue - Bulb on/off" data-dashui-attrs="hm_id">
    <div data-hm-id="<%= this.data.attr('hm_id') %>" class="dashui-widget <%== this.data.attr('class') %>" id="<%= this.data.attr('wid') %>">
        <div class="dashui-widget-body">
            <% switch (homematic.uiState.attr("_"+this.data.hm_id+".Value")) { case 0: case "0": case "0.000000": case "false": %>
            <img src="img/bulb_off.png" width="100%"/>
            <% break; default: %>
            <img src="img/bulb_on.png" width="100%"/>
            <% } %>
        </div>
    </div>
</script>

<script type="text/ejs" id="tplBulbOnOffCtrl" class="dashui-tpl" data-dashui-name="basic - hmcontrol - Bulb on/off" data-dashui-attrs="hm_id">
    <div data-hm-id="<%= this.data.attr('hm_id') %>" class="dashui-widget <%== this.data.attr('class') %>" id="<%= this.data.attr('wid') %>" <%= (el) -> dui.binds.basic.toggle(el) %>>
    <div class="dashui-widget-body">
        <% switch (homematic.uiState.attr("_"+this.data.hm_id+".Value")) { case 0: case "0": case "0.000000": case "false": %>
        <img src="img/bulb_off.png" width="100%"/>
        <% break; default: %>
        <img src="img/bulb_on.png" width="100%"/>
        <% } %>
    </div>
    </div>
</script>


<script type="text/ejs" id="tplHmWindowRotary" class="dashui-tpl"  data-dashui-name="hm-icon - hmvalue - Drehgriff" data-dataui-attrs="hm_id">
    <div class="dashui-widget <%== this.data.attr('class') %>" id="<%= this.data.attr('wid') %>" data-hm-id="<%= this.data.attr('hm_id') %>">
        <div class="dashui-widget-body">
            <% switch (homematic.uiState.attr("_" + this.data.hm_id + ".Value")) { case 0: %>
            <img height="28px" src="/ise/img/window/closed.png"/>
            <% break; case 1: %>
            <img height="28px" src="/ise/img/window/open_v.png"/>
            <% break; case 2: %>
            <img height="28px" src="/ise/img/window/open_h.png"/>
            <% } %>
        </div>
    </div>
</script>

<script type="text/ejs" id="tplHmWindow" class="dashui-tpl" data-dashui-name="hm-icon - hmvalue - TFK" data-dashui-attrs="hm_id">
    <div data-hm-id="<%= this.data.attr('hm_id') %>" class="dashui-widget <%== this.data.attr('class') %>" id="<%= this.data.attr('wid') %>" style="height:80px">
        <div class="dashui-widget-body">
            <% switch (homematic.uiState.attr("_" + this.data.hm_id + ".Value")) { case "true": %>
            <img height="100%" src="/ise/img/window/open_h.png"/>
            <% break; default: %>
            <img height="100%" src="/ise/img/window/closed.png"/>
            <% } %>
        </div>
    </div>
</script>


<script type="text/ejs" id="tplContainerView" class="dashui-tpl" data-dashui-name="container - view in widget" data-dashui-attrs="view">
    <div class="dashui-widget <%== this.data.attr('class') %>" style="width: 200px; height: 130px; border: 1px solid #000; background: #fff;" id="<%= this.data.attr('wid') %>">
        <div id="<%= this.data.attr('wid') %>_container" class="dashui-widget-body">
        </div>
    </div>
</script>

<script type="text/ejs" id="tplContainerSelectView" class="dashui-tpl" data-dashui-name="container - hmvalue - select view" data-dashui-attrs="view">
    <div class="dashui-widget <%== this.data.attr('class') %>" style="width: 200px; height: 130px; border: 1px solid #000; background: #fff;" id="<%= this.data.attr('wid') %>">
        <div id="<%= this.data.attr('wid') %>_container" class="dashui-widget-body">
        </div>
    </div>
</script>



