<style type="text/css">
    .fancy-switch{
        border:none;
        background:left no-repeat;
        width:105px;
        height:46px;
        padding:0;
        margin:0;
    }

    .fancy-on, .fancy-off{
        width:50px;
        height:40px;
        display:inline-block;
        cursor:pointer;
    }


</style>
<link rel="stylesheet" type="text/css" href="widgets/fancyswitch/css/jquery.ibutton.min.css"/>

<script type="text/javascript" src="widgets/fancyswitch/js/jquery-ui.toggleSwitch.js"></script>
<script type="text/javascript" src="widgets/fancyswitch/js/jquery.ibutton.min.js"></script>

<script type="text/javascript">
    //jQuery.extend(true, dui.binds, {
        dui.binds.fancyswitch = {
            fancyswitch: function (el, src, reverse) {
                var $this = jQuery(el).parent().find(".fancy-switch");
                var id = $this.attr("data-hm-id");
                var hm_id = "_" + id;
                localData.uiState.bind(hm_id+".Value", function( e, newVal, oldVal ) {

                    var num = parseFloat(newVal, 10);
                    if (num > 0 || newVal === "true" || newVal === true) {
                        if (reverse) {
                            $this.css('background-position', 'right');
                        } else {
                            $this.css('background-position', 'left');
                        }
                        $this.find("input.fancy-on_off[value='0']").removeAttr("checked");
                        $this.find("input.fancy-on_off[value='1']").attr("checked", true);

                    } else {
                        if (reverse) {
                            $this.css('background-position', 'left');
                        } else {
                            $this.css('background-position', 'right');
                        }
                        $this.find("input.fancy-on_off[value='1']").removeAttr("checked");
                        $this.find("input.fancy-on_off[value='0']").attr("checked", true);
                    }
                });

                $this.css('background', 'url("'+src+'")');
                $this.find('.fancy-on_off').css('display','none');
                $this.find('.fancy-on, .fancy-off').css('text-indent','-10000px');

                var newVal = localData.uiState.attr(hm_id+".Value");
                var num = parseFloat(newVal, 10);
                if (num > 0 || newVal === "true" || newVal === true) {
                    if (reverse) {
                        $this.css('background-position', 'right');
                    } else {
                        $this.css('background-position', 'left');
                    }
                } else {
                    if (reverse) {
                        $this.css('background-position', 'left');
                    } else {
                        $this.css('background-position', 'right');
                    }
                }


                if (!dui.editMode) {
                    $this.find("input.fancy-on_off").change(function() {
                        var val = $(this).val();
                        if (reverse) { val = 1 - val; }
                        if (val == '0'){ $this.css('background-position', 'right'); }
                        if (val == '1'){ $this.css('background-position', 'left'); }
                        localData.setValue( id, val);
                    });
                }

            },
            toggleswitch: function (el, options) {
                var $this = jQuery(el).prev();
                $this.toggleSwitch({
                    highlight: options.highlight,
                    width:     options.width,
                    change: function (e) {
                        //console.log(e);
                    }
                });
            },
            ibutton: function (el, options) {
                var $this = jQuery(el);
                //console.log("ibutton "+$this.attr("id"));
                //console.log(options);

                setTimeout(function () {
                    $this.iButton(options);
                }, 20);
                var hm_id = "_" + $this.attr("data-hm-id");
                localData.uiState.bind(hm_id+".Value", function( e, newVal, oldVal ) {
                    var num = parseFloat(newVal, 10);
                    if (num > 0 || newVal == "true" || newVal == true) {
                        //console.log("iButton true");
                        $this.prop("checked",true).trigger("change");//.iButton("repaint");
                    } else {
                        //console.log("iButton false");
                        $this.removeAttr("checked").trigger("change");//.iButton("repaint");
                    }
                });
            }
        };
    //});
</script>


<script type="text/ejs" id="tplFancySwitch1" class="dashui-tpl" data-dashui-set="fancyswitch" data-dashui-name="ctrl - Bool - Switch light Off/On" data-dashui-attrs="hm_id">
    <div class="dashui-widget <%== this.data.attr('class') %>" style="width:105px; height:46px;" id="<%= this.data.attr('wid') %>">
        <div class="dashui-widget-body">
            <fieldset id="<%= this.data.attr('wid') %>_fancy" class="fancy-switch" data-hm-id="<%= this.data.attr('hm_id') %>">
                <label class="fancy-off">Off<input type="radio" class="fancy-on_off" name="<%= this.data.attr('wid') %>_on_off" value="0"/></label>
                <label class="fancy-on">On<input type="radio" class="fancy-on_off" name="<%= this.data.attr('wid') %>_on_off" value="1"/></label>
            </fieldset>
            <div <%= (el) -> dui.binds.fancyswitch.fancyswitch(el, "widgets/fancyswitch/img/fancyswitch-1.png") %>></div>
        </div>
    </div>
</script>

<script type="text/ejs" id="tplFancySwitch2" class="dashui-tpl" data-dashui-set="fancyswitch" data-dashui-name="ctrl - Bool - Slider dark Off/On" data-dashui-attrs="hm_id">
    <div class="dashui-widget <%== this.data.attr('class') %>" style="width:105px; height:46px;" id="<%= this.data.attr('wid') %>">
        <div class="dashui-widget-body">
            <fieldset id="<%= this.data.attr('wid') %>_fancy" class="fancy-switch" data-hm-id="<%= this.data.attr('hm_id') %>">
                <label class="fancy-off">Off<input type="radio" class="fancy-on_off" name="<%= this.data.attr('wid') %>_on_off" value="0"/></label>
                <label class="fancy-on">On<input type="radio" class="fancy-on_off" name="<%= this.data.attr('wid') %>_on_off" value="1"/></label>
            </fieldset>
            <div <%= (el) -> dui.binds.fancyswitch.fancyswitch(el, "widgets/fancyswitch/img/fancyswitch-2.png") %>></div>
        </div>
    </div>
</script>


<script type="text/ejs" id="tplFancyDarkAnAus" class="dashui-tpl" data-dashui-set="fancyswitch" data-dashui-name="ctrl - Bool - Schieber dunkel Ein/Aus" data-dashui-attrs="hm_id">
    <div class="dashui-widget <%== this.data.attr('class') %>" style="width:105px; height:46px;" id="<%= this.data.attr('wid') %>">
        <div class="dashui-widget-body">
            <fieldset id="<%= this.data.attr('wid') %>_fancy" class="fancy-switch" data-hm-id="<%= this.data.attr('hm_id') %>">
                <label class="fancy-off">Off<input type="radio" class="fancy-on_off" name="<%= this.data.attr('wid') %>_on_off" value="0"/></label>
                <label class="fancy-on">On<input type="radio" class="fancy-on_off" name="<%= this.data.attr('wid') %>_on_off" value="1"/></label>
            </fieldset>
            <div <%= (el) -> dui.binds.fancyswitch.fancyswitch(el, "widgets/fancyswitch/img/fancyswitch-3.png") %>></div>
        </div>
    </div>
</script>


<script type="text/ejs" id="tplFancyDarkAnAusRev" class="dashui-tpl" data-dashui-set="fancyswitch" data-dashui-name="ctrl - Bool - Schieber dunkel Aus/Ein" data-dashui-attrs="hm_id">
    <div class="dashui-widget <%== this.data.attr('class') %>" style="width:105px; height:46px;" id="<%= this.data.attr('wid') %>">
        <div class="dashui-widget-body">
            <fieldset id="<%= this.data.attr('wid') %>_fancy" class="fancy-switch" data-hm-id="<%= this.data.attr('hm_id') %>">
                <label class="fancy-off">Off<input type="radio" class="fancy-on_off" name="<%= this.data.attr('wid') %>_on_off" value="0"/></label>
                <label class="fancy-on">On<input type="radio" class="fancy-on_off" name="<%= this.data.attr('wid') %>_on_off" value="1"/></label>
            </fieldset>
            <div <%= (el) -> dui.binds.fancyswitch.fancyswitch(el, "widgets/fancyswitch/img/fancyswitch-4.png") %>></div>
        </div>
    </div>
</script>


<script type="text/ejs" id="tplFancyDarkAnAusWippe" class="dashui-tpl" data-dashui-set="fancyswitch" data-dashui-name="ctrl - Bool - Wippe dunkel Aus/Ein" data-dashui-attrs="hm_id">
    <div class="dashui-widget <%== this.data.attr('class') %>" style="width:105px; height:46px;" id="<%= this.data.attr('wid') %>">
        <div class="dashui-widget-body">
            <fieldset id="<%= this.data.attr('wid') %>_fancy" class="fancy-switch" data-hm-id="<%= this.data.attr('hm_id') %>">
                <label class="fancy-off">Off<input type="radio" class="fancy-on_off" name="<%= this.data.attr('wid') %>_on_off" value="0"/></label>
                <label class="fancy-on">On<input type="radio" class="fancy-on_off" name="<%= this.data.attr('wid') %>_on_off" value="1"/></label>
            </fieldset>
            <div <%= (el) -> dui.binds.fancyswitch.fancyswitch(el, "widgets/fancyswitch/img/fancyswitch-5.png") %>></div>
        </div>
    </div>
</script>


<script type="text/ejs" id="tplFancyGivaIButton" class="dashui-tpl" data-dashui-set="fancyswitch" data-dashui-name="ctrl - Bool - Giva Labs iButton"
        data-dashui-attrs="hm_id;labelOn[ON];labelOff[OFF];resizeHandle[auto]/auto,true,false;resizeContainer[auto]/auto,true,false;enableDrag/checkbox;enableFx/checkbox;duration[200]/slider,0,5000,100">
    <div class="dashui-widget <%== this.data.attr('class') %>" style="top:0px; left:0px;" id="<%= this.data.attr('wid') %>" >
        <div class="dashui-widget-body">
            <div>
                <input type="checkbox" name="<%= this.data.attr('wid') %>_checkbox"
                       id="<%= this.data.attr('wid') %>_checkbox"
                       data-hm-id="<%= this.data.attr('hm_id') %>"
                       value="1"
                        <%= (el) -> dui.binds.basic.checkbox(el); dui.binds.fancyswitch.ibutton(el, {duration: data.attr('duration'), labelOn: data.attr('labelOn'), labelOff: data.attr('labelOff'), resizeHandle: data.attr('resizeHandle'), resizeContainer: data.attr('resizeContainer'), enableDrag: data.attr('enableDrag'), enableFx: data.attr('enableFx')}); %>/>
            </div>
        </div>
    </div>
</script>

<script type="text/ejs" id="tplFancyToggleswitch" class="dashui-tpl" data-dashui-set="fancyswitch" data-dashui-name="ctrl - Bool - Taitem jqui Toggleswitch" data-dashui-attrs="html_prepend;html_append;hm_id;text_true[ON];text_false[OFF];highlight/checkbox;width[40]/slider,10,500,1">
    <div class="dashui-widget <%== this.data.attr('class') %>" style="padding-left:10px;" id="<%= this.data.attr('wid') %>" >
        <div class="dashui-widget-body">
            <div>
                <%== this.data.attr("html_prepend") %>
                <select id="<%= this.data.attr('wid') %>_select" data-hm-id="<%= this.data.attr('hm_id') %>">
                    <option value="0"><%= this.data.attr('text_false') %></option>
                    <option value="1"><%= this.data.attr('text_true') %></option>
                </select>
                <div <%= (el) -> dui.binds.basic.select(el); dui.binds.fancyswitch.toggleswitch(el, {highlight:data.attr('highlight'), width:data.attr('width')}); %>></div>
            <%== this.data.attr("html_append") %>
        </div>
    </div>
    </div>
</script>
