<link rel="stylesheet" href="widgets/hqWidgets/css/hqWidgets.css" type="text/css" />
<link rel="stylesheet" href="widgets/hqWidgets/css/hqWidgetsButtons.css" type="text/css" />
<link rel="stylesheet" href="widgets/colorpicker/css/farbtastic.css" type="text/css" />
<script type="text/javascript" src="widgets/colorpicker/js/farbtastic.js"></script>
<script type="text/javascript" src="widgets/hqWidgets/js/hqWidgets.js"></script>


<script type="text/javascript">
if ((typeof hqWidgets !== 'undefined')) {
    jQuery.extend(true, dui.binds, {
        hqWidgetsExt: {
            version: "0.1.3",
            inited:  false,
            hqIgnoreNextUpdate: null, // id of controlled element
            hqMapping: {},
            hqInit: function () {
                if (homematic === undefined || homematic.uiState === undefined || homematic.uiState.bind === undefined )
                    return;
                    
                if (dui.binds.hqWidgetsExt.inited)
                    return;
                
                dui.binds.hqWidgetsExt.inited = true;
                
                // Init hqWidgets engine
                hqWidgets.Init ({gPictDir: "widgets/hqWidgets/img/"});
                if (hqWidgets.version != dui.binds.hqWidgetsExt.version) {
                    window.alert ("The versions of hqWidgets.js and hqWidgets.html are different. Expected version of hqWidgets.js is " +dui.binds.hqWidgetsExt.version);
                }
                
                /*homematic.uiState.bind("change", function( e, attr, how, newVal, oldVal ) {
                    if (how != "set") 
                        return;
                    
                    // extract name
                    attr = attr.substring (1);
                    var i = attr.indexOf (".");
                    if (i != -1)
                        attr = attr.substring (0, i);
                    if (homematic.uiState["_" + attr]["Certain"])
                        dui.binds.hqWidgetsExt.hqMonitor (attr, homematic.uiState["_" + attr]["Value"], homematic.uiState["_" + attr]["Timestamp"]);
                });*/
                
                if (dui.binds.hqWidgetsExt.hqEditInit) {
                    dui.binds.hqWidgetsExt.hqEditInit ();
                }
            },
            hqEditStore: null, // overload this function by edit
            hqButtonExt: function (el, options, wtype, view) {
                var opt = (options != undefined && options != null) ? $.parseJSON(options) : dui.binds.hqWidgetsExt.hqEditDefault (wtype);
                var hm_ids = new Array ();
                // Define store settings function
                var adv = {store: dui.binds.hqWidgetsExt.hqEditStore};
                
                if (opt.buttonType === undefined) {
                    opt.buttonType = hqWidgets.gButtonType.gTypeButton;
                }
                
                // If first creation
                if (wtype === undefined) {
                    // non-edit mode => define event handlers
                    if (opt.buttonType == hqWidgets.gButtonType.gTypeDimmer) {
                        adv = $.extend (adv, {action: function (obj, what, state) {
                            var hm_id   = obj.GetSettings ('hm_id');
                            var time_id = hm_id;
                            if (hm_id != null && hm_id != "") {
                                if (homematic.regaObjects[hm_id] && homematic.regaObjects[hm_id]["DPs"] && homematic.regaObjects[hm_id]["DPs"]["LEVEL"]) {
                                    hm_id = homematic.regaObjects[hm_id]["DPs"]["LEVEL"];
                                }
                                else 
                                    time_id = null;
                                
                                if (what == 'state') {
                                    // Send on time to dimmer
                                    if (state != hqWidgets.gState.gStateOn) {                                            
                                        /*if (time_id != null) {
                                            if (homematic.regaObjects[time_id] && homematic.regaObjects[time_id]["DPs"] && homematic.regaObjects[time_id]["DPs"]["ON_TIME"]) {
                                                time_id = homematic.regaObjects[time_id]["DPs"]["ON_TIME"];
                                                var on_time = obj.GetSettings ('dimmerOnTime');
                                                if (on_time !== undefined && on_time != null && on_time != "")
                                                    homematic.setValue( time_id, on_time);
                                            }
                                        }*/
                                            
                                        obj.SetStates ({percentState: 100, state: hqWidgets.gState.gStateOn, isRefresh: true});
                                        // Send command to HM
                                                                
                                        homematic.setValue( hm_id, 1);                        
                                    }
                                    else {
                                        // Send ramp time settings to dimmer
                                        /*if (time_id != null) {
                                            if (homematic.regaObjects[time_id] && homematic.regaObjects[time_id]["DPs"] && homematic.regaObjects[time_id]["DPs"]["RAMP_TIME"]) {
                                                time_id = homematic.regaObjects[time_id]["DPs"]["RAMP_TIME"];
                                                var on_time = obj.GetSettings ('dimmerRampTime');
                                                if (on_time !== undefined && on_time != null && on_time != "")
                                                    homematic.setValue( time_id, on_time);
                                            }
                                        }*/

                                        obj.SetStates ({percentState: 0, state: hqWidgets.gState.gStateOff, isRefresh: true});
                                        // Send command to HM
                                        homematic.setValue( hm_id, 0);                        
                                    }
                                }
                                else {
                                    if (state != 0) {
                                        obj.SetStates ({state: hqWidgets.gState.gStateOn});
                                    }
                                    else {
                                        obj.SetStates ({state: hqWidgets.gState.gStateOff});
                                    }
                                    console.log ("SetState: "+ hm_id + " = " + (state / 100));
                                    // Send command to HM
                                    homematic.setValue( hm_id, state / 100);                                  
                                }  
                            }                                
                        }});
                        // Fill up the required IDs
                        var t = 0;
                        if (opt["hm_id"] != null && opt["hm_id"] != "") {
                            if (homematic.regaObjects[opt["hm_id"]] && homematic.regaObjects[opt["hm_id"]]["DPs"] && homematic.regaObjects[opt["hm_id"]]["DPs"]["LEVEL"]) {
                                hm_ids[t++] = {hm_id: homematic.regaObjects[opt["hm_id"]]["DPs"]["LEVEL"],    option: 'percentState'}; // First is always main element
                                hm_ids[t++] = {hm_id: homematic.regaObjects[opt["hm_id"]]["DPs"]["WORKING"],  option: 'isWorking'};
                                hm_ids[t++] = {hm_id: homematic.regaObjects[opt["hm_id"]]["DPs"]["RAMP_TIME"],option: 'dimmerRampTime'}; 
                                hm_ids[t++] = {hm_id: homematic.regaObjects[opt["hm_id"]]["DPs"]["ON_TIME"],  option: 'dimmerOnTime'}; 
                            }
                            else {
                                hm_ids[t++] = {hm_id: opt.hm_id, option: 'percentState'};
                            }
                        }                        
                    }
                    else
                    if (opt.buttonType == hqWidgets.gButtonType.gTypeButton) {
                        adv = $.extend (adv, {action: function (obj, what, state) {
                            var hm_id = obj.GetSettings ('hm_id');
                            if (hm_id != null && hm_id != "") {
                                if (homematic.regaObjects[opt.hm_id] && homematic.regaObjects[opt.hm_id]["DPs"] && homematic.regaObjects[opt.hm_id]["DPs"]["STATE"])
                                    hm_id = homematic.regaObjects[opt.hm_id]["DPs"]["STATE"];
                                if (state != hqWidgets.gState.gStateOn) {
                                    state = hqWidgets.gState.gStateOn;
                                }
                                else {
                                    state = hqWidgets.gState.gStateOff;
                                }
                                obj.SetStates ({state: state, isRefresh: true, isRefresh: true});
                                // Send command to HM
                                homematic.setValue(hm_id, (state == hqWidgets.gState.gStateOn)); 
                            }                                
                        }});
                        // Fill up the required IDs
                        var t = 0;
                        if (opt.hm_id != null && opt.hm_id != "") {
                            if (homematic.regaObjects[opt.hm_id] && homematic.regaObjects[opt.hm_id]["DPs"] && homematic.regaObjects[opt.hm_id]["DPs"]["STATE"]) {
                                hm_ids[t++] = {hm_id: homematic.regaObjects[opt.hm_id]["DPs"]["STATE"], option: 'state'};
                            }
                            else {
                                hm_ids[t++] = {hm_id: opt.hm_id, option: 'state'};
                            }
                        }
                    }
                    else
                    if (opt.buttonType == hqWidgets.gButtonType.gTypeBlind) {
                        adv = $.extend (adv, {action: function (obj, what, state) {
                            var hm_id = obj.GetSettings ('hm_id');
                            if (hm_id != null && hm_id != "") {
                                if (homematic.regaObjects[hm_id] && homematic.regaObjects[hm_id]["DPs"] && homematic.regaObjects[hm_id]["DPs"]["LEVEL"]) {
                                    hm_id = homematic.regaObjects[hm_id]["DPs"]["LEVEL"];
                                }
                                obj.SetStates ({isRefresh: true});
                                // Send command to HM
                                homematic.setValue( hm_id, (100 - state) / 100);  
                            }                                
                        }});
                        // Fill up the required IDs
                        var t = 0;
                        if (opt.hm_id != null && opt.hm_id != "") {
                            if (homematic.regaObjects[opt["hm_id"]] && homematic.regaObjects[opt["hm_id"]]["DPs"] && homematic.regaObjects[opt["hm_id"]]["DPs"]["LEVEL"]) {
                                hm_ids[t++] = {hm_id: homematic.regaObjects[opt["hm_id"]]["DPs"]["LEVEL"],   option: 'percentState'}; // First is always main element
                                hm_ids[t++] = {hm_id: homematic.regaObjects[opt["hm_id"]]["DPs"]["WORKING"], option: 'isWorking'};
                                for (var i = 0; i < 4; i++) {
                                    if (opt['hm_id'+i] != undefined) {
                                        if (opt['hm_id'+i] != null && opt['hm_id'+i] != "")
                                            hm_ids[t++] = {hm_id: homematic.regaObjects[opt['hm_id'+i]]["DPs"]["STATE"], option: 'windowState', index:i};   
                                    }
                                    if (opt['hm_id_hnd'+i] != undefined) {
                                        if (opt['hm_id_hnd'+i] != null && opt['hm_id_hnd'+i] != "")
                                            hm_ids[t++] = {hm_id: homematic.regaObjects[opt['hm_id_hnd'+i]]["DPs"]["STATE"], option: 'handleState', index:i};   
                                    }
                                }
                            }
                            else {
                                hm_ids[t++] = {hm_id: opt.hm_id, option: 'percentState'};
                            }
                        }                        
                    }
                    else
                    if (opt.buttonType == hqWidgets.gButtonType.gTypeInTemp) {
                        adv = $.extend (adv, {action: function (obj, what, state) {
                            var hm_id = obj.GetSettings ('hm_id');
                            if (hm_id != null && hm_id != "") {
                                if (homematic.regaObjects[opt['hm_id']] && homematic.regaObjects[opt['hm_id']]["Channels"] && homematic.regaObjects[opt['hm_id']]["Channels"][2]) {
                                    hm_id = homematic.regaObjects[homematic.regaObjects[opt['hm_id']]["Channels"][2]]["DPs"]["SETPOINT"];
                                }
                                console.log ("SetTemp: "+ hm_id + " = " + state);
                                // Send command to HM
                                homematic.setValue (hm_id, state);                                  
                            }                                
                        }});
                        // Fill up the required IDs
                        var t = 0;
                        if (opt['hm_id'] != null && opt['hm_id'] != "") {
                            if (homematic.regaObjects[opt['hm_id']] && homematic.regaObjects[opt['hm_id']]["Channels"] && homematic.regaObjects[opt['hm_id']]["Channels"][1]) {
                                var weatherId = homematic.regaObjects[opt['hm_id']]["Channels"][1];
                                var controlId = homematic.regaObjects[opt['hm_id']]["Channels"][2];
                                hm_ids[t++] = {hm_id: homematic.regaObjects[controlId]["DPs"]["SETPOINT"],    option: 'valueSet'}; // First is always control element
                                hm_ids[t++] = {hm_id: homematic.regaObjects[weatherId]["DPs"]["TEMPERATURE"], option: 'temperature'}; 
                                hm_ids[t++] = {hm_id: homematic.regaObjects[weatherId]["DPs"]["HUMIDITY"],    option: 'humidity'};
                            }
                            else {
                                hm_ids[t++] = {hm_id: opt['hm_id'], option: 'temperature'};
                            }
                            if (opt["hm_idV"]) {
                                if (homematic.regaObjects[opt["hm_idV"]] && homematic.regaObjects[opt["hm_idV"]]["DPs"])
                                    hm_ids[t++] = {hm_id: homematic.regaObjects[opt["hm_idV"]]["DPs"]["VALVE_STATE"], option: 'valve'};
                                else
                                    hm_ids[t++] = {hm_id: opt["hm_idV"], option: 'valve'};
                                adv = $.extend (adv, {'hideValve': false});
                            }
                            else {
                                adv = $.extend (adv, {'hideValve': true});
                            }
                        }  
                    }
                    else
                    if (opt.buttonType == hqWidgets.gButtonType.gTypeOutTemp) {
                        // Fill up the required IDs
                        var t = 0;
                        if (opt['hm_id'] != null && opt['hm_id'] != "") {
                            if (homematic.regaObjects[opt['hm_id']] && homematic.regaObjects[opt['hm_id']]["DPs"]) {
                                hm_ids[t++] = {'hm_id': homematic.regaObjects[opt['hm_id']]["DPs"]["TEMPERATURE"], option: 'temperature'}; 
                                hm_ids[t++] = {'hm_id': homematic.regaObjects[opt['hm_id']]["DPs"]["HUMIDITY"],    option: 'humidity'};
                            }
                            else {
                                hm_ids[t++] = {'hm_id': opt['hm_id'], option: 'temperature'};
                            }
                        }  
                    }
                    else
                    if (opt.buttonType == hqWidgets.gButtonType.gTypeDoor) {
                        // Fill up the required IDs
                        var t = 0;
                        if (opt['hm_id'] != null && opt['hm_id'] != "") {
                            if (homematic.regaObjects[opt["hm_id"]] && homematic.regaObjects[opt["hm_id"]]["DPs"] && homematic.regaObjects[opt["hm_id"]]["DPs"]["STATE"]) {
                                hm_ids[t++] = {'hm_id': homematic.regaObjects[opt["hm_id"]]["DPs"]["STATE"], option: 'state'}; 
                            }
                            else {
                                hm_ids[t++] = {'hm_id': opt['hm_id'], option: 'state'};
                            }
                        }  
                    }
                    else
                    if (opt.buttonType == hqWidgets.gButtonType.gTypeLock) {
                       adv = $.extend (adv, {action: function (obj, what, state) {
                            var hm_id = obj.GetSettings ('hm_id');
                            if (hm_id != null && hm_id != "") {
                                obj.SetStates ({isRefresh: true});
                                if (state == hqWidgets.gLockType.gLockClose ||
                                    state == hqWidgets.gLockType.gLockOpen)
                                {
                                    if (homematic.regaObjects[hm_id] && homematic.regaObjects[hm_id]["DPs"] && homematic.regaObjects[hm_id]["DPs"]["STATE"])
                                        hm_id = homematic.regaObjects[hm_id]["DPs"]["STATE"];
                                     // Send command to HM
                                    homematic.setValue( hm_id, (state == hqWidgets.gLockType.gLockClose) ? "false" : "true");
                                }
                                else { // Open door
                                    if (homematic.regaObjects[hm_id] && homematic.regaObjects[hm_id]["DPs"] && homematic.regaObjects[hm_id]["DPs"]["OPEN"])
                                        hm_id = homematic.regaObjects[hm_id]["DPs"]["OPEN"];
                                    // Send command to HM
                                    homematic.setValue( hm_id, "true");
                                }
                            }                            
                        }});
                        // Fill up the required IDs
                        var t = 0;
                        if (opt['hm_id'] != null && opt['hm_id'] != "") {
                            if (homematic.regaObjects[opt["hm_id"]] && homematic.regaObjects[opt["hm_id"]]["DPs"] && homematic.regaObjects[opt["hm_id"]]["DPs"]["STATE"]) {
                                hm_ids[t++] = {'hm_id': homematic.regaObjects[opt["hm_id"]]["DPs"]["STATE"],   option: 'state'}; 
                                hm_ids[t++] = {'hm_id': homematic.regaObjects[opt["hm_id"]]["DPs"]["OPEN"],    option: 'open'}; 
                                //hm_ids[t++] = {'hm_id': opt['hm_id'] + ".WORKING", option: 'isWorking'};
                            }
                            else {
                                hm_ids[t++] = {'hm_id': opt['hm_id'], option: 'state'};
                            }
                        }  
                    }
                    else
                    if (opt.buttonType == hqWidgets.gButtonType.gTypeInfo) {
                        // Fill up the required IDs
                        var t = 0;
                        if (opt['hm_id'] != null && opt['hm_id'] != "") {
                            hm_ids[t++] = {'hm_id': opt['hm_id'], option: 'infoText'};
                        }  
                    }                
                    else
                    if (opt.buttonType == hqWidgets.gButtonType.gTypeCam) {
                        if (dui.urlParams["edit"] === undefined) {
                            adv = $.extend (adv, {state: hqWidgets.gState.gStateOff, isWorking: false,
                                action: function (obj, what, state) {                                    
                                    var hm_id = obj.GetSettings ('hm_id');
                                    if (hm_id != null && hm_id != "") {
                                        if (homematic.regaObjects[hm_id] && homematic.regaObjects[hm_id]["DPs"] && homematic.regaObjects[hm_id]["DPs"]["STATE"]) {
                                            hm_id = homematic.regaObjects[hm_id]["DPs"]["STATE"];
                                        }
                                        // Send command to HM
                                        homematic.setValue( hm_id, "true");
                                    }                            
                                }});
                        }                    
                        // Fill up the required IDs
                        var t = 0;
                        if (opt['hm_id'] != null && opt['hm_id'] != "") {
                            if (homematic.regaObjects[opt["hm_id"]] && homematic.regaObjects[opt["hm_id"]]["DPs"] && homematic.regaObjects[opt["hm_id"]]["DPs"]["STATE"]) {
                                hm_ids[t++] = {'hm_id': homematic.regaObjects[opt["hm_id"]]["DPs"]["STATE"], option: 'open'}; 
                            }
                            else {
                                hm_ids[t++] = {'hm_id': opt['hm_id'], option: 'open'};
                            }
                        }  
                    }   
                    else
                    if (opt.buttonType == hqWidgets.gButtonType.gTypeGong) {
                        adv = $.extend (adv, {action: function (obj, what, state) {
                            if (dui.urlParams["edit"] === undefined) {
                                // Open the door
                                if (what == 'open') {
                                    var hm_id = obj.GetSettings ('hm_idL');
                                    if (hm_id != null && hm_id != "") {
                                        if (homematic.regaObjects[hm_id] && homematic.regaObjects[hm_id]["DPs"] && homematic.regaObjects[hm_id]["DPs"]["OPEN"]) {
                                            hm_id = homematic.regaObjects[hm_id]["DPs"]["OPEN"];
                                        }
                                        // Send command to HM
                                        homematic.setValue( hm_id, "true");
                                    }   
                                }
                                else { // Play melody or blink with LED
                                    var hm_id = obj.GetSettings ('hm_id');
                                    if (hm_id != null && hm_id != "") {
                                        if (homematic.regaObjects[opt["hm_id"]] && homematic.regaObjects[opt["hm_id"]]["DPs"] && homematic.regaObjects[opt["hm_id"]]["DPs"]["STATE"]) {
                                            hm_id = homematic.regaObjects[opt["hm_id"]]["DPs"]["STATE"];
                                        }
                                        // Send command to HM
                                        homematic.setValue( hm_id, "true");
                                        // Switch of in 2 seconds
                                        setTimeout (function (id) { homematic.setState( id, "false");}, 2000, hm_id);
                                    }                            
                                }  
                            }                                
                        }});
                        // Fill up the required IDs
                        var t = 0;
                        if (opt['hm_id'] != null && opt['hm_id'] != "") {
                            if (homematic.regaObjects[opt["hm_id"]] && homematic.regaObjects[opt["hm_id"]]["DPs"] && homematic.regaObjects[opt["hm_id"]]["DPs"]["STATE"]) {
                                hm_ids[t++] = {'hm_id': homematic.regaObjects[opt["hm_id"]]["DPs"]["STATE"], option: 'state'}; 
                            }
                            else {
                                hm_ids[t++] = {'hm_id': opt['hm_id'], option: 'state'};
                            }
                        }  
                        if (opt['hm_idL']) {
                            if (homematic.regaObjects[opt["hm_idL"]] && homematic.regaObjects[opt["hm_idL"]]["DPs"] && homematic.regaObjects[opt["hm_idL"]]["DPs"]["STATE"])
                                hm_ids[t++] = {hm_id: homematic.regaObjects[opt["hm_idL"]]["DPs"]["STATE"], option: 'open'};
                            else
                                hm_ids[t++] = {hm_id: opt['hm_idL'], option: 'open'};
                        }
                    }   
                    else
                    if (opt.buttonType == hqWidgets.gButtonType.gTypeImage) {
                        if (opt.width === 0 || opt.width === "0")
                            opt.width = undefined;
                        if (opt.height === 0 || opt.height === "0")
                            opt.height = undefined;
                    }
                    else
                    if (opt.buttonType == hqWidgets.gButtonType.gTypeGauge) {
                        // Fill up the required IDs
                        var t = 0;
                        if (opt['hm_id'] != null && opt['hm_id'] != "") {
                            hm_ids[t++] = {'hm_id': opt['hm_id'], option: 'valueSet'}; 
                        }  
                    }
                }
                
                var btn = hqWidgets.Create (opt, {elemName: el, parent: $("#duiview_"+view)});//dui.activeView)});
 
                // Create signal translators
                if (wtype === undefined) {
                    if (opt.buttonType == hqWidgets.gButtonType.gTypeButton) {
                        btn = $.extend (btn, {translateSignal: function (options, value) {
                            return (value === true || value === "true") ? hqWidgets.gState.gStateOn : hqWidgets.gState.gStateOff;
                        }});
                    }
                    else
                    if (opt.buttonType == hqWidgets.gButtonType.gTypeDimmer) {
                        btn = $.extend (btn, {translateSignal: function (options, value) {
                            if (options == "percentState")
                                return Math.floor (value * 100);
                            else // working
                                return (value === true || value === "true") ? true : false;
                        }});
                    }
                    else
                    if (opt.buttonType == hqWidgets.gButtonType.gTypeBlind) {
                        btn = $.extend (btn, {translateSignal: function (options, value) {
                            if (options == "percentState")
                                return Math.floor (100 - (value * 100));
							else
							if (options == "handleState")
								return value;
                            else // working
                                return (value === true || value === "true") ? true : false;
                        }});
                    }
                    else
                    if (opt.buttonType == hqWidgets.gButtonType.gTypeInTemp ||
                        opt.buttonType == hqWidgets.gButtonType.gTypeOutTemp) {
                        // remove "--"
                        btn.SetStates ({temperature: 0, valve: 0, humidity: 0, valueSet: 0});
                        btn = $.extend (btn, {translateSignal: function (options, value) {
                            if (options == "valueSet")
                                return (value == 0) ? dui.translate ("Off") : ((value == 100) ? dui.Tramslate ("On") : value);
                            else // temperature, humidity, valve
                                return value;
                        }});                        
                    }
                    else
                    if (opt.buttonType == hqWidgets.gButtonType.gTypeLock) {
                        btn = $.extend (btn, {translateSignal: function (options, value) {
                            return (value === false || value === "false") ? hqWidgets.gState.gStateOn : hqWidgets.gState.gStateOff;
                        }});
                    }
                    else
                    if (opt.buttonType == hqWidgets.gButtonType.gTypeInfo ||
                        opt.buttonType == hqWidgets.gButtonType.gTypeGauge) {
                        btn = $.extend (btn, {translateSignal: function (options, value) {
                            return value;
                        }});
                    }
                    else {
                        btn = $.extend (btn, {translateSignal: function (options, value) {
                            return (value === true || value === "true") ? hqWidgets.gState.gStateOn : hqWidgets.gState.gStateOff;
                        }});
                     }
                }

 
                // Enable edit mode
                if (dui.urlParams["edit"] === "") {
                    btn.SetEditMode (true);
                    if (dui.binds.hqWidgetsExt.hqEditDetectMoving) {
                        // install timer to detect moving
                        clearTimeout (dui.binds.hqWidgetsExt.hqEditTimerDetectMoving);
                        dui.binds.hqWidgetsExt.hqEditDetectMoving ();
                    }
                } 
                else {
                    for (var i = 0; i < hm_ids.length; i++) {
                         // Register hm_id to detect changes
                        //$.homematic("addUiState", hm_ids[i].hm_id);
                        // Store mapping
                        var j = 0;
                        while (dui.binds.hqWidgetsExt.hqMapping[hm_ids[i].hm_id+'_'+j])
                            j++;
                            
                        dui.binds.hqWidgetsExt.hqMapping[hm_ids[i].hm_id+'_'+j] = {button: btn, option: hm_ids[i].option, index: hm_ids[i].index};
                        /*if (i > 0) {
                            btn.intern._jelement.append ("<div id='"+el+"helper_"+i+"' data-hm-id='"+hm_ids[i].hm_id +"' style='display: none' />");
                        } 
                        else {
                            btn.intern._jelement.attr('data-hm-id', hm_ids[0].hm_id);
                        } */      
                        // Set actual state
                        this.hqMonitor (hm_ids[i].hm_id, homematic.uiState["_"+hm_ids[i].hm_id]["Value"], false);
                    }
                }
                 
                btn.SetStates (adv);
                btn.intern._jelement.addClass("dashui-widget");
                
                // Store options
                var newOpt = JSON.stringify (btn.GetSettings (false, true));
                $('#'+el).attr ('hqoptions', newOpt);
                
            },
            hqMonitor: function (wid, newState, timestamp) {
                
                console.log(wid+"["+dui.getObjDesc (wid)+"] = "+newState);
                var i = 0;
                while (dui.binds.hqWidgetsExt.hqMapping[wid+'_'+i]) {
                
                    var change = {};
                    change[dui.binds.hqWidgetsExt.hqMapping[wid+'_'+i].option] = dui.binds.hqWidgetsExt.hqMapping[wid+'_'+i].button.translateSignal (dui.binds.hqWidgetsExt.hqMapping[wid+'_'+i].option, newState);
                    change['isRefresh'] = false;
                    
                    // If new percent state
                    if (dui.binds.hqWidgetsExt.hqMapping[wid+'_'+i].option == 'percentState') {
                        var type = dui.binds.hqWidgetsExt.hqMapping[wid+'_'+i].button.GetSettings('buttonType');
                        // Remove unknown state of the button and if dimmer select valid state
                        if (type == hqWidgets.gButtonType.gTypeDimmer)
                            change['state'] = (newState > 0) ? hqWidgets.gState.gStateOn : hqWidgets.gState.gStateOff;
                        else
                            change['state'] = hqWidgets.gState.gStateOff; // Remove unknown state
                    }
                    else
                    if (dui.binds.hqWidgetsExt.hqMapping[wid+'_'+i].option == 'windowState') {
                        change['state'] = hqWidgets.gState.gStateOff; // Remove unknown state
                        dui.binds.hqWidgetsExt.hqMapping[wid+'_'+i].button.SetWindowState (dui.binds.hqWidgetsExt.hqMapping[wid+'_'+i].index, (newState == "true") ? hqWidgets.gWindowState.gWindowOpened : hqWidgets.gWindowState.gWindowClosed);
                        i++;
                        continue;
                    }
                    else
                    if (dui.binds.hqWidgetsExt.hqMapping[wid+'_'+i].option == 'handleState') {
                        // 0. CLOSED, 1. TILTED, 2.OPEN ab  V1.6 ???
                        // 0. Closed, 1. tilted, 2.open bis V1.6
                        var wndState = undefined;
                        var opt    = dui.binds.hqWidgetsExt.hqMapping[wid+'_'+i].button.GetSettings('hm_id'+dui.binds.hqWidgetsExt.hqMapping[wid+'_'+i].index);
                        // Get sensor version
                        var newVer = dui.binds.hqWidgetsExt.hqMapping[wid+'_'+i].button.GetSettings('newVersion');
                        if (newVer === undefined || newVer === null)
                            newVer = false;
                        var nState = newState;
                            
                        if ((!newVer && newState == "2") || (newVer && newState == "2")) {
                            wndState = hqWidgets.gWindowState.gWindowOpened;
                            nState = hqWidgets.gHandlePos.gPosOpened;
                        }
                        else
                        if ((!newVer && newState == "1") || (newVer && newState == "1")) {
                            wndState = hqWidgets.gWindowState.gWindowTilted;
                            nState = hqWidgets.gHandlePos.gPosTilted;
                        }
                        else {
                            wndState = hqWidgets.gWindowState.gWindowClosed;
                            nState = hqWidgets.gHandlePos.gPosClosed;
                        }
                        
                        // If contact sensor => set the valid position from sensor
                        if (opt !== undefined && opt != null && opt != "") 
                            wndState = undefined;
                            
                        dui.binds.hqWidgetsExt.hqMapping[wid+'_'+i].button.SetWindowState (dui.binds.hqWidgetsExt.hqMapping[wid+'_'+i].index, wndState, nState);
                        i++;
                        continue;
                    }
                        
                    dui.binds.hqWidgetsExt.hqMapping[wid+'_'+i].button.SetStates (change);
                    i++;
                }
            },    
        }
    });

    dui.binds.hqWidgetsExt.hqInit ();
}
</script>

<script type="text/ejs" id="tplHqButton" class="dashui-tpl" data-dashui-set="hqWidgets" data-dashui-name="On/Off" data-dashui-attrs="hqoptions" data-hqwidgets-filter="HM-LC-Sw1-Pl,HM-LC-Sw1-FM,HM-Dis-TD-T,HM-LC-Sw2-FM,HM-LC-Sw1PBU-FM,HM-LC-Sw1-SM,HM-LC-Sw1-FM,HM-LC-Sw2-FM,HM-LC-Sw4-SM,HM-LC-Sw4-DR,HM-LC-Sw4-WM,HM-Sec-SFA-SM,HM-OU-CF-Pl,HM-OU-CFM-Pl,HMW-LC-Sw2-DR,HM-LC-Sw1-PB-FM,HM-LC-Sw2-PB-FM">
    <% 
        if (this && this.data && this.data.attr) {
            if (this.data.attr('hqoptions')){
                dui.binds.hqWidgetsExt.hqButtonExt (this.data.wid, this.data.attr('hqoptions'), undefined, this.view); 
            }
            else {
                dui.binds.hqWidgetsExt.hqButtonExt (this.data.wid, undefined, "tplHqButton", this.view); 
            }
        }
    %>
</script>
<script type="text/ejs" id="tplHqDimmer" class="dashui-tpl" data-dashui-set="hqWidgets" data-dashui-name="Dimmer" data-dashui-attrs="hqoptions" data-hqwidgets-filter="HM-LC-Dim1TPBU-FM,HM-LC-Dim1PWM-CV,HM-LC-Dim1T-FM,HM-LC-Dim1T-CV,HM-LC-Dim1T-PI,HM-LC-Dim1L-CV,HM-LC-Dim1L-Pl,HM-LC-Dim2L-SM,HMW-LC-Dim1L-DR">
    <% 
        if (this && this.data && this.data.attr) {
            if (this.data.attr('hqoptions')){
                dui.binds.hqWidgetsExt.hqButtonExt (this.data.wid, this.data.attr('hqoptions'), undefined, this.view); 
            }
            else {
                dui.binds.hqWidgetsExt.hqButtonExt (this.data.wid, undefined, "tplHqDimmer", this.view); 
            }
        }
    %></script>
<script type="text/ejs" id="tplHqShutter" class="dashui-tpl" data-dashui-set="hqWidgets" data-dashui-name="Window and Shutter" data-dashui-attrs="hqoptions" data-hqwidgets-filter="HM-LC-Bl1-SM,HMW-LC-Bl1-DR,HM-LC-Bl1-FM;HM-Sec-SC,CC-SC-Rd-WM-W-R5,FHT80TF-2;HM-Sec-RHS">
    <% 
        if (this && this.data && this.data.attr) {
            if (this.data.attr('hqoptions')){
                dui.binds.hqWidgetsExt.hqButtonExt (this.data.wid, this.data.attr('hqoptions'), undefined, this.view); 
            }
            else {
                dui.binds.hqWidgetsExt.hqButtonExt (this.data.wid, undefined, "tplHqShutter", this.view); 
            }
        }
    %>
</script>
<script type="text/ejs" id="tplHqInTemp" class="dashui-tpl" data-dashui-set="hqWidgets" data-dashui-name="Inside temperature" data-dashui-attrs="hqoptions" data-hqwidgets-filter="HM-CC-TC;HM-CC-VD">
    <% 
        if (this && this.data && this.data.attr) {
            if (this.data.attr('hqoptions')){
                dui.binds.hqWidgetsExt.hqButtonExt (this.data.wid, this.data.attr('hqoptions'), undefined, this.view); 
            }
            else {
                dui.binds.hqWidgetsExt.hqButtonExt (this.data.wid, undefined, "tplHqInTemp", this.view); 
            }
        }
    %>
</script>
<script type="text/ejs" id="tplHqOutTemp" class="dashui-tpl" data-dashui-set="hqWidgets" data-dashui-name="Temperature" data-dashui-attrs="hqoptions" data-hqwidgets-filter="HM-WDC7000,HM-WDS10-TH-O,HM-WDS40-TH-I,HM-WDS100-C6-O,HM-WDS30-T-O">
    <% 
        if (this && this.data && this.data.attr) {
            if (this.data.attr('hqoptions')){
                dui.binds.hqWidgetsExt.hqButtonExt (this.data.wid, this.data.attr('hqoptions'), undefined, this.view); 
            }
            else {
                dui.binds.hqWidgetsExt.hqButtonExt (this.data.wid, undefined, "tplHqOutTemp", this.view); 
            }
        }
    %>
</script>
<script type="text/ejs" id="tplHqDoor" class="dashui-tpl" data-dashui-set="hqWidgets" data-dashui-name="Door" data-dashui-attrs="hm_id;hqoptions" data-hqwidgets-filter="HM-Sec-SC,HM-SCI-3-FM,HMW-Sen-SC-12-DR,HMW-IO-12-Sw14-DR">
    <% 
        if (this && this.data && this.data.attr) {
            if (this.data.attr('hqoptions')){
                dui.binds.hqWidgetsExt.hqButtonExt (this.data.wid, this.data.attr('hqoptions'), undefined, this.view); 
            }
            else {
                dui.binds.hqWidgetsExt.hqButtonExt (this.data.wid, undefined, "tplHqDoor", this.view); 
            }
        }
    %>
</script>
<script type="text/ejs" id="tplHqLock" class="dashui-tpl" data-dashui-set="hqWidgets" data-dashui-name="Lock" data-dashui-attrs="hm_id;hqoptions" data-hqwidgets-filter="HM-Sec-Key-S">
    <% 
        if (this && this.data && this.data.attr) {
            if (this.data.attr('hqoptions')){
                dui.binds.hqWidgetsExt.hqButtonExt (this.data.wid, this.data.attr('hqoptions'), undefined, this.view); 
            }
            else {
                dui.binds.hqWidgetsExt.hqButtonExt (this.data.wid, undefined, "tplHqLock", this.view); 
            }
        }
    %>
</script>
<script type="text/ejs" id="tplHqText" class="dashui-tpl" data-dashui-set="hqWidgets" data-dashui-name="Text" data-dashui-attrs="hqoptions">
    <% 
        if (this && this.data && this.data.attr) {
            if (this.data.attr('hqoptions')){
                dui.binds.hqWidgetsExt.hqButtonExt (this.data.wid, this.data.attr('hqoptions'), undefined, this.view); 
            }
            else {
                dui.binds.hqWidgetsExt.hqButtonExt (this.data.wid, undefined, "tplHqText", this.view); 
            }
        }
    %>
</script>
<script type="text/ejs" id="tplHqInfo" class="dashui-tpl" data-dashui-set="hqWidgets" data-dashui-name="Info" data-dashui-attrs="hm_id;hqoptions">
    <% 
        if (this && this.data && this.data.attr) {
            if (this.data.attr('hqoptions')){
                dui.binds.hqWidgetsExt.hqButtonExt (this.data.wid, this.data.attr('hqoptions'), undefined, this.view); 
            }
            else {
                dui.binds.hqWidgetsExt.hqButtonExt (this.data.wid, undefined, "tplHqInfo", this.view); 
            }
        }
    %>
</script>
<script type="text/ejs" id="tplHqImage" class="dashui-tpl" data-dashui-set="hqWidgets" data-dashui-name="Image" data-dashui-attrs="hqoptions">
    <% 
        if (this && this.data && this.data.attr) {
            if (this.data.attr('hqoptions')){
                dui.binds.hqWidgetsExt.hqButtonExt (this.data.wid, this.data.attr('hqoptions'), undefined, this.view); 
            }
            else {
                dui.binds.hqWidgetsExt.hqButtonExt (this.data.wid, undefined, "tplHqImage", this.view); 
            }
        }
    %>
</script>
<script type="text/ejs" id="tplHqCam" class="dashui-tpl" data-dashui-set="hqWidgets" data-dashui-name="IpCamera" data-dashui-attrs="hm_id;hqoptions" data-hqwidgets-filter=".STATE,.OPEN,HM-Sec-Key-S,HM-LC-Sw4-WM,HM-LC-Sw1-Pl,HM-LC-SW1-FM,HM-LC-Sw2-FM,HM-LC-Sw1-SM,HM-LC-Sw4-SM,HM-LC-Sw1-BA-PCB">
    <% 
        if (this && this.data && this.data.attr) {
            if (this.data.attr('hqoptions')){
                dui.binds.hqWidgetsExt.hqButtonExt (this.data.wid, this.data.attr('hqoptions'), undefined, this.view); 
            }
            else {
                dui.binds.hqWidgetsExt.hqButtonExt (this.data.wid, undefined, "tplHqCam", this.view); 
            }
        }
    %>
</script>
<script type="text/ejs" id="tplHqGong" class="dashui-tpl" data-dashui-set="hqWidgets" data-dashui-name="Gong" data-dashui-attrs="hm_id;hqoptions" data-hqwidgets-filter="HM-OU-CFM-Pl,HM-Sec-SFA-SM,HM-OU-CF-Pl,HM-Sec-SC,HM-SCI-3-FM,HMW-Sen-SC-12-DR,HMW-IO-12-Sw14-DR;.STATE,.OPEN,HM-Sec-Key-S,HM-LC-Sw4-WM,HM-LC-Sw1-Pl,HM-LC-SW1-FM,HM-LC-Sw2-FM,HM-LC-Sw1-SM,HM-LC-Sw4-SM,HM-LC-Sw1-BA-PCB">
    <% 
        if (this && this.data && this.data.attr) {
            if (this.data.attr('hqoptions')){
                dui.binds.hqWidgetsExt.hqButtonExt (this.data.wid, this.data.attr('hqoptions'), undefined, this.view); 
            }
            else {
                dui.binds.hqWidgetsExt.hqButtonExt (this.data.wid, undefined, "tplHqGong", this.view); 
            }
        }
    %>
</script>
<script type="text/ejs" id="tplHqGauge" class="dashui-tpl" data-dashui-set="hqWidgets" data-dashui-name="Gauge" data-dashui-attrs="hm_id;hqoptions">
    <% 
        if (this && this.data && this.data.attr) {
            if (this.data.attr('hqoptions')){
                dui.binds.hqWidgetsExt.hqButtonExt (this.data.wid, this.data.attr('hqoptions'), undefined, this.view); 
            }
            else {
                dui.binds.hqWidgetsExt.hqButtonExt (this.data.wid, undefined, "tplHqGauge", this.view); 
            }
        }
    %>
</script>
