<link rel="stylesheet" type="text/css" href="widgets/knob/css/knobKnob.css" />
<style type="text/css">
    .rot-knob{
        background-image: url(widgets/knob/img/blueplastic.png);
    }
    .black{
        background-image: url(widgets/knob/img/blackgear.png);
    }
    .circle{
        background-image: url(widgets/knob/img/circle.png);
    }
    .lumen{
        background-image: url(widgets/knob/img/lumen.png);
    }
    .silver {
        background-image: url(widgets/knob/img/silver.png);
    }
    .grey128 { background-image: url(widgets/knob/img/grey-128px.png); }
    .grey100 { background-image: url(widgets/knob/img/grey-100px.png); }
    .grey128l { background-image: url(widgets/knob/img/grey-line-128px.png); }
    .grey100l { background-image: url(widgets/knob/img/grey-line-100px.png); }
    .grey128m { background-image: url(widgets/knob/img/grey-minmax-128px.png); }
    .grey100m { background-image: url(widgets/knob/img/grey-minmax-100px.png); }
    .grey64 { background-image: url(widgets/knob/img/grey-64px.png); }
    .black48 { background-image: url(widgets/knob/img/blackplastic-circle-48px.png); }
    .black80 { background-image: url(widgets/knob/img/blackplastic-circle-80px.png); }
    .white { background-image: url(widgets/knob/img/whiteknob.png); }
</style>
<script type="text/javascript" src="widgets/knob/js/transform.js"></script>
<script type="text/javascript" src="widgets/knob/js/knobKnob.jquery.js"></script>
<script type="text/javascript" src="widgets/knob/js/jquery.knob.js"></script>
<script type="text/javascript" src="widgets/knob/js/knobRot-0.2.2.js"></script>

<script type="text/javascript">
    //jQuery.extend(true, dui.binds, {
        dui.binds.knob = {
            knobrot: function (el, options, factor){
                factor = parseInt(factor, 10);
                if (factor == 0) { factor = 1; }
                var $this = jQuery(el);
                console.log(" factor="+factor);
                var id = $this.attr("data-hm-id");
                options = $.extend(true, {

                }, options);
                $this.knobRot(options);
                $this.bind("knobrefresh", function (a) {
                    var val = (a.target.value / factor);
                    localData.setValue(id, val);
                });
                var hm_id = "_" + id;
                localData.uiState.bind(hm_id+".Value", function( e, newVal, oldVal ) {
                    if (isNaN(newVal)) {
                        newVal = 0;
                    }
                   var val = (newVal*factor).toFixed(0);
                    $this.val(val);
                    $this.knobRot("set", val).trigger("knobrefresh");

                });
            },
            knob: function (el) {
                var $this = jQuery(el);
                var id = $this.attr("data-hm-id");
                $this.knob({
                    change: function (val) {
                        if (!dui.editMode) {
                            localData.setValue(id, val / 100);
                        }
                    }
                });
                var hm_id = "_" + id;
                localData.uiState.bind(hm_id+".Value", function( e, newVal, oldVal ) {
                    $this.val(newVal*100).trigger("change");
                });
            },
            shinyknob: function (el, type) {
                var $this = jQuery(el);
                var id = $this.attr("data-hm-id");
                    $this.knobKnob({
                        snap: 5,
                        turn: function (val) {
                            if (!dui.editMode) {
                                localData.setValue(id, val.toFixed(2));
                            }
                        }
                    });

                var hm_id = "_" + id;
                /*homematic.uiState.bind(hm_id+".Value", function( e, newVal, oldVal ) {
                 $this.knobKnob({
                 snap: 5,
                 //value: 0.5,
                 turn: function (val) {
                 homematic.setState( id, val.toFixed(2));

                 }
                 });
                 });*/
            }
        };

    //});
</script>


<script type="text/ejs" id="tplKnob" class="dashui-tpl" data-dashui-set="knob" data-dashui-name="ctrl - Knob" data-dashui-attrs="html;hm_id;fgColor;bgColor;width;angleOffset;angleArc;linecap;cursor;thickness;displayInput;readOnly">
    <div class="dashui-widget <%== this.data.attr('class') %>" style="" id="<%= this.data.attr('wid') %>">
        <div class="dashui-widget-body">
            <input type="text"
                   data-width="<%= this.data.attr('width') %>"
                   data-fgColor="<%= this.data.attr('fgColor') %>"
                   data-bgColor="<%= this.data.attr('bgColor') %>"
                   data-angleOffset="<%= this.data.attr('angleOffset') %>"
                   data-angleArc="<%= this.data.attr('angleArc') %>"
                   data-linecap="<%= this.data.attr('linecap') %>"
                   data-cursor="<%= this.data.attr('cursor') %>"
                   data-thickness="<%= this.data.attr('thickness') %>"
                   data-displayInput="<%= this.data.attr('displayInput') %>"
                   data-readOnly="<%= this.data.attr('readOnly') %>"
                   data-hm-id="<%= this.data.attr('hm_id') %>"
            <%= (el) -> dui.binds.knob.knob(el) %> />
        </div>
    </div>
</script>

<script type="text/ejs" id="tplShinyknob" class="dashui-tpl" data-dashui-set="knob" data-dashui-name="ctrl - Shinyknob (unfertig)" data-dashui-attrs="html;hm_id">
    <div class="dashui-widget <%== this.data.attr('class') %>" style="" id="<%= this.data.attr('wid') %>">
        <div class="dashui-widget-body">
            <div data-hm-id="<%= this.data.attr('hm_id') %>" <%= (el) -> dui.binds.knob.shinyknob(el) %>></div>
        </div>
    </div>
</script>




<script type="text/ejs" id="tplKnobRotLumen" class="dashui-tpl" data-dashui-set="knob" data-dashui-name="ctrl - knobRot Lumen" data-dashui-attrs="html;hm_id;factor;min;max">
    <div class="dashui-widget <%== this.data.attr('class') %>" style="" id="<%= this.data.attr('wid') %>">
        <div class="dashui-widget-body">
            <input data-hm-id="<%= this.data.attr('hm_id') %>" type="text" value="0" style="" <%= (el) -> dui.binds.knob.knobrot(el,{classes:['lumen'],frameWidth: 90, frameHeight: 90, frameCount: 31,minimumValue:data.attr('min'),maximumValue:data.attr('max')},data.attr('factor')) %>/>
        </div>
    </div>
</script>

<script type="text/ejs" id="tplKnobRotSilver" class="dashui-tpl" data-dashui-set="knob" data-dashui-name="ctrl - knobRot Silver" data-dashui-attrs="html;hm_id;factor;min;max">
    <div class="dashui-widget <%== this.data.attr('class') %>" style="" id="<%= this.data.attr('wid') %>">
        <div class="dashui-widget-body">
            <input data-hm-id="<%= this.data.attr('hm_id') %>" type="text" value="0" style="" <%= (el) -> dui.binds.knob.knobrot(el,{classes:['silver'],frameWidth: 100, frameHeight: 100, frameCount: 31,minimumValue:data.attr('min'),maximumValue:data.attr('max')},data.attr('factor')) %>/>
        </div>
    </div>
</script>

<script type="text/ejs" id="tplKnobRotGrey128" class="dashui-tpl" data-dashui-set="knob" data-dashui-name="ctrl - knobRot Grey 128px" data-dashui-attrs="html;hm_id;factor;min;max">
    <div class="dashui-widget <%== this.data.attr('class') %>" style="" id="<%= this.data.attr('wid') %>">
        <div class="dashui-widget-body">
            <input data-hm-id="<%= this.data.attr('hm_id') %>" type="text" value="0" style="" <%= (el) -> dui.binds.knob.knobrot(el,{classes:['grey128'],frameWidth: 128, frameHeight: 128, frameCount: 51,minimumValue:data.attr('min'),maximumValue:data.attr('max')},data.attr('factor')) %>/>
        </div>
    </div>
</script>

<script type="text/ejs" id="tplKnobRotGrey100" class="dashui-tpl" data-dashui-set="knob" data-dashui-name="ctrl - knobRot Grey 100px" data-dashui-attrs="html;hm_id;factor;min;max">
    <div class="dashui-widget <%== this.data.attr('class') %>" style="" id="<%= this.data.attr('wid') %>">
        <div class="dashui-widget-body">
            <input data-hm-id="<%= this.data.attr('hm_id') %>" type="text" value="0" style="" <%= (el) -> dui.binds.knob.knobrot(el,{classes:['grey100'],frameWidth: 100, frameHeight: 100, frameCount: 51,minimumValue:data.attr('min'),maximumValue:data.attr('max')},data.attr('factor')) %>/>
        </div>
    </div>
</script>
<script type="text/ejs" id="tplKnobRotGreyMM128" class="dashui-tpl" data-dashui-set="knob" data-dashui-name="ctrl - knobRot Grey MinMax 128px" data-dashui-attrs="html;hm_id;factor;min;max">
    <div class="dashui-widget <%== this.data.attr('class') %>" style="" id="<%= this.data.attr('wid') %>">
        <div class="dashui-widget-body">
            <input data-hm-id="<%= this.data.attr('hm_id') %>" type="text" value="0" style="" <%= (el) -> dui.binds.knob.knobrot(el,{classes:['grey128m'],frameWidth: 128, frameHeight: 128, frameCount: 51,minimumValue:data.attr('min'),maximumValue:data.attr('max')},data.attr('factor')) %>/>
        </div>
    </div>
</script>

<script type="text/ejs" id="tplKnobRotGreyMM100" class="dashui-tpl" data-dashui-set="knob" data-dashui-name="ctrl - knobRot Grey MinMax 100px" data-dashui-attrs="html;hm_id;factor;min;max">
    <div class="dashui-widget <%== this.data.attr('class') %>" style="" id="<%= this.data.attr('wid') %>">
        <div class="dashui-widget-body">
            <input data-hm-id="<%= this.data.attr('hm_id') %>" type="text" value="0" style="" <%= (el) -> dui.binds.knob.knobrot(el,{classes:['grey100m'],frameWidth: 100, frameHeight: 100, frameCount: 51,minimumValue:data.attr('min'),maximumValue:data.attr('max')},data.attr('factor')) %>/>
        </div>
    </div>
</script>
<script type="text/ejs" id="tplKnobRotGreyL128" class="dashui-tpl" data-dashui-set="knob" data-dashui-name="ctrl - knobRot Grey Line 128px" data-dashui-attrs="html;hm_id;factor;min;max">
    <div class="dashui-widget <%== this.data.attr('class') %>" style="" id="<%= this.data.attr('wid') %>">
        <div class="dashui-widget-body">
            <input data-hm-id="<%= this.data.attr('hm_id') %>" type="text" value="0" style="" <%= (el) -> dui.binds.knob.knobrot(el,{classes:['grey128l'],frameWidth: 128, frameHeight: 128, frameCount: 51,minimumValue:data.attr('min'),maximumValue:data.attr('max')},data.attr('factor')) %>/>
        </div>
    </div>
</script>

<script type="text/ejs" id="tplKnobRotGreyL100" class="dashui-tpl" data-dashui-set="knob" data-dashui-name="ctrl - knobRot Grey Line 100px" data-dashui-attrs="html;hm_id;factor;min;max">
    <div class="dashui-widget <%== this.data.attr('class') %>" style="" id="<%= this.data.attr('wid') %>">
        <div class="dashui-widget-body">
            <input data-hm-id="<%= this.data.attr('hm_id') %>" type="text" value="0" style="" <%= (el) -> dui.binds.knob.knobrot(el,{classes:['grey100l'],frameWidth: 100, frameHeight: 100, frameCount: 51,minimumValue:data.attr('min'),maximumValue:data.attr('max')},data.attr('factor')) %>/>
        </div>
    </div>
</script>
<script type="text/ejs" id="tplKnobRotGrey64" class="dashui-tpl" data-dashui-set="knob" data-dashui-name="ctrl - knobRot Grey 64px" data-dashui-attrs="html;hm_id;factor;min;max">
    <div class="dashui-widget <%== this.data.attr('class') %>" style="" id="<%= this.data.attr('wid') %>">
        <div class="dashui-widget-body">
            <input data-hm-id="<%= this.data.attr('hm_id') %>" type="text" value="0" style="" <%= (el) -> dui.binds.knob.knobrot(el,{classes:['grey64'],frameWidth: 64, frameHeight: 64, frameCount: 51,minimumValue:data.attr('min'),maximumValue:data.attr('max')},data.attr('factor')) %>/>
        </div>
    </div>
</script>


<script type="text/ejs" id="tplKnobRotBlack80" class="dashui-tpl" data-dashui-set="knob" data-dashui-name="ctrl - knobRot Black 80px" data-dashui-attrs="html;hm_id;factor;min;max">
    <div class="dashui-widget <%== this.data.attr('class') %>" style="" id="<%= this.data.attr('wid') %>">
        <div class="dashui-widget-body">
            <input data-hm-id="<%= this.data.attr('hm_id') %>" type="text" value="0" style="" <%= (el) -> dui.binds.knob.knobrot(el,{classes:['black80'],frameWidth: 80, frameHeight: 80, frameCount: 51,minimumValue:data.attr('min'),maximumValue:data.attr('max')},data.attr('factor')) %>/>
        </div>
    </div>
</script>

<script type="text/ejs" id="tplKnobRotBlack48" class="dashui-tpl" data-dashui-set="knob" data-dashui-name="ctrl - knobRot Black 48px" data-dashui-attrs="html;hm_id;factor;min;max">
    <div class="dashui-widget <%== this.data.attr('class') %>" style="" id="<%= this.data.attr('wid') %>">
        <div class="dashui-widget-body">
            <input data-hm-id="<%= this.data.attr('hm_id') %>" type="text" value="0" style="" <%= (el) -> dui.binds.knob.knobrot(el,{classes:['black48'],frameWidth: 48, frameHeight: 48, frameCount: 51,minimumValue:data.attr('min'),maximumValue:data.attr('max')},data.attr('factor')) %>/>
        </div>
    </div>
</script>

<script type="text/ejs" id="tplKnobRotWhite" class="dashui-tpl" data-dashui-set="knob" data-dashui-name="ctrl - knobRot White" data-dashui-attrs="html;hm_id;factor;min;max">
    <div class="dashui-widget <%== this.data.attr('class') %>" style="" id="<%= this.data.attr('wid') %>">
        <div class="dashui-widget-body">
            <input data-hm-id="<%= this.data.attr('hm_id') %>" type="text" value="0" style="" <%= (el) -> dui.binds.knob.knobrot(el,{classes:['white'],frameWidth: 50, frameHeight: 50, frameCount: 41,minimumValue:data.attr('min'),maximumValue:data.attr('max')},data.attr('factor')) %>/>
        </div>
    </div>
</script>
