<script type="text/javascript">
    jQuery.extend(true, dui.binds, {
        special: {
            preRenderView: function(el, view, delay) {
                if (dui.urlParams["edit"] === "") {
                    jQuery(el).parent().parent().show();
                } else {
                    if (parseInt(delay, 10) > 0) {
                        setTimeout(function (_v) {
                            dui.renderView(_v, true, true);
                        }, delay, view);
                    } else {
                        dui.renderView(view, true, true);
                    }
                }
            },
            instance: dui.initInstance
        }
    });

</script>
<script type="text/ejs" id="tplPreRenderView" class="dashui-tpl" data-dashui-set="dashui" data-dashui-name="special - pre-render view" data-dashui-attrs="prerender">
    <div class="dashui-widget <%== this.data.attr('class') %>" style="display:none; width: 320px; height: 20px; background-color: #333; color: #eee; border: 2px dashed red; opacity:0.8;" id="<%= this.data.attr('wid') %>">
        <div class="dashui-widget-body">
            <b>pre-render view: <%= this.data.attr('prerender') %></b>
            <div <%= (el) -> dui.binds.special.preRenderView(el, data.attr('prerender')) %>></div>
        </div>
    </div>
</script>


<script type="text/ejs" id="tplInitInstance" class="dashui-tpl" data-dashui-set="dashui" data-dashui-name="special - create Instance" data-dashui-attrs="prerender">
    <div class="dashui-widget <%== this.data.attr('class') %>" style="display:none; width: 320px; height: 20px; background-color: #333; color: #eee; border: 2px dashed red; opacity:0.8;" id="<%= this.data.attr('wid') %>">
        <div class="dashui-widget-body">
            <b>Instance</b>
            <div <%= (el) -> dui.binds.special.instance() %>></div>
        </div>
    </div>
</script>