<script type="text/javascript" src="js/jquery.touchSwipe.min.js">
</script>
<script type="text/javascript">
    jQuery.extend(true, dui.binds, {
      swipe: {


        swipe_nav: function(el) {
          if (dui.urlParams["edit"] !== "") {
         
            $('body').swipe({
              swipeLeft: function() {
               
              var $this = $("#duiview_"+dui.activeView).find("[id$=swipe]")
                //console.log($this);

             // var options= {nav_view:$this.attr('Left-nav_view'),hideOptions:{effect:"slide",options:{direction: "left"},duration:$this.attr('duration')},showOptions:{effect:"slide",options:{direction: "right"},duration:$this.attr('duration')}};
             //   console.log(options);

              if ($this.attr('Left-nav_view') != undefined && $this.attr('Left-nav_view')!= null){
                dui.changeView($this.attr('Left-nav_view'), {effect:"slide",options:{direction: "left"},duration:$this.attr('duration')},{effect:"slide",options:{direction: "right"},duration:$this.attr('duration')})
              }
            },
              swipeRight: function() {
                var $this = $("#duiview_"+dui.activeView).find("[id$=swipe]")
                  //console.log($this);

              if ($this.attr('Right-nav_view')!= undefined && $this.attr('Right-nav_view') != null){
                dui.changeView($this.attr('Right-nav_view'), {effect:"slide",options:{direction: "right"},duration:$this.attr('duration')},{effect:"slide",options:{direction: "left"},duration:$this.attr('duration')})
              }
            }
            });
          }
        },
      }
    });
</script>
<script type="text/ejs" id="tplswipe" class="dashui-tpl" data-dashui-set="swipe" data-dashui-name="swipe Navigation" data-dashui-attrs="Left-nav_view;Right-nav_view;duration">

  <div class = "dashui-widget <%== this.data.attr('class') %>" style="width: 90px; height: 60px;" id="<%= this.data.attr('wid') %>" <%= (el) -> dui.binds.swipe.swipe_nav(el) %>>
    <div id="<%= this.data.attr('wid') %>_swipe"  class="dashui-widget-body"
      Left-nav_view="<%= this.data.attr('Left-nav_view') %>" 
      Right-nav_view="<%= this.data.attr('Right-nav_view') %>" 
      duration="<%= this.data.attr('duration') %>" >

      <%if (dui.urlParams["edit"] == "") {%>
        <div class="dashui-widget-body" style="width: 70px; height: 40px; border: 1px solid #000; margin:10px 0px 0px 10px; ; background: #FF0000">
            <label style="width:70px" >Swipe Navigation</label>
        </div>
      <% } %>          
    </div>
  </div>
</script>
