<script type="text/javascript" src="widgets/swipe/js/jquery.touchSwipe.min.js"></script>
<script type="text/javascript" src="widgets/swipe/js/jquery.roundabout.min.js"></script>
<script type="text/javascript" src="widgets/swipe/js/jquery.roundabout-shapes.js"></script>
<link rel="stylesheet" type="text/css" href="widgets/swipe/css/swipe.css"/>
<script type="text/javascript">
    //jQuery.extend(true, dui.binds, {
        dui.binds.swipe = {

            swipe_nav: function (el, data) {

                if (dui.editMode) {
                    jQuery(el).show();
                }

                var $this = jQuery(el);

                setTimeout(function () {
                    var $view = $($this).parent();

                    if (!dui.editMode) {
                        $($view).swipe({
                            swipeLeft: function () {
                                dui.changeView(data['Left_nav_view'], {effect: data['Left-out_effect'], options: {direction: data['Left-out_eff_opt'], queue: false}, duration: $this.attr('duration')}, {effect:  data['Left-in_effect'], options: {direction:  data['Left-in_eff_opt'], queue: false}, duration: $this.attr('duration')}, true)
                            },
                            swipeRight: function () {
                                dui.changeView(data['Right_nav_view'], {effect: data['Right-out_effect'], options: {direction: data['Right-out_eff_opt'], queue: false}, duration: $this.attr('duration')}, {effect: data['Right-in_effect'], options: {direction: data['Right-in_eff_opt'], queue: false}, duration: $this.attr('duration')}, true)
                            }
                        });
                    }
                }, 1);
            },

            karu: function (el, _child_view) {
                var $this = jQuery(el);

                setTimeout(function () {
                    var $child_view = $($this).find('#duiview_' + _child_view);

                    var $all = $($this).find(".dashui-widget");


//                    if (!dui.editMode) {

                    $.each($all, function () {

                        var id = $(this).attr("id")
                        var id_old_pos = $("#" + id).position();

                        var id_and_childs = $($child_view).children('[id^=' + id + ']');

                        if (id_and_childs.length == 1) {
                            $("#" + id).css({
                                top: 0,
                                left: 0

                            });

                            $(id_and_childs).wrapAll('<li id="li_' + id + '" class="li_karu" ></li>');
                            $("#li_" + id).css({
                                height: $("#" + id).css("height"),
                                width: $("#" + id).css("width")


                            });
                        } else {

                            $(id_and_childs).wrapAll('<div id="wrap_' + id + '" style="position:absolute;height:50px;width:50px; left:' + id_old_pos.left * -1 + 'px;top:' + id_old_pos.top * -1 + 'px"  ></div>');
                            $("#wrap_" + id).wrap('<li id="li_' + id + '" class="li_karu"></li>');
                            $("#li_" + id).css({
                                height: $("#" + id).css("height"),
                                width: $("#" + id).css("width")
                            });
                        }

                    });

                    $($($child_view).children('.li_karu')).append('<div class="karu_blocking"></div>');
                    $($($child_view).children('.li_karu')).wrapAll("<ul id='karu'></ul>");

                    $("#karu").bind('round_ready', function () {
                        var child = $(".roundabout-in-focus").children();
                        $(child[1]).removeClass("karu_blocking")
                    });

                    $("#karu").roundabout({
                        clickToFocus: true,
                        enableDrag: true,
                        dragFactor: 2,
                        minZ: 1,
                        maxZ: 100,
                        tilt: -4,
                        minOpacity: 0.2,
                        minScale: 1,
                        childSelector: ".li_karu",
                        triggerFocusEvents: true,
                        triggerBlurEvents: true,

                    });


                    $(".li_karu").bind('round_focus', function () {
                        var child = $(this).children();
                        $(child[1]).removeClass("karu_blocking")
                        $(this).removeClass("roundabout-moveable-item")
                    });
                    $(".li_karu").bind('round_blur', function () {
                        var child = $(this).children();
                        $(child[1]).addClass("karu_blocking")
                        $(this).addClass("roundabout-moveable-item")
                    });
//                    }
                }, 0);
            }
        };
    //});
</script>

<script type="text/ejs" id="tplswipe" class="dashui-tpl" data-dashui-set="swipe" data-dashui-name="swipe Navigation" data-dashui-attrs="Left_nav_view;Left-in_effect[slide];Left-in_eff_opt[right];Left-out_effect[slide];Left-out_eff_opt[left];_hr;Right_nav_view;Right-in_effect[slide];Right-in_eff_opt[left];Right-out_effect[slide];Right-out_eff_opt[right];duration">
    <div class = "dashui-widget <%== this.data.attr('class') %>" style="display: none; width: 160px; height: 64px; background-color: #333; color: #eee; border: 2px dashed red; opacity:0.8;" id="<%= this.data.attr('wid') %>" <%= (el) -> dui.binds.swipe.swipe_nav(el,data) %>>
        <div id="<%= this.data.attr('wid') %>_swipe" class="dashui-widget-body">
            <div class="dashui-widget-body" style="">
                <b>Swipe Navigation</b><br/>
                left &gt; <%= this.data.attr('Left_nav_view') %><br/>
                right &lt; <%= this.data.attr('Right_nav_view') %>
            </div>
        </div>
    </div>
</script>


<script type="text/ejs" id="tplkaru" class="dashui-tpl" data-dashui-set="swipe" data-dashui-name="Karusell" data-dashui-attrs="contains_view">
    <div class = "dashui-widget <%== this.data.attr('class') %>" style="width: 300px; height: 100px;" id="<%= this.data.attr('wid') %>" <%= (el) -> dui.binds.swipe.karu(el,data.attr('contains_view')) %>>
        <% if (dui.editMode) { %>
            <div class="editmode-helper" />
        <% } %>
        <div id="<%= this.data.attr('wid') %>_container" data-dashui-contains="<%= this.data.attr('contains_view') %>" class="dashui-widget-body"></div>
    </div>
</script>