<link rel="stylesheet" type="text/css" href="widgets/timeAndWeather/css/flipclock.css" />
<link rel="stylesheet" type="text/css" href="widgets/timeAndWeather/css/jquery.jdigiclock.css" />
<link rel="stylesheet" type="text/css" href="widgets/timeAndWeather/css/yahoo.css" />
<link rel="stylesheet" type="text/css" href="widgets/timeAndWeather/css/simpleclock.css" />
<script type="text/javascript" src="widgets/timeAndWeather/js/flipclock/libs/prefixfree.min.js"></script>
<script type="text/javascript" src="widgets/timeAndWeather/js/flipclock/flipclock.min.js"></script>
<script type="text/javascript" src="widgets/timeAndWeather/js/jquery.jdigiclock.js"></script>
<script type="text/javascript" src="widgets/timeAndWeather/js/jquery.zweatherfeed.js"></script>
<script type="text/javascript" src="widgets/timeAndWeather/js/coolclock.js"></script>
<script type="text/javascript" src="widgets/timeAndWeather/js/moreskins.js"></script>

<!--script src="widgets/timeAndWeather/js/coolclock.js"></script>
<script src="widgets/timeAndWeather/js/moreskins.js"></script-->

<script language="javascript">
    "use strict";

	// Init words
	dui.translate("");
	// Add words for bars
	jQuery.extend(true, dui.words, {
		"hideSeconds"      : {"en" : "Hide seconds",  "de": "Zeige keine Sekunden","ru": "Скрыть секунды"},
		"blink"            : {"en" : "Blink",         "de": "Blinken",             "ru": "Мигать"},
		"showWeekDay"      : {"en" : "Show day of week", "de": "Wochentag",        "ru": "День недели"},
		"noClass"          : {"en" : "No style",      "de": "Kein Stil",           "ru": "Без стиля"},
        "weoid"            : {"en" : "City",          "de": "Stadt",               "ru": "Город"},
		"shortWeekDay"     : {"en" : "Short week day","de": "Kurzer Wochentag",    "ru": "Короткий день недели"},
		"shortYear"        : {"en" : "Short year",    "de": "Kurzes Jahr",         "ru": "Короткий год"},
		"prependZero"      : {"en" : "Prepend zero",  "de": "Null vorne",          "ru": "Ноль в начале"},
		"monthWord"        : {"en" : "Month as word", "de": "Monat als text",      "ru": "Месяц словом"},
		"shortMonth"       : {"en" : "Short month",   "de": "Kurzer Monat",        "ru": "Короткий месяц"},
		"americanOrder"    : {"en" : "American format","de": "USA-Format",         "ru": "Формат USA"},
        "City:"            : {"en" : "City:",         "de": "Stadt:",              "ru": "Город:"}
	});
    //jQuery.extend(true, dui.binds, {
        dui.binds.timeAndWeather = {
            startTime: function (view, elem, hideSeconds, blink, noClass, timerId) {
                var today = new Date();
                var h =     today.getHours();
                var m =     today.getMinutes();
                var s =     today.getSeconds();
                // add a zero in front of numbers<10
                m = (m<10) ? ("0"+m) : m;
                if (!hideSeconds) {
                    s = (s<10) ? ("0"+s) : s;
                }
                h = (h<10) ? ("0"+h) : h;
                var hl = document.getElementById(elem);
                if (hideSeconds === "false") {
                    hideSeconds = false;
                }
                if (!hl) {
                    $('#duiview_'+view).append('<div class="dashui-widget'+ (noClass ? '' : ' clock') + '" id="'+elem+'" ></div>');
                    hl = document.getElementById(elem);
                    hl.dashId = today.getTime();
                }
                if (hl && (timerId === undefined || hl.dashId == timerId)) {
                    if (hideSeconds) {
                        hl.innerHTML = h+'<span style="display:inline-block" id="'+elem+'_space">:</span>'+m;
                        if (blink && (s%2)) {
                            var r = $('#'+elem+'_space');
                            var w = r.width();
                            r.css({width: w});
                            r.html("");
                        }
                    } else {
                        hl.innerHTML = h+":"+m+":"+s;
                    }
                    hl.dashTimer = _setTimeout(dui.binds.timeAndWeather.startTime, 1000, view, elem, hideSeconds, blink, noClass, hl.dashId);
                }
            },
            weekdays:{
                0: {"en": "Sunday",   "de": "Sonntag",    "ru": "Воскресенье"},
                1: {"en": "Monday",   "de": "Montag",     "ru": "Понедельник"},
                2: {"en": "Tuesday",  "de": "Dienstag",   "ru": "Вторник"},
                3: {"en": "Wednesday","de": "Mittwoch",   "ru": "Среда"},
                4: {"en": "Thursday", "de": "Donnerstag", "ru": "Четверг"},
                5: {"en": "Friday",   "de": "Freitag",    "ru": "Пятница"},
                6: {"en": "Saturday", "de": "Samstag",    "ru": "Суббота"}
            },
            weekdaysShort:{
                0: {"en": "Sun", "de": "So", "ru": "Вс"},
                1: {"en": "Mon", "de": "Mo", "ru": "Пн"},
                2: {"en": "Tue", "de": "Di", "ru": "Вт"},
                3: {"en": "Wed", "de": "Mi", "ru": "Ср"},
                4: {"en": "Thu", "de": "Do", "ru": "Чт"},
                5: {"en": "Fri", "de": "Fr", "ru": "Пт"},
                6: {"en": "Sat", "de": "Sa", "ru": "Сб"}
            },
            months:{
                1: {"en": "January",    "de": "Januar",     "ru": "Январь"},
                2: {"en": "February",   "de": "Dienstag",   "ru": "Февраль"},
                3: {"en": "March",      "de": "März",       "ru": "Март"},
                4: {"en": "April",      "de": "April",      "ru": "Апрель"},
                5: {"en": "May",        "de": "Mai",        "ru": "Май"},
                6: {"en": "June",       "de": "Juni",       "ru": "Июнь"},
                7: {"en": "July",       "de": "Juli",       "ru": "Июль"},
                8: {"en": "August",     "de": "August",     "ru": "Август"},
                9: {"en": "September",  "de": "September",  "ru": "Сентябрь"},
                10: {"en": "October",   "de": "Oktober",    "ru": "Октябрь"},
                11: {"en": "November",  "de": "November",   "ru": "Ноябрь"},
                12: {"en": "December",  "de": "Dezember",   "ru": "Декабрь"}
            },
            startDate: function (view, elem, showWeekDay, noClass, timerId, shortWeekDay, shortYear, prependZero, monthWord, shortMonth, american) {
                var today = new Date();
                var d =     today.getDate();
                var dow =   today.getDay();
                var m =     today.getMonth()+1;
                var y =     today.getFullYear();

                var monthString = dui.binds.timeAndWeather.months[m][dui.language];
                if (shortMonth) monthString = monthString.slice(0, 3);

                if (shortYear) y = y.toString().slice(2);

                // add a zero in front of numbers<10
                if (prependZero) d = (d<10) ? ("0"+d) : d;
                if (prependZero) m = (m<10) ? ("0"+m) : m;

                if (showWeekDay === "false") {
                    showWeekDay = false;
                }

                var hl = document.getElementById(elem);
                if (!hl) {
                    $('#duiview_'+view).append('<div class="dashui-widget'+ (noClass ? '' : ' date') + '" id="'+elem+'" ></div>');
                    hl = document.getElementById(elem);
                    hl.dashId = (new Date()).getTime();
                }

                if (hl && (timerId === undefined || hl.dashId == timerId)) {
                    var dateString = '';
                    if (showWeekDay && !shortWeekDay) {
                        dateString += dui.binds.timeAndWeather.weekdays[dow][dui.language] + ", ";
                    } else if (showWeekDay && shortWeekDay) {
                        dateString += dui.binds.timeAndWeather.weekdaysShort[dow][dui.language] + ", ";
                    }

                    if (monthWord) {
                        switch (dui.language) {
                            case "en":
                                switch (d) {
                                    case 1:
                                        d +=  'st';
                                        break;
                                    case 2:
                                        d +=  'nd';
                                        break;
                                    case 3:
                                        d +=  'rd';
                                        break;
                                    default:
                                        d +=  'th';
                                }

                                if (american) {
                                    dateString += monthString+" "+d+", "+y;
                                } else {
                                    dateString += d+" "+monthString+", "+y;
                                }

                                break;
                            default:
                                dateString += d+". "+monthString+" "+y;
                        }
                    } else {
                        switch (dui.language) {
                            case "en":
                                if (american) {
                                    dateString += m+"/"+d+"/"+y;
                                } else {
                                    dateString += d+"/"+m+"/"+y;
                                }

                                break;
                            default:
                                dateString += d+"."+m+"."+y;
                        }
                    }

                    hl.innerHTML = dateString;
                    hl.dashTimer = _setTimeout(dui.binds.timeAndWeather.startDate, (24*3600 - (today.getHours() * 60 * 60 + today.getMinutes()*60 + today.getSeconds()))*1000, view, elem, showWeekDay, noClass, hl.dashId, shortWeekDay, shortYear, prependZero, monthWord, shortMonth, american);
                }
            },
            tplTwCoolClock: function (view, data) {
                var style = null;
                if ( dui.views[view] && dui.views[view].widgets[data.attr('wid')] && dui.views[view].widgets[data.attr('wid')].style) {
                    style = dui.views[view].widgets[data.attr('wid')].style;
                }
                var radius = 85;
                if (style) {
                    radius = style.width || 85;
                    if ((style.height || 85) < radius)
                        radius = (style.height || 85);
                    radius = Math.round(radius / 2);
                }

                var myClass = 'CoolClock:'+(data.attr('theme') || 'classic')+':'+radius+':'+(data.attr('noSeconds') ? 'noSeconds' : '')+'::'+(data.attr('showDigital') ? 'showDigital' : '') + '::'+(data.attr('showAmPm') ? 'showAmPm' : '');
                var text = '<div id="'+data.attr('wid')+'" data-myclass="'+myClass+'" class="dashui-widget"><canvas style="width:100%; height:100%" class="'+myClass+'"></canvas></div>';
                jQuery('#duiview_'+view).append(text);
                jQuery('#'+data.attr('wid')).bind("resize", function () {
                    var t = jQuery(this);
                    var myClass = t.attr('data-myclass');
                    var myClasses = myClass.split(':');
                    myClasses[2] = t.width();
                    if (t.height() < myClasses[2])
                        myClasses[2] = t.height();
                    myClasses[2] = Math.round(myClasses[2] / 2);
                    myClass = myClasses.join(':');
                    t.html('<canvas class="'+myClass+'"></canvas>');
                    CoolClock.findAndCreateClocks();
                    console.log("done");
                });
                CoolClock.findAndCreateClocks();
            },
            tplTwFlipClock: function (view, data) {
                var text = '<div class="dashui-widget" style="width:500px; height: 110px" id="'+data.attr('wid')+'" data-dashui-resizable=';
                text += "'" + '{"disabled":true}' + "'></div>";
                jQuery('#duiview_'+view).append(text);
                var clock = jQuery('#'+data.attr('wid')).FlipClock({clockFace: 'TwentyFourHourClock'});
            },
            tplTwHtcWeather: function (view, data) {
                var text = '<div class="dashui-widget" style="width:500px; height: 420px" id="'+data.attr('wid')+'" data-dashui-resizable=';
                text += "'" + '{"disabled":true}' + "'></div>";
                jQuery('#duiview_'+view).append(text);
                var weoid = data.attr('weoid');
                if (weoid !== undefined && weoid !== null) {
                    var i = weoid.indexOf('[');
                    if (i != -1) {
                        weoid = weoid.substring(i+1);
                        i = weoid.indexOf(']');
                        weoid = weoid.substring(0, i);
                    }
                }
                else
                    weoid = '664942';

                var clock = jQuery('#'+data.attr('wid')).jdigiclock({
                    weatherLocationCode: weoid,
                    weatherUpdate: 5,
                    lang: dui.language,
                    clockImagesPath: 'widgets/timeAndWeather/img/clock/'
                });
            },
            tplTwYahooWeather: function (view, data) {
                var text = '<div class="dashui-widget ui-widget-content" id="'+data.attr('wid')+'"></div>';
                jQuery('#duiview_'+view).append(text);
                var weoid = data.attr('weoid');
                if (weoid !== undefined && weoid !== null) {
                    var i = weoid.indexOf('[');
                    if (i != -1) {
                        weoid = weoid.substring(i+1);
                        i = weoid.indexOf(']');
                        weoid = weoid.substring(0, i);
                    }
                }
                else
                    weoid = '664942';
                jQuery('#'+data.attr('wid')).weatherfeed([weoid], {lang:dui.language, woeid: true, humidity: true, forecast: true, link: false, resizable: (dui.editMode)});

            }
        };
    //});

</script>
<!-- startDate: function (view, elem, showWeekDay, noClass, timerId, shortWeekDay, shortYear, prependZero, monthWord, shortMonth, american) {
            -->
<script type="text/ejs" id="tplTwSimpleDate" class="dashui-tpl" data-dashui-set="timeAndWeather" data-dashui-name="SimpleDate" data-dashui-attrs="showWeekDay/checkbox;shortWeekDay/checkbox;shortYear/checkbox;prependZero[true]/checkbox;monthWord/checkbox;shortMonth/checkbox;americanOrder/checkbox;noClass/checkbox">
    <%
		dui.binds.timeAndWeather.startDate(this.view, this.data.attr('wid'), this.data.attr('showWeekDay'), this.data.attr('noClass'), undefined, this.data.attr('shortWeekDay'), this.data.attr('shortYear'), this.data.attr('prependZero'), this.data.attr('monthWord'), this.data.attr('shortMonth'), this.data.attr('americanOrder'));
    %>
</script>

<script type="text/ejs" id="tplTwSimpleClock" class="dashui-tpl" data-dashui-set="timeAndWeather" data-dashui-name="SimpleClock" data-dashui-attrs="hideSeconds/checkbox;blink/checkbox;noClass/checkbox">
    <%
        dui.binds.timeAndWeather.startTime(this.view, this.data.attr('wid'), this.data.attr('hideSeconds'), this.data.attr('blink'), this.data.attr('noClass'));
    %>
</script>
<script type="text/ejs" id="tplTwCoolClock" class="dashui-tpl" data-dashui-set="timeAndWeather" data-dashui-name="CoolClock" data-dashui-attrs="theme/fancy,swissRail,chunkySwiss,machine,simonbaird_com,classic,classicWhite,modern,simple,securephp,Tes2,Lev,Sand,Sun,Tor,Cold,Babosa,Tumb,Stone,Disc,watermelon;noSeconds/checkbox;showDigital/checkbox;showAmPm/checkbox" >
    <%
        dui.binds.timeAndWeather.tplTwCoolClock(this.view, this.data);
    %>
</script>

<script type="text/ejs" id="tplTwFlipClock" class="dashui-tpl" data-dashui-set="timeAndWeather" data-dashui-name="FlipClock" data-dashui-attrs="">
    <%
        dui.binds.timeAndWeather.tplTwFlipClock(this.view, this.data);
    %>
</script>

<script type="text/ejs" id="tplTwHtcWeather" class="dashui-tpl" data-dashui-set="timeAndWeather" data-dashui-name="HtcWeather" data-dashui-attrs="weoid">
    <% 
        dui.binds.timeAndWeather.tplTwHtcWeather(this.view, this.data);
    %>
</script>
<script type="text/ejs" id="tplTwYahooWeather" class="dashui-tpl" data-dashui-set="timeAndWeather" data-dashui-name="YahooWeather" data-dashui-attrs="weoid">
    <% 
        dui.binds.timeAndWeather.tplTwYahooWeather(this.view, this.data);
    %>
</script>

