<link rel="stylesheet" href="widgets/timeAndWeather/css/flipclock.css">
<link rel="stylesheet" href="widgets/timeAndWeather/css/jquery.jdigiclock.css">
<link rel="stylesheet" href="widgets/timeAndWeather/css/yahoo.css">
<link rel="stylesheet" href="widgets/timeAndWeather/css/simpleclock.css">
<script src="widgets/timeAndWeather/js/flipclock/libs/prefixfree.min.js"></script>
<script src="widgets/timeAndWeather/js/flipclock/flipclock.min.js"></script>
<script src="widgets/timeAndWeather/js/jquery.jdigiclock.js"></script>
<script src="widgets/timeAndWeather/js/jquery.zweatherfeed.js"></script>

<!--script src="widgets/timeAndWeather/js/coolclock.js"></script>
<script src="widgets/timeAndWeather/js/moreskins.js"></script-->

<script language="javascript">
	function fontWidth (text, font) {
		var f = font || '10px "Tahoma", sans-serif',
				o = $('<div>' + this + '</div>')
						.css({'position': 'absolute', 'float': 'left', 'white-space': 'nowrap', 'visibility': 'hidden', 'font': f})
						.appendTo($('body')),
				w = o.width();

		o.remove();

		return w;
	};

	
	function startTime(view, elem, hideSeconds, blink, noClass, timerId) {
        var today = new Date();
        var h =     today.getHours();
        var m =     today.getMinutes();
        var s =     today.getSeconds();
        // add a zero in front of numbers<10
        m = (m<10) ? ("0"+m) : m;
		if (!hideSeconds) {
			s = (s<10) ? ("0"+s) : s;
		}
        h = (h<10) ? ("0"+h) : h;
        var hl = document.getElementById(elem);
		if (hideSeconds === "false") {
			hideSeconds = false;
		}
		if (!hl) {
			if (hideSeconds) {
				$('#duiview_'+view).append('<div class="dashui-widget'+ (noClass ? '' : ' clock') + '" id="'+elem+'" ></div>');				
			} else {
				$('#duiview_'+view).append('<div class="dashui-widget'+ (noClass ? '' : ' clock') + '" id="'+elem+'" ></div>');
			}
			hl = document.getElementById(elem);
			hl.dashId = today.getTime();
		}
        if (hl && (timerId === undefined || hl.dashId == timerId)) {
			if (hideSeconds) {
				hl.innerHTML = h+'<span style="display:inline-block" id="'+elem+'_space">:</span>'+m;
				if (blink && (s%2)) {
					var r = $('#'+elem+'_space');
					var w = r.width();
					r.css({width: w});
					r.html("&nbsp;");
				}
			} else {
				hl.innerHTML = h+":"+m+":"+s;
			}
            hl.dashTimer = setTimeout(startTime, 1000, view, elem, hideSeconds, blink, noClass, hl.dashId);
        }
    }
    var wochentage = {
        0: "Sonntag",
        1: "Montag",
        2: "Dienstag",
        3: "Mittwoch",
        4: "Donnerstag",
        5: "Freitag",
        6: "Samstag"
    }
    function startDate(view, elem, showWeekDay, noClass, timerId) {
        var today = new Date();
        var d =     today.getDate();
        var dow =   today.getDay();
        var m =     today.getMonth()+1;
        var y =     today.getFullYear();
        // add a zero in front of numbers<10
        d = (d<10) ? ("0"+d) : d;
        m = (m<10) ? ("0"+m) : m;
		if (showWeekDay === "false") {
			showWeekDay = false;
		}
        var hl = document.getElementById(elem);
		if (!hl) {
			$('#duiview_'+view).append('<div class="dashui-widget'+ (noClass ? '' : ' date') + '" id="'+elem+'" ></div>');
			hl = document.getElementById(elem);
			hl.dashId = (new Date()).getTime();
		}
        if (hl && (timerId === undefined || hl.dashId == timerId)) {
            hl.innerHTML = ((showWeekDay) ? wochentage[dow]+", " : "") + d+"."+m+"."+y;
            hl.dashTimer = setTimeout(startDate, (24*3600 - (today.getHours() * 60 * 60 + today.getMinutes()*60 + today.getSeconds()))*1000, view, elem, showWeekDay, noClass, hl.dashId);
        }
    }
</script>

<script type="text/ejs" id="tplTwSimpleDate" class="dashui-tpl" data-dashui-set="timeAndWeather" data-dashui-name="SimpleDate" data-dashui-attrs="showWeekDay/checkbox;noClass/checkbox">
    <%
		startDate(this.view, this.data.attr('wid'), this.data.attr('showWeekDay'), this.data.attr('noClass'));
    %>
</script>

<script type="text/ejs" id="tplTwSimpleClock" class="dashui-tpl" data-dashui-set="timeAndWeather" data-dashui-name="SimpleClock" data-dashui-attrs="hideSeconds/checkbox;blink/checkbox;noClass/checkbox">
    <%
        startTime(this.view, this.data.attr('wid'), this.data.attr('hideSeconds'),this.data.attr('blink'), this.data.attr('noClass'));
    %>
</script>
<!--script type="text/ejs" id="tplTwCoolClock" class="dashui-tpl" data-dashui-set="timeAndWeather" data-dashui-name="CoolClock" data-dashui-attrs="" >
    <%
    var text = '<canvas style="position: absolute; width:85px; height: 85px" id="'+this.data.attr('wid')+'" class="CoolClock:Skin:Radius:noSeconds:GMTOffset" data-dashui-resizable=';
        text += "'" + '{"disabled":true}' + "'></canvas>";
    jQuery('#duiview_'+this.view).append(text);
    CoolClock.findAndCreateClocks();
    %>
</script-->

<script type="text/ejs" id="tplTwFlipClock" class="dashui-tpl" data-dashui-set="timeAndWeather" data-dashui-name="FlipClock" data-dashui-attrs="">
    
    <% 
        var text = '<div class="dashui-widget" style="width:500px; height: 110px" id="'+this.data.attr('wid')+'" data-dashui-resizable=';
        text += "'" + '{"disabled":true}' + "'></div>";
        jQuery('#duiview_'+this.view).append(text);
        var clock = jQuery('#'+this.data.attr('wid')).FlipClock({clockFace: 'TwentyFourHourClock'});
    %>
</script>

<script type="text/ejs" id="tplTwHtcWeather" class="dashui-tpl" data-dashui-set="timeAndWeather" data-dashui-name="HtcWeather" data-dashui-attrs="weoid">
    <% 
        var text = '<div class="dashui-widget" style="width:500px; height: 420px" id="'+this.data.attr('wid')+'" data-dashui-resizable=';
        text += "'" + '{"disabled":true}' + "'></div>";
        jQuery('#duiview_'+this.view).append(text);
        var weoid = this.data.attr('weoid');
        if (weoid !== undefined && weoid !== null) {
            var i = weoid.indexOf('[');
            if (i != -1) {
                weoid = weoid.substring(i+1);
                i = weoid.indexOf(']');
                weoid = weoid.substring(0, i);
            }
        }
        else
            weoid = '664942';

        var clock = jQuery('#'+this.data.attr('wid')).jdigiclock({
            weatherLocationCode: weoid, 
            weatherUpdate: 5, 
            lang: 'de', 
            clockImagesPath: 'widgets/timeAndWeather/img/clock/',
            });
    %>
</script>
<script type="text/ejs" id="tplTwYahooWeather" class="dashui-tpl" data-dashui-set="timeAndWeather" data-dashui-name="YahooWeather" data-dashui-attrs="weoid">
    <% 
        var text = '<div class="dashui-widget ui-widget-content" id="'+this.data.attr('wid')+'"></div>';
        jQuery('#duiview_'+this.view).append(text);
        var weoid = this.data.attr('weoid');
        if (weoid !== undefined && weoid !== null) {
            var i = weoid.indexOf('[');
            if (i != -1) {
                weoid = weoid.substring(i+1);
                i = weoid.indexOf(']');
                weoid = weoid.substring(0, i);
            }
        }
        else
            weoid = '664942';
        jQuery('#'+this.data.attr('wid')).weatherfeed([weoid], {lang:'de', woeid: true, humidity: true, forecast: true, link: false, resizable: (dui.urlParams['edit'] === "")});
%>
</script>

