<script type="text/ejs" id="tplYrAdapter" class="dashui-tpl" data-dashui-set="weather-adapter" data-dashui-name="yr.no Wetter" data-dashui-attrs="">
    <div class="dashui-widget <%== this.data.attr('class') %>" style="top:0px; left:0px; padding: 3px; background-color:#ccc; font-family: Arial; " id="<%= this.data.attr('wid') %>">

        <div class="dashui-widget-body">
            <div data-hm-id="70000">
                <%== localData.uiState.attr("_70000.Value") %>
            </div>
        </div>
    </div>
</script>

<script type="text/ejs" id="tplDwdAdapterSmall" class="dashui-tpl" data-dashui-set="weather-adapter" data-dashui-name="DWD Wetterwarnungen klein" data-dashui-attrs="">
    <%
    var dwdBackground = [
        "",
        "yellow",
        "orange",
        "red",
        "darkviolet"
        ];
    %>
    <div class="dashui-widget <%== this.data.attr('class') %>" style="top:0px; left:0px; width: 160px; height: 21px;  font-family: Arial; " id="<%= this.data.attr('wid') %>">
        <div class="dashui-widget-body" style="padding: 3px; background-color: <%= dwdBackground[parseInt(localData.uiState.attr("_70052.Value"),10)] %>;">
            <div data-hm-id="700053">
                <%== localData.uiState.attr("_70053.Value") %>
            </div>
        </div>
    </div>
</script>

<script type="text/ejs" id="tplDwdAdapter" class="dashui-tpl" data-dashui-set="weather-adapter" data-dashui-name="DWD Wetterwarnungen" data-dashui-attrs="">
    <div class="dashui-widget <%== this.data.attr('class') %>" style="top:0px; left:0px; width: 585px; height: 85px; font-family: Arial; " id="<%= this.data.attr('wid') %>">
        <%
        var dwdBackground = [
            "",
            "yellow",
            "orange",
            "red",
            "darkviolet"
        ];
        %>

        <div class="dashui-widget-body" style="padding: 3px; background-color: <%= dwdBackground[parseInt(localData.uiState.attr("_70052.Value"),10)] %>;">
            <div style="font-size: 1.5em; font-weight: bold;" data-hm-id="70054">
                <%== localData.uiState.attr("_70054.Value") %>
            </div>
            <p><%== localData.uiState.attr("_70055.Value") %><br/>
            <%== localData.uiState.attr("_70050.Value") %> - <%== localData.uiState.attr("_70051.Value") %></p>
        </div>
    </div>
</script>