html, body {
    font-family: sans-serif;
    font-size: 0.9em;
    height:100%;
    padding: 0;
    margin: 0;
}

div#container {
    height: 100%;
    padding: 0;
    margin: 0;
}

div#tools {
    position:absolute;
    top:0px;
    right:0px;
    width:400px;


}

div.item {
    position: absolute;
    overflow: hidden;
}

