/* ---------------- green - gray style -------------------- */

body .vis-style-green-gray {
    font-family: Montserrat, sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    color: #444;
    background: #eee;
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url(montserrat-regular-webfont.woff);
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

.vis-style-green-gray .vis-widget-body {
    padding: 0.5em;
}

.vis-style-green-gray .vis-widget-body,
.vis-style-green-gray .editmode-helper {
    width:  calc(100% - 1em);
    height: calc(100% - 1em);
}

.vis-style-green-gray .vis-image {
    width:  calc(100% - 1em) !important;
    height: calc(100% - 1em) !important;
}

 /* table */
.vis-style-green-gray table {
    background: #34495E;
    color: #fff;
    border-radius: .4em;
    overflow: hidden;
}

.vis-style-green-gray table {
    height: 100%;
    width: 100%;
}

.vis-style-green-gray tr {
    border-top: 1px solid #46637f;
    border-bottom: 1px solid #46637f;
}

.vis-style-green-gray th {
    color: #dd5;
}
.vis-style-green-gray th, .vis-style-green-gray td {
    text-align: center;
}

/* headers */
.vis-style-green-gray h1 {
    font-weight: normal;
    letter-spacing: -1px;
    color: #34495E;
}



