/*________________FM_____________________________________________________________________*/

.fm_dialog {
    min-width: 550px !important;
    overflow: hidden !important;
    cursor: default;
    padding: 5px !important;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.fm_iconbar {
    text-align: left;
    top: 0;
    position: relative;
    width: calc(100% - 34px);
    height: 29px;
    left: 32px;

}

.fm-files {
    width: calc(100% - 5px);
    position: relative;
    overflow-x: hidden;
    text-align: left;

}

.fm-buttonbar {
    height: 78px;
    width: calc(100% - 20px);
    display: flex;
    justify-content: center;
    bottom: 5px;
    position: absolute;
    left: 10px;
    flex-direction: column;
}

#fm_btn_open {
    width: 150px !important;
    height: 36px;
    margin-top: 10px;
}

#fm_btn_cancel {
    width: 150px !important;
    height: 36px;
    margin-left: 50px;
    margin-top: 10px;
}
#btn_fm_add_ok {
    width: 150px !important;
    height: 36px;
    margin-top: 10px;
}

#btn_fm_add_close {
    width: 150px !important;
    height: 36px;
    margin-left: 50px;
    margin-top: 10px;
}

.fm_file_icon {
}

.fm_folder {

}

.fm_file_table {
    text-align: left;

}

.fm_td_folder {
    /*background-image: url("/ScriptGUI/img/plus.png");*/
    height: 16px;
    width: 16px;
}

.fm_th {
    border-radius: 6px 6px 8px 8px;
    text-align: left;
    border: medium none !important;
    padding: 2px;
    padding-left: -12px;

}

.fm_bar_icon {
    height: 25px;
    width: 25px;
    top: -1px;
}

#fm_bar_all {
    height: 27px;
    width: 37px;
    position: absolute;
    right: 40px;
    top: 1px;
}
#fm_bar_background {
    height: 27px;
    width: 37px;
    position: absolute;
    right: -1px;
    top: 1px;
}
#fm_bar_folder {
    height: 28px;
    position: absolute;
    right: 40px;
    width: 33px;
}

.fm-dark-background {
    background: grey !important;
}
.fm-light-background {
    background: lightgrey !important;
}
.fm_bar_all {

}

.fm_bar_folder {

}

#fm_th_icon {
    background: none;

}

#fm_table {
    width: calc(100% - 1px);
    border-spacing: 0;
    border-collapse: collapse;
    margin-left: 1px;
    word-break: keep-all;
    white-space: nowrap;

}

.no_background {
    background: none !important;
    height: 24px;
    padding: 1px;
}

#fm_bar_back {

    margin-left: 39px;
    border-radius: 50px;
    height: 64px;
    position: absolute;
    width: 64px;
    left: -73px;
    background-repeat: no-repeat;
    top: -1px;
    background-size: 64px;
    border: 2px ridge silver;
}
.fm_bar_back_behind {
    margin-left: 39px;
    display: none;    height: 64px;
    position: absolute;
    width: 64px;
    left: -73px;
    background-color: #d3d3d3;
    top: -1px;
    background-size: 64px;
    border: 2px ridge silver;
    border-radius: 64px !important;
}

#fm_tr_head {
    display: none;
    visibility: hidden;
}

#fm_th_name {

}

.fm_prev_container {
    width: 150px;
    display: inline-table;
    position: relative;
    margin: 5px 5px 0 5px;
    line-height: 15px;
    vertical-align: top;
}

.fm_prev_img {
    max-height: 100%;
    max-width: 100%;
}

.fm_prev_img_container {
    height: 128px;
    width: 128px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-left: 11px;
}

.fm_prev_name {
    white-space: pre-wrap;
    height: 40px !important;
    min-height: 47px !important;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    width: 150px;
    word-wrap: break-word;
}

.fm_prev_overlay {
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
}

#fm_scroll_pane {
    width: 100%;
    position: relative;
    overflow: hidden;
}

#fm_table_head {
    display: flex;
    justify-content: space-around;
}

#fm_table_head_name{
    display: inline-block;
    margin: 0;
    padding: 0;
    position: relative;
    width: calc(100% / 4 - 5px);
}

#fm_table_head_type{
    display: inline-block;
    margin: 0;
    padding: 0;
    position: relative;
    width: calc(100% / 4 - 10px);
}
#fm_table_head_size{
    display: inline-block;
    margin: 0;
    padding: 0;
    position: relative;
    width: calc(100% / 4 - 10px);
}
#fm_table_head_datum {
    display: inline-block;
    margin: 0;
    padding: 0;
    position: relative;
    width: calc(100% / 4 - 5px);
}
.fm_prev_selected{
    border: 1px solid cyan;
    border-radius: 6px;
    box-shadow: 0 0 15px #0FF7FF;

}
.fm-path-div{
    margin-bottom: 5px;
    margin-top: 5px;
    text-align: right;
    padding-left: 41px;
    width: calc(100% - 90px);
}

.fm_table_selected{
    border-radius: 3px !important;
}

.fm_file_filter{
    display: none;
}

#fm_table_head  .ui-icon {
    left: auto;
    position: absolute;
    right: 10px
}
.fm_td_hide{
    margin: 0;
    max-width: 0;
    overflow: hidden;
    padding: 0;
    color: transparent;
}

.fm_tr{

}

.fm-error {
    color: red
}

#dialog_fm_add{
    height: calc(100% - 53px) !important;
    width: calc(100% - 10px) !important;
    position: absolute;
    padding: 5px !important;
    z-index:100000!important;
}

#fm_add_dropzone{
    height: calc(100% - 100px);
    width: calc(100% - 27px);
    display: inline-table;
    position: absolute;
    left: 10px;
    top: 10px;
}

.dialog_fm_add{
    height: calc(100% - 5px) !important;
    width:  calc(100% - 10px) !important;
    position: absolute !important;
    top: 0 !important;
    z-index:100000!important;
}

.fm_dropbox_text{
    font-size: 50px;
    font-weight: bold;
    height: 100%;
    justify-content: center;
    margin: 0;
    opacity: 0.5;
    position: absolute;
    text-align: center;
    width: 100%;
    align-items: center;
    display: block;
}

#fm_inp_save{
    display: block;
    height: 20px;
    width: calc(100% - 150px);
}

#fm_btn_save{
    height: 36px;
    margin-top: 10px;
    width: 150px !important
}

#fm_btn_wrap{

}

#fm_save_wrap{
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin-top: 6px;
}

.fm_add_buttonbar{
    height: 78px;
    width: calc(100% - 20px);
    display: flex;
    justify-content: center;
    bottom: 5px;
    position: absolute;
    left: 10px;
    flex-direction: inherit;
}

.dialog_fm_rename{
    height: 170px !important;
    width: 400px !important;
    text-align: center;
}