
.pump{
    height: 100%;
    width: 100%;
}
.pump_img{
    width: calc(100% - 20px);

    height: calc(100% - 20px);
    position: absolute;
    left: 10px;
    top: 10px;
}

.plumb_dock_top{
    background: transparent;
    width: 100%;
    height: 20px;
    position: absolute;
    top: -10px;
    left:0;
}

.plumb_dock_bottom{
    background: transparent;
    width: 100%;
    height: 20px;
    position: absolute;
    bottom: -10px;
    left:0
}
.plumb_dock_left{
    background: transparent;
    width: 20px;
    height: 100%;
    position: absolute;
    left: -10px;
    top:0;
}

.plumb_dock_right{
    background: transparent;
    width: 20px;
    height: 100%;
    position: absolute;
    right: -10px;
    top:0;
}
.plumb_dock_center{
    width: 20px!important;
    height: 20px!important;
    left: calc(50% - 10px)!important;
    top: calc(50% - 10px)!important;
    position: absolute;
    background: red;
}


.drop-hover{
    background-color: #9ACD32!important;;
    border-radius: 100%;
    box-shadow: 0px 0px 3px 3px #9ACD32!important;
}

.valve_h{
    height: 100%;
    width: 100%;
}
.valve_v{
    height: 100%;
    width: 100%;
}


.plumb_valve_l{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0px 10px 20px;
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #0F0;

}
.plumb_valve_r{
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    top: 0;
    right: 0;
    border-width: 10px 20px 10px 0px;
    border-color: rgba(0, 0, 0, 0) #0F0 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
}

.plumb_valve_t{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 10px 0px 10px;
    border-color: #0F0 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);

}

.plumb_c_valve_h_back_l {
    width: 50%;
    height: 100%;
    position: absolute;
    background: silver;

}

.plumb_c_valve_h_back_r {
    width: 50%;
    height: 100%;
    position: absolute;
    background: silver;
 right:0;
}

.plumb_c_valve_v_back_t{
    height  : 50%;
    width : 100%;
    position: absolute;
    background: silver;
}

.plumb_c_valve_v_back_b{
    height  : 50%;
    width: 100%;
    position: absolute;
    background: silver;
    bottom:0;
}
.plumb_valve_b{
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    /* top: 0; */
    /* right: 0; */
    bottom: 0;
    border-width: 0px 10px 19px 10px;
}

.plumb_sprinkler_i{
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 100%;
}


.plumb_splinkler_i_water{
    width: 100px;
    height: 10px;
    background-color: #000066;
    border-radius: 20px;
}

.plumb_sprinkler_r{
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 0;
}
.plumb_sprinkler_r_head{
    height: 100%;
    width: 100%;
    background-color: black;
    position: relative;
}
.plumb_sprinkler_r_water{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.plumb_sprinkler_r_body{
    overflow: visible;
}

.plumb_c_valve_h_img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-size: 100%!important;
    left: 0;
    z-index: 2;
    background-position: center;
    background-repeat: no-repeat;
}

.plumb_c_valve_v_img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-size: 100%!important;
    left: 0;
    z-index: 2;
    background-position: center;
    background-repeat: no-repeat!important;

}

.ent-e_top_pipe-l{
    background: silver;
    width: 20px;
    height: 20px;
    position: absolute;
    left: calc(33% - 10px)!important;
top:0!important;

}
.ent-e_top_pipe-r{
    background: silver;
    width: 20px;
    height: 20px;
    position: absolute;
    right: calc(33% - 10px);!important;
    left: auto!important;
    top:0!important;
}
.ent-e_top{
    /* background: -webkit-radial-gradient(   center,    ellipse closest-side,    yellow 0%,    blue 25%,    white 75%); */

    /* background-position: 104% 60%; */
    background-color: silver;
    width: calc(100% - 20px);
    left: 10px;
    height: calc(20% - 9px);
    position: absolute;
    top: 10px;
    border-top-left-radius: 80%;
    border-top-right-radius: 80%;

}
.ent-e_center{

    width: calc(100% - 20px);
    left: 10px;
    height: 60%;
    position: absolute;
    overflow: hidden;
    top: 20%;
    box-shadow: rgb(0, 0, 0) 115px 0px 115px -115px inset, rgb(0, 0, 0) -115px 0px 115px -115px inset;
    background-color: #C0C0C0;
}

.ent-e_schott{

    width: 200%;
    /* left: 10px; */
    left: -50%;
    height: 100%;
    position: absolute;
    top: 10%;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    border: 2px solid;    border-color: black red;    background: transparent;}

.ent-e_bottom{
    width: calc(100% - 20px);
    left: 10px;
    height: calc(20% - 10px);
    position: absolute;
    bottom: 10px;
    /* border-top-left-radius: 109px; */
    /* border-top-right-radius: 100px; */
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    box-shadow: rgb(0, 0, 0) 115px 0px 115px -115px inset, rgb(0, 0, 0) -115px 0px 115px -115px inset;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAGklEQVQImWNgQID/DGjgP7oEugoMCZxGMAAAluAH+UhIFMkAAAAASUVORK5CYII=) repeat;
    background-color: #C0C0C0;
}

.ent-e_bottom_pipe{

}
.ent-e_kies{
    width: 100%;
    height: 50%;
    position: absolute;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAGklEQVQImWNgQID/DGjgP7oEugoMCZxGMAAAluAH+UhIFMkAAAAASUVORK5CYII=) repeat;

    bottom: 0;
}

.spray{
    position: absolute;
    top: 3%;
    width: 61%;
    height: 114%;
    z-index: 1;
    /* left: -50px; */
}
.spray_l{

}

@keyframes dash {
    to {
        stroke-dashoffset: 300;
    }
}

.tank_simple_svg {
    padding: 10px;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    position: absolute;
    z-index: 2;
}

.plumb-rotate90{
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);

    transform: rotate(90deg);
}
.plumb-rotate180{
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);

    transform: rotate(180deg);
}
.plumb-rotate270{
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);

    transform: rotate(270deg);
}
.plumb-flip-x{
-moz-transform: scaleX(-1);
-o-transform: scaleX(-1);
-webkit-transform: scaleX(-1);
transform: scaleX(-1);
}
.plumb-flip-y{
-moz-transform: scaleY(-1);
-o-transform: scaleY(-1);
-webkit-transform: scaleY(-1);
transform: scaleY(-1);
}


.plumb-svg{
    position: absolute;
    width: 100%;
    height: 100%;
    /*margin-left: -1px;*/
    /*margin-top: -1px;*/
    line-height: 0;
}

.plumb-dock-svg{
    width: 100%;
    height: 100%;
    /*margin-left: -1px;*/
    /*margin-top: -1px;*/
}