.roundabout-holder {
    list-style: none;
    position: absolute;
    left:100px;
    top:10px;
    right: 0;
    margin: 0;
    overflow: visible;
    /*height: 100px;*/
    /*width: 300px;*/
    /*background-color: red;*/
    height: calc(100% - 20px);
    width: calc(100% - 200px);

}

.roundabout-moveable-item {
    text-align: center;

}

.li_karu {
    background-color: rgba(0, 0, 0, 0);
    /*width: auto !important;*/
    /*height: auto !important;*/
    text-align: center;
    position: relative;
}

.karu_blocking {
    position: relative;
    z-index: 149;
    width: 100%;
    height: 100%;
    /*background-color: blue;*/
}

.roundabout-in-focus{
    z-index: 1000;
}