<!--
    ioBroker.vis dwd Widget-Set

    version: "2.4.5"

    Copyright 2013-2020 bluefox<dogafox@gmail.com>
-->

<script type="text/javascript">
    if (vis.editMode) {
        // Add words for widgets
        $.extend(true, systemDictionary, {
            "oid-begin":    {"en": "oid-begin",    "de": "oid-begin",    "ru": "oid-begin"},
            "oid-end":      {"en": "oid-end",      "de": "oid-end",      "ru": "oid-end"},
            "oid-headline": {"en": "oid-headline", "de": "oid-headline", "ru": "oid-headline"},
            "oid-severity": {"en": "oid-severity", "de": "oid-severity", "ru": "oid-severity"},
            "dwd-format": {
                "en": "Time format",
                "de": "Zeitformat",
                "ru": "Формат времени",
                "pt": "Formato da hora",
                "nl": "Tijd formaat",
                "fr": "Format de l'heure",
                "it": "Formato orario",
                "es": "Formato de tiempo",
                "pl": "Format czasu",
                "zh-cn": "时间格式"
            }
        });
    }
</script>

<script id="tplDwdAdapterSmall"
        type="text/ejs"
        class="vis-tpl"
        data-vis-set="dwd"
        data-vis-prev='<img src="widgets/dwd/img/Prev_DwdAdapterSmall.png"></img>'
        data-vis-name="DWD Wetterwarnungen klein"
        data-vis-attrs="oid[dwd.0.warning.text];oid-severity[dwd.0.warning.severity]">
    <%
    var dwdBackground = [
        "",        // 0
        "#ffeb3b", // 1 - Wetterwarnungen (Stufe 1)
        "#fb8c00", // 2 - Warnungen vor markantem Wetter (Stufe 2)
        "#e53935", // 3 - Unwetterwarnungen (Stufe 3)
        "#880e4f", // 4 - Warnungen vor extremem Unwetter (Stufe 4)
        "",        // 5 -
        "",        // 6 -
        "",        // 7 -
        "",        // 8 -
        "#c99afe", // 9 - Hitzewarnung
        "",        // 10
        "#c9f",    // 11 - Keine Warnungen
        "",        // 12 -
        "",        // 13 -
        "",        // 14 -
        "",        // 15 -
        "",        // 16 -
        "",        // 17 -
        "",        // 18 -
        "#fe68fe", // 19 - UV-Warnung
        "",        // 6 -
    ];
    %>
    <div class="vis-widget <%== this.data.attr('class') %>" style="width: 160px; height: 21px; font-family: Arial" id="<%= this.data.attr('wid') %>">
        <div class="vis-widget-body" style="padding: 3px; background-color: <%= dwdBackground[parseInt(vis.states.attr(this.data['oid-severity'] + '.val'), 10)] %>;">
            <div data-oid="<%= this.data.attr('oid') %>">
                <%== vis.states.attr(this.data.oid + '.val') %>
            </div>
        </div>
    </div>
</script>

<script id="tplDwdAdapter"
        type="text/ejs"
        class="vis-tpl"
        data-vis-prev='<img src="widgets/dwd/img/Prev_DwdAdapter.png"></img>'
        data-vis-set="dwd"
        data-vis-name="DWD Wetterwarnungen"
        data-vis-attrs="oid-begin[dwd.0.warning.begin];oid-end[dwd.0.warning.end];oid-headline[dwd.0.warning.headline];oid[dwd.0.warning.description];oid-severity[dwd.0.warning.severity];dwd-format[DD.MM hh:mm]">
    <div class="vis-widget <%== this.data.attr('class') %>" style="width: 585px; height: 85px; font-family: Arial" id="<%= this.data.attr('wid') %>">
        <%
		var dwdBackground = [
			"",        // 0
			"#ffeb3b", // 1 - Wetterwarnungen (Stufe 1)
			"#fb8c00", // 2 - Warnungen vor markantem Wetter (Stufe 2)
			"#e53935", // 3 - Unwetterwarnungen (Stufe 3)
			"#880e4f", // 4 - Warnungen vor extremem Unwetter (Stufe 4)
			"",        // 5 -
			"",        // 6 -
			"",        // 7 -
			"",        // 8 -
			"#c99afe", // 9 - Hitzewarnung
			"",        // 10
			"#c9f",    // 11 - Keine Warnungen
			"",        // 12 -
			"",        // 13 -
			"",        // 14 -
			"",        // 15 -
			"",        // 16 -
			"",        // 17 -
			"",        // 18 -
			"#fe68fe", // 19 - UV-Warnung
			"",        // 6 -
		];
        %>
        <div class="vis-widget-body" style="padding: 3px; background-color: <%= dwdBackground[parseInt(vis.states.attr(this.data['oid-severity'] + '.val'), 10)] %>;">
            <div style="font-size: 1.5em; font-weight: bold;" data-oid="<%= this.data.attr('oid-headline') %>">
                <%== vis.states.attr(this.data['oid-headline'] + '.val') %>
            </div>
            <p><%== vis.states.attr(this.data['oid'] + '.val') %><br/>
            <%== vis.states.attr(this.data['oid-begin'] + '.val') ? vis.binds.basic.formatDate(vis.states.attr(this.data['oid-begin'] + '.val'), this.data['dwd-format']) + ' - ' : '' %><%== vis.states.attr(this.data['oid-end'] + '.val') ? vis.binds.basic.formatDate(vis.states.attr(this.data['oid-end'] + '.val'), this.data['dwd-format']) : '' %></p>
        </div>
    </div>
</script>