<!--
    TODO - Slider Widgets
    TODO - Bar Widgets
    TODO - 4way Controller Widget
-->
<link rel="stylesheet" type="text/css" href="widgets/lcars/css/lcars.css" />
<script type="text/javascript" src="widgets/lcars/js/jquery.lcars.js"></script>
<script type="text/javascript">

    "use strict";

    // Add words for lcars
    if (vis.editMode) {
        $.extend(systemDictionary, {
            "lcars_color":    {"en": "Color",             "de": "Farbe",                  "ru": "Цвет"},
            "edge_type":      {"en": "Edge type",         "de": "Bordertyp",              "ru": "Тип кромки"},
            "edge_direction": {"en": "Edge position",     "de": "Borderposition",         "ru": "Позиция"},
            "color_default":  {"en": "Dafault color",     "de": "Farbe",                  "ru": "Цвет по умолчанию"},
            "color_active":   {"en": "Active link color", "de": "Farbe von aktivem Link", "ru": "Цвет активной ссылки"},
            "line_height":    {"en": "Line height",       "de": "Linienhöche",            "ru": "Ширина линии"},
            "tl":             {"en": "Top left",          "de": "Oben links",             "ru": "Сверху слева"},
            "tr":             {"en": "Top right",         "de": "Oben rechts",            "ru": "Сверху справа"},
            "br":             {"en": "Bottom right",      "de": "Unten rechst",           "ru": "Снизу справа"},
            "bl":             {"en": "Bottom left",       "de": "Unten links",            "ru": "Снизу слева"},
            "frame_type":     {"en": "Type",              "de": "Typ",                    "ru": "Тип"},
            "frame_direction": {"en": "Direction",        "de": "Richtung",               "ru": "Расположение"},
            "speed":          {"en": "Speed",             "de": "Geschwindigkeit",        "ru": "Скорость"},
            "rows":           {"en": "Rows",              "de": "Zeilen",                 "ru": "Строк"},
            "cols":           {"en": "Columns",           "de": "Spalten",                "ru": "Колонок"},
            "r":              {"en": "Right",             "de": "Rechst",                 "ru": "Справа"},
            "l":              {"en": "Left",              "de": "Links",                  "ru": "Cлева"},
            "rounded":        {"en": "Rounded",           "de": "Abgerundet",             "ru": "Закругления"},
            "subtitle":       {"en": "Subtitle",          "de": "Untertitel",             "ru": "Подзаголо́вок"},
            "subtitle_show":  {"en": "Show",              "de": "Zeige",                  "ru": "Показать"},
            "subtitle_color": {"en": "subtitle_color",    "de": "Farbe",                  "ru": "Цвет"},
            "minmax":         {"en": "Mininum or maximum","de": "Mininum oder Maximum",   "ru": "Минимум или максимум"},
            "repeat_delay":   {"en": "Repeat delay",      "de": "Widerholungs- Verzögerung", "ru": "Задержка перед повтором"},
            "repeat_interval": {"en": "Repeat interval",  "de": "Widerholungs- Interval", "ru": "Интервал повтора"},
            "none":           {"en": "none",              "de": "keins",                  "ru": "нигде"},
            "both":           {"en": "both",              "de": "beide",                  "ru": "оба"},
            "step_tooltip":     {
                "en": "Can be positive or negative",
                "de": "Kann positiv oder negativ sein",
                "ru": "Может быть положительным или отрицательным"
            },
            "minmax_tooltip":     {
                "en": "If 'step' is positiv, the value is interpreted as maximum\x0Aif 'step' is negativ, then as minimum",
                "de": "Falls 'Schritt' positiv ist, dann hier wird Maximum eingegeben\x0AFalls 'Schritt' negativ ist, dann Mimimum",
                "ru": "Если 'шаг' положительный, то значение интепретируется как максимум\x0Aесли 'шаг' отрицательный, то как минимум"
            },
            "title_oid": {"en": "Object ID", "de": "Objekt ID", "ru": "ID Объекта"},
            "title_oid_tooltip": {
                "en": "You can enter here text as '(TEXT)'\x0Ato not read the value from variable\x0Aand to just show the specified text.",
                "de": "Man kann auch text in Klammern eingeben '(TEXT)'\x0Aum einfach Text und nicht\x0Adas Variablewert anzuzeigen.",
                "ru": "Можно ввести текст, как '(TEXT)'\x0Aдля того, что бы показать заданное слово,\x0Aа не значение переменной"
            },
            "title_prepend": {"en": "Prepend text", "de": "Präfix", "ru": "Префикс"},
            "title_append_singular": {"en": "Append if singular", "de": "Suffix singulär", "ru": "Суффикс единств. число"},
            "title_append_plural": {"en": "Append if plural", "de": "Suffix plüral", "ru": "Суффикс множ. число"},
            "title_digits": {"en": "Digits after comma", "de": "Nachkomma- Stellen", "ru": "Чисел после запятой"},
            "title_digits_tooltip": {
                "en": "Clear value to '' to disable the rounding.",
                "de": "Lösche das Wert zu '' um Rundung zu deaktivieren.",
                "ru": "Удалите значение полностью, что бы деактивировать округление"
            },

            "group_subtitle": {"en": "Subtitle", "de": "Untertitel", "ru": "Подзаголо́вок"},
            "subtitle_oid": {"en": "Object ID", "de": "Objekt ID", "ru": "ID Объекта"},
            "subtitle_oid_tooltip": {
                "en": "You can enter here text as '(TEXT)'\x0Ato not read the value from variable\x0Aand to just show the specified text.",
                "de": "Man kann auch text in Klammern eingeben '(TEXT)'\x0Aum einfach Text und nicht\x0Adas Variablewert anzuzeigen.",
                "ru": "Можно ввести текст, как '(TEXT)'\x0Aдля того, что бы показать заданное слово,\x0Aа не значение переменной"
            },
            "subtitle_prepend": {"en": "Prepend text", "de": "Präfix", "ru": "Префикс"},
            "subtitle_append_singular": {"en": "Append if singular", "de": "Suffix singulär", "ru": "Суффикс единств. число"},
            "subtitle_append_plural": {"en": "Append if plural", "de": "Suffix plüral", "ru": "Суффикс множ. число"},
            "subtitle_digits": {"en": "Digits after comma", "de": "Nachkomma- Stellen", "ru": "Чисел после запятой"},
            "subtitle_digits_tooltip": {
                "en": "Clear value to '' to disable the rounding.",
                "de": "Lösche das Wert zu '' um Rundung zu deaktivieren.",
                "ru": "Удалите значение полностью, что бы деактивировать округление"
            }
        });
    }
    
    vis.binds.lcars = {
        color: function (name) {
            switch (name) {
                case "orange":
                    return "#ff9900";
                    break;
                case "purple":
                    return "#cc99cc";
                    break;
                case "blue":
                    return "#9999ff";
                    break;
                case "lightBlue":
                    return "#9999cc";
                    break;
                case "red":
                    return "#cc0000";
                    break;
                case "lightRed":
                    return "#cc6666";
                    break;
                case "tan":
                    return "#ff9966";
                    break;
                case "lightTan":
                    return "#ffcc99";
                    break;
                case "pink":
                    return "#cc6699";
                    break;
                case "white":
                    return "#ccccff";
                    break;
                default:
                    return "#ffffff";

            }
        },
        _oid: function (options, onChange) {
            // title and subtitle can be {oid: a, prepend: b, append_singular: c, append_plural: d, digits: 0}
            var val = '';
            if (!options.oid) {
                // val = '';
            } else if (options.oid && (options.oid[0] == '(' || options.oid[0] == '[' || options.oid[0] == '{')) {
                // Process it as text
                val = options.oid.substring(1);
                if (val[val.length - 1] == ')' || val[val.length - 1] == ']' || val[val.length - 1] == '}') val = val.substring(0, val.length - 1);
            } else {
                // get actual value and
                var val = (vis.states[options.oid + '.val'] !== undefined) ? vis.states[options.oid + '.val'] : 0;
                if (val === "true" || val === true) val = 1;

                if (options.digits !== null && options.digits !== undefined && options.digits !== '') {
                    val = parseFloat(val).toFixed(parseInt(options.digits, 10));
                }

                if (options.append_singular || options.append_plural) {
                    if (val == 1) {
                        if (options.append_singular !== undefined) val += options.append_singular;
                    } else {
                        if (options.append_plural !== undefined) val += options.append_plural;
                    }
                }
                if (options.prepend !== undefined) val = options.prepend + val;

                // Subscribe
                if (onChange) vis.states.bind(options.oid + '.val', onChange);
            }
            return val;
        },
        _button: function (el, options, id, val, color_active, title, subtitle) {
            // title and subtitle can be {oid: a, prepend: b, append_singular: c, append_plural: d, digits: 0}
            var $this = $(el);
            $this.width($this.parent().width() - 52);

            // process subtitle
            if (typeof subtitle == 'object') {
                // TODO: bug by every change of some parameter new bind will be created!! In Edit mode can be the problem.
                var _subtitle = vis.binds.lcars._oid(subtitle, function () {
                    $this.find('._subtitle').html(vis.binds.lcars._oid(subtitle));
                });
                options.subTitle.text = _subtitle;
            }

            $this.lcarsButton(options);

            if (id && val !== undefined) {
                var newVal = (vis.states[id + '.val'] !== undefined) ? vis.states[id + '.val'] : 0;
                if (newVal === "true" || newVal === true) newVal = 1;

                if (val == newVal) {
                    $this.css("background-color", vis.binds.lcars.color(color_active));
                    $this.find(".B_titleL").css("color", vis.binds.lcars.color(color_active));
                }

                vis.states.bind(id + '.val', function (e, newVal, oldVal) {
                    if (newVal === "true" || newVal === true) newVal = 1;
                    if (val == newVal) {
                        $this.css("background-color", vis.binds.lcars.color(color_active));
                        $this.find(".B_titleL").css("color", vis.binds.lcars.color(color_active));
                    } else {
                        $this.css("background-color", vis.binds.lcars.color(options.color));
                        $this.find(".B_titleL").css("color", vis.binds.lcars.color(options.color));
                    }
                });
            }

            var _title = title;
            // process title
            if (typeof title == 'object') {
                // TODO: bug by every change of some parameter new bind will be created!! In Edit mode can be the problem.
                _title = vis.binds.lcars._oid(title, function () {
                    $this.data('title', vis.binds.lcars._oid(title));
                    $this.find('._title').html($this.data('title'));
                });
            }

            $this.data('title', _title);
            $this.find('._title').html(_title);

            if (vis.editMode) {
                $this.parent().resize(function () {
                    var t = $this.data('timer');
                    if (t) clearTimeout(t);

                    $this.data('timer', setTimeout(function () {
                        clearTimeout($this.data('timer'));
                        $this.data('timer', null);
                        $this.width($this.parent().width() - 52);
                    }, 100));
                });
            }
        },
        button: function (el, options, id, val, color_active, title, subtitle) {
            setTimeout(function () {
                vis.binds.lcars._button(el, options, id, val, color_active, title, subtitle);
            }, 100);
        },
        warpcoreInterval: {},
        warpcore: function (el, speed, wid) {
            var d = 114;
            var i = 0;
            var $this = $(el).prev();

            if (vis.binds.lcars.warpcoreInterval[wid]) {
                clearInterval(vis.binds.lcars.warpcoreInterval[wid]);
            }
            vis.binds.lcars.warpcoreInterval[wid] = _setInterval(function (_this) {
                i += 1;
                if (i > 4) i = 0;
                _this.css("background-position", -d * i);
            },speed, $this);

        },
        warpcoreVal: function (el, id, min, max, wid) {
            var d = 114;
            var i = 0;
            var minSpeed = 800;
            var maxSpeed = 50;
            var valRange = parseFloat(min) - parseFloat(max);
            var spdRange = minSpeed - maxSpeed;
            var val = parseFloat(vis.states.attr(id + '.val'));
            var speed = parseInt(minSpeed + ((spdRange / valRange) * val), 10);
            if (isNaN(speed))     speed = minSpeed;
            if (speed < maxSpeed) speed = maxSpeed;

            var $this = $(el).prev();
            if (vis.binds.lcars.warpcoreInterval[wid]) {
                clearInterval(vis.binds.lcars.warpcoreInterval[wid]);
            }
            vis.binds.lcars.warpcoreInterval[wid] = _setInterval(function (_this) {
                i += 1;
                if (i > 4) i = 0;
                _this.css("background-position", -d * i);
            }, speed, $this);

            vis.states.bind(id + '.val', function (e, newVal, oldVal) {
                var speed = parseInt(minSpeed + ((spdRange / valRange) * parseFloat(newVal)), 10);
                if (isNaN(speed)) { speed = minSpeed; }
                if (speed < maxSpeed) { speed = maxSpeed; }

                if (vis.binds.lcars.warpcoreInterval[wid]) {
                    clearInterval(vis.binds.lcars.warpcoreInterval[wid]);
                }
                vis.binds.lcars.warpcoreInterval[wid] = _setInterval(function (_this) {
                    i += 1;
                    if (i > 4) i = 0;
                    _this.css("background-position", -d * i);
                }, speed, $this);
            });

        },
        dnaInterval: {},
        dna: function (el, oid, speed, wid, min, max) {
            var i = 0;
            var $this = $(el).prev();
            console.log('dna');
            if (vis.binds.lcars.dnaInterval[wid]) {
                clearInterval(vis.binds.lcars.dnaInterval[wid]);
            }
            var val = 1;
            if (oid) {
                val = vis.states.attr(oid + '.val') || 0;
                val = parseFloat(val);
                if (min < max) {
                    if (val < min) val = min;
                    if (val > max) val = max;
                    val = (val - min) / (max - min);
                } else {
                    if (val > min) val = min;
                    if (val < max) val = max;
                    val = (val - min) / (max - min);
                }
                if (val < 0) val = -val;
            }

            vis.binds.lcars.dnaInterval[wid] = _setInterval(function (_this) {
                i += 1;
                if (i > 283) i = 0;
                _this.css("background-position", i);
            }, val * speed, $this);

        },
        randomNumber: function () {
            return ("00" + parseInt((Math.random() * 1000), 10)).slice(-3);
        },
        randomInterval: {},
        random: function (el, rows, cols, speed, wid) {
            var $this = $(el).prev();
            var $table = $this.find("table");
            if (vis.binds.lcars.randomInterval[wid]) {
                clearInterval(vis.binds.lcars.randomInterval[wid]);
            }
            vis.binds.lcars.randomInterval[wid] = _setInterval(function (_table) {
                if (_table.find("tr").length >= rows) {
                    _table.html("");
                }
                var colsHtml = "";
                for (var j = 0; j < cols; j++) {
                    colsHtml += vis.binds.lcars.randomNumber()+"</td><td>";
                }
                _table.append("<tr><td>" + colsHtml + "</td></tr>");

            }, speed, $table);
        },
        nav: function (el, nav_view, color_active) {
            var $this = $(el).prev();

            if (vis.activeView == nav_view) $this.css("background-color", color_active);

            $this.click(function () {
                if (!vis.editMode) {
                    vis.changeView(nav_view);
                    e.preventDefault();
                    return false;
                }
            });

        }
    };
</script>

<!--script id="tplLcarsSidePanel"
        type="text/ejs"
        class="vis-tpl"
        data-vis-set="lcars"
        data-vis-type="navigation"
        data-vis-name="Side-Panel"
        data-vis-attrs="html"
        >
    <div class="vis-widget vis-lcars <%== this.data.attr('class') %>" style="width: 88px; height: 550px;" id="<%= this.data.attr('wid') %>">
        <div class="vis-widget-body">
            <ul id="side-panel" class="side-panel">
                <li style="height: 74px; background-color: rgb(153, 153, 255);"><div style="line-height: 128px;"><span style="padding-right:2px"><a href="index.html">Test1</a></span></div></li>
                <li style="height: 74px; background-color: rgb(204, 153, 204);"><span style="padding-right:2px"><a href="css.html">Test2</a></span></li>
                <li style="height: 74px; background-color: rgb(153, 153, 255);"><span style="padding-right:2px"><a href="debug.html">Test3</a></span></li>
                <li style="height: 74px; background-color: rgb(204, 153, 204);"><span style="padding-right:2px"><a href="mobile.html">Test4</a></span></li>
                <li style="height: 74px; background-color: rgb(153, 153, 255);"><span style="padding-right:2px">Test5</span></li><li style="height: 218px; border-bottom-style: none; background-color: rgb(204, 153, 204);"><span style="padding-right:2px">781</span></li>
            </ul>
        </div>
    </div>
</script-->

<script id="tplLcarsHtmlNav"
        type="text/ejs"
        class="vis-tpl"
        data-vis-set="lcars"
        data-vis-type="navigation"
        data-vis-name="HTML"
        data-vis-prev='<div id="prev_tplLcarsHtmlNav" style="position: relative; text-align: initial;padding: 4px "><div class="vis-widget_prev" style="width: 116px; height: 35px; font-family: lcars_font; font-size: 30px; text-align: right; position: absolute;"><div class="vis-widget-prev-body" style="background-color: rgb(255, 153, 0);"> <span style="padding-right:4px">Link </span></div></div></div>'
        data-vis-attrs="html;nav_view;color_default[orange]/nselect,orange,purple,blue,lightBlue,red,lightRed,tan,lightTan,pink,white;color_active[orange]/nselect,orange,purple,blue,lightBlue,red,lightRed,tan,lightTan,pink,white"
        >
    <div class="vis-widget <%== this.data.attr('class') %>" style="width: 88px; height: 74px; font-family: lcars_font; font-size: 30px; text-align: right; " id="<%= this.data.attr('wid') %>">
        <div class="vis-widget-body" style="background-color: <%= vis.binds.lcars.color(data.attr('color_default')) %>">
            <span style="padding-right:4px"><%== this.data.attr('html') %></a>
        </div>
        <div <%= (el) -> vis.binds.lcars.nav(el, data.attr("nav_view"), data.attr("color_active")) %>></div>
    </div>
</script>

<script id="tplLcarsHTML"
        type="text/ejs"
        class="vis-tpl"
        data-vis-set="lcars"
        data-vis-type="static"
        data-vis-prev='<div id="prev_tplLcarsHTML" style="position: relative; text-align: initial;padding: 4px "><div class="vis-widget_prev ui-draggable-handle " style="font-family: lcars_font; letter-spacing: 1px; font-size: 30px; width: 93px; height: 33px; padding: 0px; margin: 0px; position: absolute;" > <div class="vis-widget-prev-body" style="padding: 0px; margin: 0px; color: rgb(255, 153, 0);"> HTML Text </div> </div></div>'
        data-vis-name="Text/HTML"
        data-vis-attrs="html;lcars_color[orange]/nselect,orange,purple,blue,lightBlue,red,lightRed,tan,lightTan,pink,white"
        >
    <div class="vis-widget <%== this.data.attr('class') %>" style="font-family: lcars_font; letter-spacing: 1px; font-size: 30px; width: 260px; height: 32px;padding:0;margin:0" id="<%= this.data.attr('wid') %>">
        <div class="vis-widget-body" style="padding:0;margin:0;color: <%= vis.binds.lcars.color(this.data.attr('lcars_color')) %>">
            <%== this.data.attr('html') %>
        </div>
    </div>
</script>

<script id="tplLcarsLine"
        type="text/ejs"
        class="vis-tpl"
        data-vis-set="lcars"
        data-vis-name="Line"
        data-vis-type="static"
        data-vis-prev='<div id="prev_tplLcarsLine" style="position: relative; text-align: initial;padding: 4px "><div class="vis-widget_prev ui-draggable-handle" style="width: 69px; height: 13px; padding: 0px; margin: 0px; position: absolute;" > <div class="vis-widget-prev-body" style="padding: 0px; margin: 0px; background-color: rgb(255, 153, 0);"> </div> </div></div>'
        data-vis-attrs="lcars_color[orange]/nselect,orange,purple,blue,lightBlue,red,lightRed,tan,lightTan,pink,white"
        >
    <div class="vis-widget <%== this.data.attr('class') %>" style="width: 195px; height: 25px; padding: 0; margin: 0" id="<%= this.data.attr('wid') %>">
        <div class="vis-widget-body" style="padding:0;margin:0;background-color: <%= vis.binds.lcars.color(this.data.attr('lcars_color')) %>">
        </div>
    </div>
</script>

<script id="tplLcarsLineTop"
        type="text/ejs"
        class="vis-tpl"
        data-vis-set="lcars"
        data-vis-prev='<img src="widgets/lcars/img/Prev_Top.png"></img>'
        data-vis-type="static"
        data-vis-name="Line-Top"
        data-vis-attrs="lcars_color[orange]/nselect,orange,purple,blue,lightBlue,red,lightRed,tan,lightTan,pink,white;line_height[3]/slider,1,40,1"
        >
    <div class="vis-widget vis-lcars <%== this.data.attr('class') %>" style="width: 400px; height: 25px;" id="<%= this.data.attr('wid') %>">
        <div class="vis-widget-body">
            <div class="line-top" style="background-color:<%= vis.binds.lcars.color(this.data.attr('lcars_color')) %>;margin-bottom:-3px;"></div>
        </div>
    </div>
</script>

<script id="tplLcarsLineBottom"
        type="text/ejs"
        class="vis-tpl"
        data-vis-set="lcars"
        data-vis-type="static"
        data-vis-name="Line-Bottom"
        data-vis-prev='<img src="widgets/lcars/img/Prev_Bottom.png"></img>'
        data-vis-attrs="lcars_color[orange]/nselect,orange,purple,blue,lightBlue,red,lightRed,tan,lightTan,pink,white;line_height[3]/slider,1,40,1"
        >
    <div class="vis-widget vis-lcars <%== this.data.attr('class') %>" style="width: 400px; height: 25px;" id="<%= this.data.attr('wid') %>">
        <div class="vis-widget-body">
            <div class="line-bottom" style="background-color:<%= vis.binds.lcars.color(this.data.attr('lcars_color')) %>;margin-bottom:-3px;"></div>
        </div>
    </div>
</script>

<script id="tplLcarsEdge"
        type="text/ejs"
        class="vis-tpl"
        data-vis-set="lcars"
        data-vis-type="static"
        data-vis-prev='<div id="prev_tplLcarsEdge" style="position: relative; text-align: initial;padding: 4px "><div class="vis-widget_prev vis-lcars ui-selectee ui-draggable-handle " style="width: 93px; height: 33px; padding: 0px; margin: 0px; position: absolute;" > <div class="vis-widget-prev-body" style="padding: 0px; margin: 0px; background-color: rgb(255, 153, 0);"> <img width="100%" height="100%" style="padding:0;margin:0;border:none;" src="widgets/lcars/img/edge2-tl.png"> </div> </div></div>'
        data-vis-name="Edge"
        data-vis-attrs="edge_type[1]/nselect,1,2;edge_direction[tl]/select,tl,tr,br,bl;lcars_color[orange]/nselect,orange,purple,blue,lightBlue,red,lightRed,tan,lightTan,pink,white"
        >
    <div class="vis-widget vis-lcars <%== this.data.attr('class') %>" style="width: 195px; height: 83px;padding:0;margin:0" id="<%= this.data.attr('wid') %>">
        <div class="vis-widget-body" style="padding:0;margin:0;background-color: <%= vis.binds.lcars.color(this.data.attr('lcars_color')) %>">
            <img width="100%" height="100%" style="padding:0;margin:0;border:none;" src="widgets/lcars/img/edge<%= this.data.attr('edge_type') %>-<%= this.data.attr('edge_direction') %>.png">
        </div>
    </div>
</script>

<script id="tplLcarsEnd"
        type="text/ejs"
        class="vis-tpl"
        data-vis-set="lcars"
        data-vis-type="static"
        data-vis-prev='<div id="prev_tplLcarsEdge" style="position: relative; text-align: initial;padding: 4px "><div class="vis-widget_prev vis-lcars ui-selectee ui-draggable-handle " style="width: 93px; height: 25px; padding: 0px; margin: 0px; font-size: 1px" > <div class="vis-widget-prev-body" style="padding: 0px; margin: 0px; background-color: rgb(255, 153, 0); text-align: right"> <img height="100%" style="padding:0;margin:0;border:none;" src="widgets/lcars/img/end-r.png"> </div> </div></div>'
        data-vis-name="End"
        data-vis-attrs="frame_direction[r]/select,r,l;lcars_color[orange]/nselect,orange,purple,blue,lightBlue,red,lightRed,tan,lightTan,pink,white"
        >
    <div class="vis-widget vis-lcars <%== this.data.attr('class') %>" style="width: 50px; height: 25px;padding:0;margin:0" id="<%= this.data.attr('wid') %>">
        <div class="vis-widget-body" style="padding:0; margin:0; font-size: 1px; background-color: <%= vis.binds.lcars.color(this.data.attr('lcars_color')) %>; text-align: <%= (this.data.attr('frame_direction') == 'r' ? 'right' : 'left') %>">
            <img height="100%" style="padding: 0; margin: 0; border: none;" src="widgets/lcars/img/end-<%= this.data.attr('frame_direction') %>.png">
         </div>
    </div>
</script>

<script id="tplLcarsFrame"
        type="text/ejs"
        class="vis-tpl"
        data-vis-set="lcars"
        data-vis-type="static"
        data-vis-name="Frame"
        data-vis-prev='<div id="prev_tplLcarsFrame" style="position: relative; text-align: initial;padding: 4px "><div class="vis-widget_prev vis-lcars ui-draggable-handle " style="width: 33px; height: 95px; padding: 0px; margin: 0px; position: absolute;" > <div class="vis-widget-prev-body" style="padding:0;margin:0"> <img width="100%" height="100%" style="padding:0;margin:0;border:none;" src="widgets/lcars/img/frame1-r.png"> </div> </div></div>'
        data-vis-attrs="frame_type[1]/nselect,1,2;frame_direction[r]/select,r,l"
        >
    <div class="vis-widget vis-lcars <%== this.data.attr('class') %>" style="width: 32px; height: 215px;padding:0;margin:0" id="<%= this.data.attr('wid') %>">
        <div class="vis-widget-body" style="padding:0;margin:0">
            <img width="100%" height="100%" style="padding:0;margin:0;border:none;" <%= (this.data.attr('frame_type') && this.data.attr('frame_direction') ? 'src="widgets/lcars/img/frame' + this.data.attr('frame_type') +'-' + this.data.attr('frame_direction') + '.png"' : '') %>>
        </div>
    </div>
</script>

<script id="tplLcarsUfpLogo"
        type="text/ejs"
        class="vis-tpl"
        data-vis-set="lcars"
        data-vis-type="static"
        data-vis-name="UFP Logo"
        data-vis-prev='<div id="prev_tplLcarsUfpLogo" style="position: relative; text-align: initial;padding: 4px "><div class="vis-widget_prev ui-draggable-handle " style="width: 93px; height: 70px; padding: 0px; margin: 0px; position: absolute;" > <div class="vis-widget-prev-body"> <img width="100%" src="widgets/lcars/img/ufp.png"> </div> </div></div>'
        data-vis-attrs=""
        >
    <div class="vis-widget <%== this.data.attr('class') %>" style="width: 531px; height: 409px;padding:0;margin:0" id="<%= this.data.attr('wid') %>">
        <div class="vis-widget-body">
            <img width="100%" src="widgets/lcars/img/ufp.png"/>
        </div>
    </div>
</script>

<script id="tplLcarsSfLogo"
        type="text/ejs"
        class="vis-tpl"
        data-vis-set="lcars"
        data-vis-type="static"
        data-vis-prev='<div id="prev_tplLcarsSfLogo" style="position: relative; text-align: initial;padding: 4px "><div class="vis-widget_prev ui-draggable-handle " style="width: 73px; height: 77px; padding: 0px; margin: 0px; position: absolute;" > <div class="vis-widget-prev-body" style="background-color: rgb(255, 153, 0);"> <img width="100%" src="widgets/lcars/img/starfleet.png"> </div> </div></div>'
        data-vis-name="Starfleet Logo"
        data-vis-attrs="lcars_color[orange]/nselect,orange,purple,blue,lightBlue,red,lightRed,tan,lightTan,pink,white"
        >
    <div class="vis-widget <%== this.data.attr('class') %>" style="width: 161px; height: 171px ;padding:0;margin:0" id="<%= this.data.attr('wid') %>">
        <div class="vis-widget-body" style="background-color: <%= vis.binds.lcars.color(this.data.attr('lcars_color')) %>">
            <img width="100%" src="widgets/lcars/img/starfleet.png"/>
        </div>
    </div>
</script>

<script id="tplLcarsDna"
        type="text/ejs"
        class="vis-tpl"
        data-vis-set="lcars"
        data-vis-type="static"
        data-vis-prev='<div id="prev_tplLcarsDna" style="position: relative; text-align: initial;padding: 4px "><div class="vis-widget_prev vis-lcars ui-draggable-handle " style="width: 87px; height: 43px; padding: 0px; margin: 0px; position: absolute;" > <div class="vis-widget-prev-body" style="padding:0;margin:0"> <div style="width: 100%; height: 100%; background-image: url(widgets/lcars/img/dna.png); background-position: 208px 50%;"></div>  </div> </div></div>'
        data-vis-name="DNA"
        data-vis-attrs="oid;speed[50];min[0];max[100]"
        >
    <div class="vis-widget vis-lcars <%== this.data.attr('class') %>" style="width: 560px; height: 48px;padding:0;margin:0" id="<%= this.data.attr('wid') %>">
        <div class="vis-widget-body" style="padding:0;margin:0">
            <div style="width:100%;height:100%;background-image: url('widgets/lcars/img/dna.png')"></div>
            <div <%= (el) -> vis.binds.lcars.dna(el, data.attr('oid'), data.attr('speed'), data.attr('wid'), data.attr('min'), data.attr('max')) %>></div>
        </div>
    </div>
</script>

<script id="tplLcarsRandom"
        type="text/ejs"
        class="vis-tpl"
        data-vis-set="lcars"
        data-vis-type="static"
        data-vis-name="Random Numbers"
        data-vis-prev='<div id="prev_tplLcarsRandom" style="position: relative; text-align: initial;padding: 4px "><div class="vis-widget_prev ui-draggable-handle " style="font-family: lcars_font; letter-spacing: 1px; font-size: 30px; width: 87px; height: 78px; padding: 0px; margin: 0px" > <div class="vis-widget-prev-body" style="padding: 0px; margin: 0px; color: rgb(255, 153, 0);"> <table style="width:100%"> <tbody><tr><td>592</td><td>248</td><td></td></tr><tr><td>653</td><td>211</td><td></td></tr></tbody></table> </div>  </div></div>'
        data-vis-attrs="rows[6];cols[4];speed[1000];lcars_color[orange]/nselect,orange,purple,blue,lightBlue,red,lightRed,tan,lightTan,pink,white"
        >
    <div class="vis-widget <%== this.data.attr('class') %>" style="font-family: lcars_font; letter-spacing: 1px; font-size: 30px; width: 260px; height: 32px;padding:0;margin:0" id="<%= this.data.attr('wid') %>">
        <div class="vis-widget-body" style="padding:0;margin:0;color: <%= vis.binds.lcars.color(this.data.attr('lcars_color')) %>">
            <table style="width:100%">

            </table>
        </div>
        <div <%= (el) -> vis.binds.lcars.random(el, data.attr('rows'), data.attr('cols'), data.attr('speed'), data.attr('wid')) %>></div>
    </div>
</script>

<script id="tplLcarsWarpcoreFix"
        type="text/ejs"
        class="vis-tpl"
        data-vis-set="lcars"
        data-vis-type="static"
        data-vis-name="Warpcore"
        data-vis-prev='<img src="widgets/lcars/img/Prev_Warpcore.png"></img>'
        data-vis-attrs="speed[500]/slider,20,800,1"
        >
    <div class="vis-widget vis-lcars <%== this.data.attr('class') %>" style="width: 114px; height: 317px;padding:0;margin:0" id="<%= this.data.attr('wid') %>">
        <div class="vis-widget-body" style="padding:0;margin:0">
            <div style="width:100%;height:100%;background-image: url('widgets/lcars/img/warpcore.png')"></div>
            <div <%= (el) -> vis.binds.lcars.warpcore(el, data.attr('speed'), data.attr('wid')) %>></div>
        </div>
    </div>
</script>

<script id="tplLcarsWarpcore"
        type="text/ejs"
        class="vis-tpl"
        data-vis-set="lcars"
        data-vis-type="val"
        data-vis-name="Warpcore"
        data-vis-prev='<img src="widgets/lcars/img/Prev_Warpcore.png"></img>'
        data-vis-attrs="oid;min[0];max[1]"
        >
    <div class="vis-widget vis-lcars <%== this.data.attr('class') %>" style="width: 114px; height: 317px;padding:0;margin:0" id="<%= this.data.attr('wid') %>">
        <div class="vis-widget-body" style="padding:0;margin:0">
            <div style="width:100%; height:100%; background-repeat: no-repeat; background-image: url('widgets/lcars/img/warpcore.png')"></div>
            <div <%= (el) -> vis.binds.lcars.warpcoreVal(el, data.attr('oid'), data.attr('min'), data.attr('max'), data.attr('wid')) %>></div>
        </div>
    </div>
</script>

<script id="tplLcarsButton"
        type="text/ejs"
        class="vis-tpl"
        data-vis-set="lcars"
        data-vis-type="ctrl"
        data-vis-name="Button State"
        data-vis-prev='<div id="prev_tplLcarsButton" style="text-align: initial;padding: 4px"><div class="vis-widget_prev vis-lcars ui-draggable-handle " style="width: 132px; height: 46px; position: absolute;"> <div class="vis-widget-prev-body"> <span class="button RR L" style="width: 70px; background-color: rgb(255, 153, 0);"><span style="">state</span></span> </div> </div></div>'
        data-vis-attrs="oid;value;title;rounded[both]/select,both,left,right,none;color_default[orange]/nselect,orange,purple,blue,lightBlue,red,lightRed,tan,lightTan,pink,white;color_active[orange]/nselect,orange,purple,blue,lightBlue,red,lightRed,tan,lightTan,pink,white;"
        data-vis-attrs0="group.subtitle;subtitle[state];subtitle_show/select,none,left,right;subtitle_color/nselect,,orange,purple,blue,lightBlue,red,lightRed,tan,lightTan,pink,white"
        >
    <div class="vis-widget vis-lcars <%== this.data.attr('class') %>" style="width: 150px; height: 45px" id="<%= this.data.attr('wid') %>"  data-oid="<%= this.data.attr('oid') %>" data-val="<%= this.data.attr('value') %>" <%= (el) -> vis.binds.basic.state(el) %> >
        <div class="vis-widget-body">
           <span <%= (el) -> vis.binds.lcars.button(el, {rounded: data.attr('rounded'), blank: data.attr('blank'), extended: true, color: data.attr('color_default'), subTitle: {direction: data.attr('subtitle_show'), text: data.attr('subtitle'), color: data.attr('subtitle_color')}, length: data.attr('width')}, data.attr('oid'), data.attr('value'), data.attr('color_active'), this.data.attr('title')) %>><span class="_title"></span></span>
        </div>
    </div>
</script>

<script id="tplLcarsButtonInc"
        type="text/ejs"
        class="vis-tpl"
        data-vis-set="lcars"
        data-vis-type="ctrl"
        data-vis-name="Button Increment"
        data-vis-prev='<div id="prev_tplLcarsButtonInc" style="text-align: initial;padding: 4px"><div class="vis-widget_prev vis-lcars" style="width: 132px; height: 46px; position: absolute;"> <div class="vis-widget-prev-body"> <span class="button RR L" style="width: 70px; background-color: rgb(255, 153, 0);"><span>increment</span></span> </div> </div></div>'
        data-vis-attrs="oid;step[0.01];minmax[1];repeat_delay[800];repeat_interval[800];title;rounded/select,both,left,right,none;"
        data-vis-attrs0="color_default[orange]/nselect,orange,purple,blue,lightBlue,red,lightRed,tan,lightTan,pink,white;color_active[orange]/nselect,orange,purple,blue,lightBlue,red,lightRed,tan,lightTan,pink,white;"
        data-vis-attrs1="group.subtitle;subtitle[increment];subtitle_show/select,none,left,right;subtitle_color/nselect,,orange,purple,blue,lightBlue,red,lightRed,tan,lightTan,pink,white"
        >
    <div class="vis-widget vis-lcars <%== this.data.attr('class') %>" style="width: 150px; height: 45px" id="<%= this.data.attr('wid') %>" data-vis-step="<%= this.data.attr('step') %>" data-oid="<%= this.data.attr('oid') %>" data-val="<%= this.data.attr('value') %>" <%= (el) -> vis.binds.basic.increment(el, data.attr('minmax'), data.attr('repeat_delay'), data.attr('repeat_interval')) %>>
        <div class="vis-widget-body">
            <span <%= (el) -> vis.binds.lcars.button(el, {rounded:data.attr('rounded'), blank: data.attr('blank'), extended: true, color: data.attr('color_default'), subTitle: {direction: data.attr('subtitle_show'), text: data.attr('subtitle'), color: data.attr('subtitle_color')}}, data.attr('oid'), data.attr('minmax'), data.attr('color_active'), this.data.attr('title')) %>><span class="_title"></span></span>
        </div>
    </div>
</script>

<script id="tplLcarsButtonToggle"
        type="text/ejs"
        class="vis-tpl"
        data-vis-set="lcars"
        data-vis-type="ctrl"
        data-vis-name="Button Toggle"
        data-vis-prev='<div id="prev_tplLcarsButtonToggle" style="position: relative; text-align: initial;padding: 4px"><div class="vis-widget_prev vis-lcars" style="width: 132px; height: 46px;"> <div class="vis-widget-prev-body"> <span class="button RR L" style="width: 70px; background-color: rgb(255, 153, 0);"><span>toggle</span></span> </div> </div></div>'
        data-vis-attrs="oid;title;rounded/select,both,left,right,none;color_default[orange]/nselect,orange,purple,blue,lightBlue,red,lightRed,tan,lightTan,pink,white;color_active[orange]/nselect,orange,purple,blue,lightBlue,red,lightRed,tan,lightTan,pink,white;"
        data-vis-attrs0="group.subtitle;subtitle[toggle];subtitle_show/select,none,left,right;subtitle_color/nselect,,orange,purple,blue,lightBlue,red,lightRed,tan,lightTan,pink,white"
        >
    <div class="vis-widget vis-lcars <%== this.data.attr('class') %>" style="width: 150px; height: 45px" id="<%= this.data.attr('wid') %>" data-vis-step="<%= this.data.attr('step') %>" data-oid="<%= this.data.attr('oid') %>" data-val="<%= this.data.attr('value') %>" <%= (el) -> vis.binds.basic.toggle(el) %>>
        <div class="vis-widget-body">
            <span <%= (el) -> vis.binds.lcars.button(el, {rounded: data.attr('rounded'), blank: data.attr('blank'), extended: true, color: data.attr('color_default'), subTitle: {direction: data.attr('subtitle_show'), text: data.attr('subtitle'), color:data.attr('subtitle_color')}}, data.attr('oid'), 1, data.attr('color_active'), this.data.attr('title')) %>><span class="_title"></span></span>
        </div>
    </div>
</script>

<script id="tplLcarsButtonVal"
    type="text/ejs"
    class="vis-tpl"
    data-vis-set="lcars"
    data-vis-type="ctrl,val"
    data-vis-name="Button State"
    data-vis-prev='<div id="prev_tplLcarsButtonVal" style="position: relative; text-align: initial;padding: 4px "><div class="vis-widget_prev vis-lcars" style="width: 132px; height: 50px"> <div class="vis-widget-prev-body"> <span class="button RR L" style="width: 80px; background-color: rgb(255, 153, 0);"><span class="B_titleL _subtitle" style="color:#cc99cc">25.0</span><span class="_title">state</span></span> </div> </div></div>'
    data-vis-attrs="oid;value;title;rounded[both]/select,both,left,right,none;color_default[orange]/nselect,orange,purple,blue,lightBlue,red,lightRed,tan,lightTan,pink,white;color_active[orange]/nselect,orange,purple,blue,lightBlue,red,lightRed,tan,lightTan,pink,white;"
    data-vis-attrs0="color_default[orange]/nselect,orange,purple,blue,lightBlue,red,lightRed,tan,lightTan,pink,white;"
    data-vis-attrs1="color_active[orange]/nselect,orange,purple,blue,lightBlue,red,lightRed,tan,lightTan,pink,white;"
    data-vis-attrs2="rounded/select,both,left,right,none;"
    data-vis-attrs3="group.title;title_oid[(state)]/id;title_prepend;title_append_singular;title_append_plural;title_digits;"
    data-vis-attrs4="group.subtitle;subtitle_oid[(25.0)]/id;subtitle_prepend;subtitle_append_singular;subtitle_append_plural;subtitle_digits;subtitle_show[left]/select,none,left,right;subtitle_color/nselect,,orange,purple,blue,lightBlue,red,lightRed,tan,lightTan,pink,white"
    >
    <div class="vis-widget vis-lcars <%== this.data.attr('class') %>" style="width: 150px; height: 45px;" id="<%= this.data.attr('wid') %>"  data-oid="<%= this.data.attr('oid') %>" data-val="<%= this.data.attr('value') %>" <%= (el) -> vis.binds.basic.state(el) %> >
        <div class="vis-widget-body">
            <span <%= (el) -> vis.binds.lcars.button(el, {rounded: data.attr('rounded'), blank: data.attr('blank'), extended:true, color: data.attr('color_default'), subTitle: {direction: data.attr('subtitle_show'), text: data.attr('subtitle'), color: data.attr('subtitle_color')}}, data.attr('oid'), data.attr('value'), data.attr('color_active'), {oid: data.attr('title_oid'), prepend: data.attr('title_prepend'), append_singular: data.attr('title_append_singular'),append_plural: data.attr('title_append_plural'), digits: data.attr('title_digits')}, {oid: data.attr('subtitle_oid'), prepend: data.attr('subtitle_prepend'), append_singular: data.attr('subtitle_append_singular'), append_plural: data.attr('subtitle_append_plural'), digits: data.attr('subtitle_digits')}) %>><span class="_title"></span></span>
        </div>
    </div>
</script>

<script id="tplLcarsButtonIncVal" 
    type="text/ejs"
    class="vis-tpl"
    data-vis-set="lcars"
    data-vis-type="ctrl,val"
    data-vis-name="Button Increment"
    data-vis-prev='<div id="tplLcarsButtonIncVal" style="position: relative; text-align: initial;padding: 4px "><div class="vis-widget_prev vis-lcars" style="width: 132px; height: 50px"> <div class="vis-widget-prev-body"> <span class="button RR L" style="width: 80px; background-color: rgb(255, 153, 0);"><span class="B_titleL _subtitle" style="color:#cc99cc">25.0</span><span class="_title">inc</span></span> </div> </div></div>'
    data-vis-attrs="oid;step[0.01];minmax[1];repeat_delay[800];repeat_interval[800];"
    data-vis-attrs0="color_default[orange]/nselect,orange,purple,blue,lightBlue,red,lightRed,tan,lightTan,pink,white;"
    data-vis-attrs1="color_active[orange]/nselect,orange,purple,blue,lightBlue,red,lightRed,tan,lightTan,pink,white;"
    data-vis-attrs2="rounded/select,both,left,right,none;"
    data-vis-attrs3="group.title;title_oid[(inc)]/id;title_prepend;title_append_singular;title_append_plural;title_digits;"
    data-vis-attrs4="group.subtitle;subtitle_oid[(25.0)]/id;subtitle_prepend;subtitle_append_singular;subtitle_append_plural;subtitle_digits;subtitle_show[left]/select,none,left,right;subtitle_color/nselect,,orange,purple,blue,lightBlue,red,lightRed,tan,lightTan,pink,white"
    >
    <div class="vis-widget vis-lcars <%== this.data.attr('class') %>" style="width: 150px; height: 45px;" id="<%= this.data.attr('wid') %>" data-vis-step="<%= this.data.attr('step') %>" data-oid="<%= this.data.attr('oid') %>" data-val="<%= this.data.attr('value') %>" <%= (el) -> vis.binds.basic.increment(el, data.attr('minmax'), data.attr('repeat_delay'), data.attr('repeat_interval')) %>>
        <div class="vis-widget-body">
            <span <%= (el) -> vis.binds.lcars.button(el, {rounded:data.attr('rounded'),blank:data.attr('blank'),extended:true,color:data.attr('color_default'),subTitle:{direction:data.attr('subtitle_show'),text:data.attr('subtitle'), color: data.attr('subtitle_color')}}, data.attr('oid'), data.attr('minmax'), data.attr('color_active'), {oid: data.attr('title_oid'), prepend: data.attr('title_prepend'), append_singular: data.attr('title_append_singular'),append_plural: data.attr('title_append_plural'), digits: data.attr('title_digits')}, {oid: data.attr('subtitle_oid'), prepend: data.attr('subtitle_prepend'), append_singular: data.attr('subtitle_append_singular'), append_plural: data.attr('subtitle_append_plural'), digits: data.attr('subtitle_digits')}) %>><span class="_title"></span></span>
        </div>
    </div>
</script>

<script id="tplLcarsButtonToggleVal"
    type="text/ejs"
    class="vis-tpl"
    data-vis-set="lcars"
    data-vis-type="ctrl,val"
    data-vis-name="Button Toggle"
    data-vis-prev='<div id="tplLcarsButtonToggleVal" style="position: relative; text-align: initial;padding: 4px "><div class="vis-widget_prev vis-lcars" style="width: 132px; height: 50px"> <div class="vis-widget-prev-body"> <span class="button RR L" style="width: 80px; background-color: rgb(255, 153, 0);"><span class="B_titleL _subtitle" style="color:#cc99cc">0</span><span class="_title">toggle</span></span> </div> </div></div>'
    data-vis-attrs="oid;"
    data-vis-attrs0="color_default[orange]/nselect,orange,purple,blue,lightBlue,red,lightRed,tan,lightTan,pink,white;"
    data-vis-attrs1="color_active[orange]/nselect,orange,purple,blue,lightBlue,red,lightRed,tan,lightTan,pink,white;"
    data-vis-attrs2="rounded/select,both,left,right,none;"
    data-vis-attrs3="group.title;title_oid[(toggle)]/id;title_prepend;title_append_singular;title_append_plural;title_digits;"
    data-vis-attrs4="group.subtitle;subtitle_oid[(0)]/id;subtitle_prepend;subtitle_append_singular;subtitle_append_plural;subtitle_digits;subtitle_show[left]/select,none,left,right;subtitle_color/nselect,,orange,purple,blue,lightBlue,red,lightRed,tan,lightTan,pink,white"
    >
    <div class="vis-widget vis-lcars <%== this.data.attr('class') %>" style="width: 150px; height: 45px;;" id="<%= this.data.attr('wid') %>" data-vis-step="<%= this.data.attr('step') %>" data-oid="<%= this.data.attr('oid') %>" data-val="<%= this.data.attr('value') %>" <%= (el) -> vis.binds.basic.toggle(el) %>>
        <div class="vis-widget-body">
            <span <%= (el) -> vis.binds.lcars.button(el, {rounded:data.attr('rounded'),blank:data.attr('blank'),extended:true,color:data.attr('color_default'),subTitle:{direction:data.attr('subtitle_show'),text:data.attr('subtitle'), color: data.attr('subtitle_color')}}, data.attr('oid'), 1, data.attr('color_active'), {oid: data.attr('title_oid'), prepend: data.attr('title_prepend'), append_singular: data.attr('title_append_singular'),append_plural: data.attr('title_append_plural'), digits: data.attr('title_digits')}, {oid: data.attr('subtitle_oid'), prepend: data.attr('subtitle_prepend'), append_singular: data.attr('subtitle_append_singular'), append_plural: data.attr('subtitle_append_plural'), digits: data.attr('subtitle_digits')}) %>><span class="_title"></span></span>
        </div>
    </div>
</script>
