<link rel="stylesheet" type="text/css" href="widgets/timeAndWeather/css/flipclock.css" />
<link rel="stylesheet" type="text/css" href="widgets/timeAndWeather/css/jquery.jdigiclock.css" />
<link rel="stylesheet" type="text/css" href="widgets/timeAndWeather/css/yahoo.css" />
<link rel="stylesheet" type="text/css" href="widgets/timeAndWeather/css/simpleclock.css" />
<script type="text/javascript" src="widgets/timeAndWeather/js/flipclock/flipclock.min.js"></script>
<script type="text/javascript" src="widgets/timeAndWeather/js/jquery.jdigiclock.js"></script>
<script type="text/javascript" src="widgets/timeAndWeather/js/jquery.zweatherfeed.js"></script>
<script type="text/javascript" src="widgets/timeAndWeather/js/coolclock.js"></script>
<script type="text/javascript" src="widgets/timeAndWeather/js/moreskins.js"></script>

<!--script src="widgets/timeAndWeather/js/coolclock.js"></script>
<script src="widgets/timeAndWeather/js/moreskins.js"></script-->

<script language="javascript">
    "use strict";

	// Add words for bars
    if (vis.editMode) {
        $.extend(systemDictionary, {
            "hideSeconds"      : {"en": "Hide seconds",  "de": "Zeige keine Sekunden","ru": "Скрыть секунды"},
            "blink"            : {"en": "Blink",         "de": "Blinken",             "ru": "Мигать"},
            "blink_tooltip"    : {
                "en" : "Used only if no seconds shown",
                "de":  "Wird nur aktiv, falls keine Sekunden angezeigt sind",
                "ru":  "Активно только если секунды не показываются"},
            "showWeekDay"      : {"en": "Show day of week", "de": "Wochentag",        "ru": "День недели"},
            "noClass"          : {"en": "No style",      "de": "Kein Stil",           "ru": "Без стиля"},
            "noClass_tooltip"  : {
                "en" : "Activate it if you want to set own class or own style for clock with css settings",
                "de":  "Aktiviere es, falls eigenen Stil oder Klasse wird angeandt",
                "ru":  "Если установлены пользовательский класс или CSS свойства,\x0Aто нужно активировать, что бы они стали активными"
            },
            "weoid"            : {"en": "City",          "de": "Stadt",               "ru": "Город"},
            "shortWeekDay"     : {"en": "Short week day","de": "Kurzer Wochentag",    "ru": "Короткий день недели"},
            "shortYear"        : {"en": "Short year",    "de": "Kurzes Jahr",         "ru": "Короткий год"},
            "prependZero"      : {"en": "Prepend zero",  "de": "Null vorne",          "ru": "Ноль в начале"},
            "monthWord"        : {"en": "Month as word", "de": "Monat als text",      "ru": "Месяц словом"},
            "shortMonth"       : {"en": "Short month",   "de": "Kurzer Monat",        "ru": "Короткий месяц"},
            "americanOrder"    : {"en": "American format","de": "USA-Format",         "ru": "Формат USA"},
            "City:"            : {"en": "City:",         "de": "Stadt:",              "ru": "Город:"},
            "noSeconds"        : {"en": "Hide seconds",  "de": "Zeige keine Sekunden","ru": "Скрыть секунды"},
            "showDigital"      : {"en": "Digital clock", "de": "Digitaluhr",          "ru": "Цифровые часы"},
            "Select city"      : {"en": "Select city",   "de": "Stadt wählen",        "ru": "Выбрать город"},
            "showAmPm"         : {"en": "Show am/pm",    "de": "Zeige am/pm",         "ru": "Показать am/pm"}
        });
    }

    vis.binds.timeAndWeather = {
        startTime: function (view, elem, hideSeconds, blink, noClass, timerId) {
            var today = new Date();
            var h =     today.getHours();
            var m =     today.getMinutes();
            var s =     today.getSeconds();

            // add a zero in front of numbers<10
            m = (m < 10) ? ("0" + m) : m;
            if (!hideSeconds) {
                s = (s < 10) ? ("0" + s) : s;
            }
            h = (h < 10) ? ("0" + h) : h;
            var hl = document.getElementById(elem);
            if (hideSeconds === "false") {
                hideSeconds = false;
            }
            if (!hl) {
                $('#visview_'+view).append('<div class="vis-widget'+ (noClass ? '' : ' clock') + '" id="' + elem + '" ></div>');
                hl = document.getElementById(elem);
                hl.dashId = today.getTime();
            }
            if (hl && (timerId === undefined || hl.dashId == timerId)) {
                if (hideSeconds) {
                    hl.innerHTML = h + '<span style="display:inline-block" id="' + elem + '_space">:</span>' + m;
                    if (blink && (s % 2)) {
                        var r = $('#' + elem + '_space');
                        var w = r.width();
                        r.css({width: w});
                        r.html("");
                    }
                } else {
                    hl.innerHTML = h + ":" + m + ":" + s;
                }
                hl.dashTimer = _setTimeout(vis.binds.timeAndWeather.startTime, 1000, view, elem, hideSeconds, blink, noClass, hl.dashId);
            }
        },
        weekdays:{
            0: {"en": "Sunday",   "de": "Sonntag",    "ru": "Воскресенье"},
            1: {"en": "Monday",   "de": "Montag",     "ru": "Понедельник"},
            2: {"en": "Tuesday",  "de": "Dienstag",   "ru": "Вторник"},
            3: {"en": "Wednesday","de": "Mittwoch",   "ru": "Среда"},
            4: {"en": "Thursday", "de": "Donnerstag", "ru": "Четверг"},
            5: {"en": "Friday",   "de": "Freitag",    "ru": "Пятница"},
            6: {"en": "Saturday", "de": "Samstag",    "ru": "Суббота"}
        },
        weekdaysShort:{
            0: {"en": "Sun", "de": "So", "ru": "Вс"},
            1: {"en": "Mon", "de": "Mo", "ru": "Пн"},
            2: {"en": "Tue", "de": "Di", "ru": "Вт"},
            3: {"en": "Wed", "de": "Mi", "ru": "Ср"},
            4: {"en": "Thu", "de": "Do", "ru": "Чт"},
            5: {"en": "Fri", "de": "Fr", "ru": "Пт"},
            6: {"en": "Sat", "de": "Sa", "ru": "Сб"}
        },
        months:{
            1: {"en": "January",    "de": "Januar",     "ru": "Январь"},
            2: {"en": "February",   "de": "Dienstag",   "ru": "Февраль"},
            3: {"en": "March",      "de": "März",       "ru": "Март"},
            4: {"en": "April",      "de": "April",      "ru": "Апрель"},
            5: {"en": "May",        "de": "Mai",        "ru": "Май"},
            6: {"en": "June",       "de": "Juni",       "ru": "Июнь"},
            7: {"en": "July",       "de": "Juli",       "ru": "Июль"},
            8: {"en": "August",     "de": "August",     "ru": "Август"},
            9: {"en": "September",  "de": "September",  "ru": "Сентябрь"},
            10: {"en": "October",   "de": "Oktober",    "ru": "Октябрь"},
            11: {"en": "November",  "de": "November",   "ru": "Ноябрь"},
            12: {"en": "December",  "de": "Dezember",   "ru": "Декабрь"}
        },
        startDate: function (view, elem, showWeekDay, noClass, timerId, shortWeekDay, shortYear, prependZero, monthWord, shortMonth, american) {
            var today = new Date();
            var d =     today.getDate();
            var dow =   today.getDay();
            var m =     today.getMonth() + 1;
            var y =     today.getFullYear();

            var monthString = vis.binds.timeAndWeather.months[m][vis.language];
            if (shortMonth) monthString = monthString.slice(0, 3);

            if (shortYear) y = y.toString().slice(2);

            // add a zero in front of numbers<10
            if (prependZero) d = (d < 10) ? ('0' + d) : d;
            if (prependZero) m = (m < 10) ? ('0' + m) : m;

            if (showWeekDay === 'false') showWeekDay = false;

            var $hl = $('#' + elem);
            if (!$hl.length) {
                $('#visview_' + view).append('<div class="vis-widget' + (noClass ? '' : ' date') + '" id="' + elem + '" ></div>');
                $hl = $('#' + elem);
                $hl.data('dashId', (new Date()).getTime());
            }

            if ($hl.length && (timerId === undefined || $hl.data('dashId') == timerId)) {
                var dateString = '';
                if (showWeekDay && !shortWeekDay) {
                    dateString += vis.binds.timeAndWeather.weekdays[dow][vis.language] + ', ';
                } else if (showWeekDay && shortWeekDay) {
                    dateString += vis.binds.timeAndWeather.weekdaysShort[dow][vis.language] + ', ';
                }

                if (monthWord) {
                    switch (vis.language) {
                        case "en":
                            switch (d) {
                                case 1:
                                    d +=  'st';
                                    break;
                                case 2:
                                    d +=  'nd';
                                    break;
                                case 3:
                                    d +=  'rd';
                                    break;
                                default:
                                    d +=  'th';
                            }

                            if (american) {
                                dateString += monthString + " " + d + ", " + y;
                            } else {
                                dateString += d + " " + monthString + ", " + y;
                            }

                            break;
                        default:
                            dateString += d + ". " + monthString + " " + y;
                    }
                } else {
                    switch (vis.language) {
                        case "en":
                            if (american) {
                                dateString += m + "/" + d + "/" + y;
                            } else {
                                dateString += d + "/" + m + "/" + y;
                            }

                            break;
                        default:
                            dateString += d + "." + m + "." + y;
                    }
                }

                $hl.html(dateString);
                $hl.data('dashTimer', _setTimeout(vis.binds.timeAndWeather.startDate, (24 * 3600 - (today.getHours() * 60 * 60 + today.getMinutes() * 60 + today.getSeconds())) * 1000, view, elem, showWeekDay, noClass, $hl.data('dashId'), shortWeekDay, shortYear, prependZero, monthWord, shortMonth, american));
            }
        },
        tplTwCoolClock: function (view, data) {
            var style;
            var wid = data.attr('wid');
            console.log('tplTwCoolClock');
            if (vis.views[view] &&
                vis.views[view].widgets[wid] &&
                vis.views[view].widgets[wid].style) {
                style = vis.views[view].widgets[wid].style;
            }
            var radius = 85;
            style = style || {};
            style.width  = style.width || 85;
            style.height = style.height || 85;
            radius = style.width;
            if (vis.views[view].widgets[wid]) {
                vis.views[view].widgets[wid].style = style;
            }

            // Take the smallest value
            if (style.height < radius) radius = style.height;
            radius = Math.round(radius / 2);

            var myClass = 'CoolClock:' + (data.attr('theme') || 'classic') + ':' + radius + ':' + (data.attr('noSeconds') ? 'noSeconds' : '') + '::' + (data.attr('showDigital') ? 'showDigital' : '') + '::' + (data.attr('showAmPm') ? 'showAmPm' : '');
            var text = '<div id="' + data.attr('wid') + '" data-myclass="' + myClass + '" style="width: 85px; height: 85px" class="vis-widget"><canvas style="width:100%; height:100%" class="' + myClass + '"></canvas></div>';
            $('#visview_' + view).append(text);
            $('#' + data.attr('wid')).bind('resize', function () {
                var t = $(this);
                var myClass   = t.attr('data-myclass');
                var myClasses = myClass.split(':');
                myClasses[2] = t.width();

                if (t.height() < myClasses[2]) myClasses[2] = t.height();

                myClasses[2] = Math.round(myClasses[2] / 2);
                myClass = myClasses.join(':');
                t.html('<canvas class="' + myClass + '"></canvas>');
                CoolClock.findAndCreateClocks();
            });
            CoolClock.findAndCreateClocks();
        },
        tplTwFlipClock: function (view, data) {
            var text = '<div class="vis-widget" style="width:500px; height: 110px" id="'+data.attr('wid')+'" data-vis-resizable=';
            text += "'" + '{"disabled":true}' + "'></div>";
            $('#visview_'+view).append(text);
            var clock = $('#'+data.attr('wid')).FlipClock({clockFace: 'TwentyFourHourClock'});
        },
        tplTwHtcWeather: function (view, data) {
            var text = '<div class="vis-widget" style="width:500px; height: 420px" id="'+data.attr('wid')+'" data-vis-resizable=';
            text += "'" + '{"disabled":true}' + "'></div>";
            $('#visview_'+view).append(text);
            var weoid = data.attr('weoid');
            if (weoid !== undefined && weoid !== null) {
                var i = weoid.indexOf('[');
                if (i != -1) {
                    weoid = weoid.substring(i+1);
                    i = weoid.indexOf(']');
                    weoid = weoid.substring(0, i);
                }
            }
            else
                weoid = '664942';

            var clock = $('#'+data.attr('wid')).jdigiclock({
                weatherLocationCode: weoid,
                weatherUpdate: 5,
                lang: vis.language,
                clockImagesPath: 'widgets/timeAndWeather/img/clock/'
            });
        },
        tplTwYahooWeather: function (view, data) {
            var text = '<div class="vis-widget ui-widget-content" id="' + data.attr('wid') + '" style="width:250px; height: 500px; color: #ddd"></div>';
            $('#visview_' + view).append(text);
            var weoid = data.attr('weoid');
            if (weoid !== undefined && weoid !== null) {
                var i = weoid.indexOf('[');
                if (i != -1) {
                    weoid = weoid.substring(i+1);
                    i = weoid.indexOf(']');
                    weoid = weoid.substring(0, i);
                }
            }
            else {
                weoid = '664942';
            }

            $('#' + data.attr('wid')).weatherfeed([weoid], {
                lang:      vis.language,
                woeid:     true,
                humidity:  true,
                forecast:  true,
                link:      false,
                resizable: false,
                rendered:  function () {
                    if (vis.editMode && vis.activeWidgets.indexOf(data.attr('wid')) != -1) {
                        vis.resizable($('#' + data.attr('wid')).resizable('destroy'));
                    }
                }
            });
        },
        editWeather: function (wid_attr, options) {
            var line = {
                input:  '<input type="text" id="inspect_' + wid_attr + '"/>',
                init: function (_wid_attr, data) {
                    $('#inspect_' + _wid_attr).autocomplete({
                        source: function (req, callback) {
                            console.log(req.term);

                            var query = 'select * from geo.places where text="' + req.term +'"';
                            var api = 'http://query.yahooapis.com/v1/public/yql?q=' + encodeURIComponent(query) + '&format=json&callback=?';

                            // Send request
                            $.ajax({
                                type:     'GET',
                                url:      api,
                                dataType: 'json',
                                success:  function(data) {
                                    if (data.query.count > 0 ) {
                                        var arr = [];
                                        for (var i = 0; i < data.query.count; i++) {
                                            arr.push({
                                                label: $.fn._getWeatherAddress(data.query.results.place[i]),
                                                value: data.query.results.place.woeid
                                            });
                                        }
                                        callback(arr);
                                    } else {
                                        callback([]);
                                    }
                                },
                                error:    function(data) {
                                    callback([]);
                                }
                            });
                        },
                        select: function (event, ui) {
                            $(this).val(ui.item.value);
                            $(this).trigger('change', ui.item.value);
                        }
                    });
                }
            };
            return line;
        }
    };

</script>
<!-- startDate: function (view, elem, showWeekDay, noClass, timerId, shortWeekDay, shortYear, prependZero, monthWord, shortMonth, american) {
            -->
<script id="tplTwSimpleDate"
        type="text/ejs"
        class="vis-tpl"
        data-vis-prev='<div id="prev_tplTwSimpleDate" style=" position: relative; text-align: initial;padding: 4px "><div class="vis-widget_prev date vis-widget-lock ui-selectee" style="left: 139px; top: 76px;">30.01.2015</div>'
        data-vis-set="timeAndWeather"
        data-vis-name="SimpleDate"
        data-vis-attrs="showWeekDay/checkbox;shortWeekDay/checkbox;shortYear/checkbox;prependZero[true]/checkbox;monthWord/checkbox;shortMonth/checkbox;americanOrder/checkbox;noClass/checkbox">
    <%
		vis.binds.timeAndWeather.startDate(this.view, this.data.attr('wid'), this.data.attr('showWeekDay'), this.data.attr('noClass'), undefined, this.data.attr('shortWeekDay'), this.data.attr('shortYear'), this.data.attr('prependZero'), this.data.attr('monthWord'), this.data.attr('shortMonth'), this.data.attr('americanOrder'));
    %>
</script>

<script id="tplTwSimpleClock"
        type="text/ejs"
        class="vis-tpl"
        data-vis-prev='<div id="prev_tplTwSimpleClock" style=" position: relative; text-align: initial;padding: 4px "><div class="vis-widget_prev clock vis-widget-lock ui-selectee" style="left: 132px; top: 179px; font-size: 28px;">11:01:57</div>'
        data-vis-set="timeAndWeather"
        data-vis-name="SimpleClock"
        data-vis-attrs="hideSeconds/checkbox;blink/checkbox;noClass/checkbox">
    <%
        vis.binds.timeAndWeather.startTime(this.view, this.data.attr('wid'), this.data.attr('hideSeconds'), this.data.attr('blink'), this.data.attr('noClass'));
    %>
</script>

<script id="tplTwCoolClock"
        type="text/ejs"
        class="vis-tpl"
        data-vis-prev='<img src="widgets/timeAndWeather/img/Prev_CoolClock.png"></img>'
        data-vis-set="timeAndWeather"
        data-vis-name="CoolClock"
        data-vis-attrs="theme/select,fancy,swissRail,chunkySwiss,machine,simonbaird_com,classic,classicWhite,modern,simple,securephp,Tes2,Lev,Sand,Sun,Tor,Cold,Babosa,Tumb,Stone,Disc,watermelon;noSeconds/checkbox;showDigital/checkbox;showAmPm/checkbox" >
    <%
        vis.binds.timeAndWeather.tplTwCoolClock(this.view, this.data);
    %>
</script>

<script id="tplTwFlipClock"
        type="text/ejs"
        class="vis-tpl"
        data-vis-prev='<img src="widgets/timeAndWeather/img/Prev_FlipClock.png"></img>'
        data-vis-set="timeAndWeather"
        data-vis-name="FlipClock"
        data-vis-attrs="">
    <%
        vis.binds.timeAndWeather.tplTwFlipClock(this.view, this.data);
    %>
</script>

<script id="tplTwHtcWeather"
        type="text/ejs"
        class="vis-tpl"
        data-vis-prev='<img src="widgets/timeAndWeather/img/Prev_HTCWeather.png"></img>'
        data-vis-set="timeAndWeather"
        data-vis-name="HtcWeather"
        data-vis-attrs="weoid/custom,timeAndWeather.editWeather">
    <% 
        vis.binds.timeAndWeather.tplTwHtcWeather(this.view, this.data);
    %>
</script>

<script id="tplTwYahooWeather"
        type="text/ejs"
        class="vis-tpl"
        data-vis-prev='<img src="widgets/timeAndWeather/img/Prev_YahooWeather.png"></img>'
        data-vis-set="timeAndWeather"
        data-vis-name="YahooWeather"
        data-vis-attrs="weoid/custom,timeAndWeather.editWeather">
    <% 
        vis.binds.timeAndWeather.tplTwYahooWeather(this.view, this.data);
    %>
</script>

