<script type="text/javascript">
    if (vis.editMode) {
        // Add words for widgets
        $.extend(true, systemDictionary, {
            "oid-begin":    {"en": "oid-begin",    "de": "oid-begin",    "ru": "oid-begin"},
            "oid-end":      {"en": "oid-end",      "de": "oid-end",      "ru": "oid-end"},
            "oid-headline": {"en": "oid-headline", "de": "oid-headline", "ru": "oid-headline"},
            "oid-severity": {"en": "oid-severity", "de": "oid-severity", "ru": "oid-severity"}
        });
    }
</script>

<script id="tplYrAdapter"
    type="text/ejs"
    class="vis-tpl"
    data-vis-set="weather-adapter"
    data-vis-name="yr.no Weather"
    data-vis-attrs="oid[yr.0.forecast.html]">
    <div class="vis-widget <%== this.data.attr('class') %>" style="padding: 3px; background-color:#ccc; font-family: Arial; width: 310px; height: 80px" id="<%= this.data.attr('wid') %>">
        <div class="vis-widget-body">
            <%== vis.states.attr(this.data.oid + '.val') %>
        </div>
    </div>
</script>

<script id="tplDwdAdapterSmall"
        type="text/ejs"
        class="vis-tpl"
        data-vis-set="weather-adapter"
        data-vis-name="DWD Wetterwarnungen klein"
        data-vis-attrs="oid[dwd.0.warning.text];oid-severity[dwd.0.warning.severity]">
    <%
    var dwdBackground = ["", "yellow", "orange", "red", "darkviolet"];
    %>
    <div class="vis-widget <%== this.data.attr('class') %>" style="width: 160px; height: 21px; font-family: Arial" id="<%= this.data.attr('wid') %>">
        <div class="vis-widget-body" style="padding: 3px; background-color: <%= dwdBackground[parseInt(vis.states.attr(this.data['oid-severity'] + '.val'), 10)] %>;">
            <div data-oid="<%= this.data.attr('oid') %>">
                <%== vis.states.attr(this.data.oid + '.val') %>
            </div>
        </div>
    </div>
</script>

<script id="tplDwdAdapter"
        type="text/ejs"
        class="vis-tpl"
        data-vis-set="weather-adapter"
        data-vis-name="DWD Wetterwarnungen"
        data-vis-attrs="oid-begin[dwd.0.warning.begin];oid-end[dwd.0.warning.end];oid-headline[dwd.0.warning.headline];oid[dwd.0.warning.description];oid-severity[dwd.0.warning.severity]">
    <div class="vis-widget <%== this.data.attr('class') %>" style="width: 585px; height: 85px; font-family: Arial" id="<%= this.data.attr('wid') %>">
        <%
        var dwdBackground = ["", "yellow", "orange", "red", "darkviolet"];
        %>
        <div class="vis-widget-body" style="padding: 3px; background-color: <%= dwdBackground[parseInt(vis.states.attr(this.data['oid-severity'] + '.val'), 10)] %>;">
            <div style="font-size: 1.5em; font-weight: bold;" data-oid="<%= this.data.attr('oid-headline') %>">
                <%== vis.states.attr(this.data['oid-headline'] + '.val') %>
            </div>
            <p><%== vis.states.attr(this.data['oid'] + '.val') %><br/>
            <%== vis.states.attr(this.data['oid-begin'] + '.val') %> <%== vis.states.attr(this.data['oid-begin'] + '.val') ? ' - ' : '' %><%== vis.states.attr(this.data['oid-end'] + '.val') %></p>
        </div>
    </div>
</script>