/* Style your widget here */

.vis-material-advanced-class {
    font-style: italic;
}

.mdw-list {
    width: 350px;
    height: 56px;
}

.mdw-list-icon {
    float: left;
    width: 72px;
    height: 56px;
}

.mdw-list-icon img {
    margin-left: 8px;
    width: 48px;
    height: 48px;
}

.mdw-list-desc {
    float: left;
    width: calc(100% - 72px - 100px - 16px);
    height: 56px;
    margin-top: 10px;
}

.mdw-list-desc-no-icon {
    float: left;
    width: 30%;
    height: calc( 100% - 8px );
    margin-top: 10px;
    word-break: break-word;
}

.mdw-list-value {
    float: left;
    width: 100px !important;
    text-align: right;
    margin-top: 16px;
}

.mdw-text-field {
    float: left;
    width: calc(70% - 10px);
    text-align: left;
    margin-top: 12px;
    margin-left:10px;
}

.mdw-number-field {
    float: left;
    width: calc(70% - 25px);
    text-align: right;
    margin-top: 12px;
    margin-left:10px;
}

.mdw-list-value .mduiw-switch {
    width: 48px;
    height: 24px;
    margin-left: 52px;
}
.mdw-list-value2 .mduiw-switch {
    width: 48px;
    height: 24px;
    margin-left: 52px;
}

.mdw-button-op {
    background-color: white;
    opacity: 0.1;
}

.my_parent {
    color: white;
}

.my_child {
    position: absolute;
}

.opac-white {
    background-color: white;
    opacity: 0.08;
    height: 100%;
    width: 100%;
}

.opac-purple {
    background-color: mediumpurple;
    opacity: 0.08;
    height: 100%;
    width: 100%;
}

.opac-blue {
    background-color: mediumblue;
    opacity: 0.08;
    height: 100%;
    width: 100%;
}

.opac-red {
    background-color: mediumvioletred;
    opacity: 0.08;
    height: 100%;
    width: 100%;
}

.opac-green {
    background-color: mediumspringgreen;
    opacity: 0.08;
    height: 100%;
    width: 100%;
}

.opac-below {
    background-color: lightblue;
    opacity: 0.48;
    height: 100%;
    width: 100%;
}

.opac-above {
    background-color: darkred;
    opacity: 0.48;
    height: 100%;
    width: 100%;
}

.opac-template {
    height: 100%;
    width: 100%;
}

.opac-template8 {
    height: 100%;
    width: 100%;
    opacity: 0.08;
}