:root {
    --min-outer_width: 200px;
    /* --title-text-size: x-small;
    --subtitle-text-size: xx-small;
    --value-text-size: x-small; */
    --title-width:30%;
    --min-height-50: 50px;
    --min-height-46: 46px;
    --min-height-29: 29px;
    --min-height-24: 24px;
    --min-height-19: 19px;

}

.vma_outer_div {
    width: 350px;
    /* min-width: 275px; */
    /* min-height: var(--min-height-50); */
    height:50px;
    position: absolute;
    top: 100px;
    left: 50px;
    /* border: 1px solid white;  */
    /* padding: 2px; */
    border-radius: 2px;
    font-family: 'Roboto', sans-serif;
    overflow: visible;
}

.icon-widget {
    width: 25px;
    height: 100px;
}
.just-icon {
    width: 100%;
    height: 100%;
}
.vma_inner_container_div {
    /* width: calc(100% - 6px);
    height: calc(100% - 6px); */
    width: 100%;
    height: 100%;
    /* min-height: var(--min-height-50); */
    position: absolute;
    /* background-color: #121212;     */
    border-radius: 8px;
    /* border: 1px solid white; */
}

.vma_picture {
    width: 48px;
    height: 48px;
    float: left;
}

.vma_icon {
    width:48px;
}

.vma_icon2 {
    width:100%;
}

.vma_title {
    width: 100%;
    /* height: 60%; */
    /* min-height: var(--min-height29); */
    /* font-size: var(--title-text-size); */
    /* border: 1px solid yellow; */
}

.vma_only_title {
    width: 100%;
    /* height: 100%; */
    /* min-height: var(--min-height29); */
    /* font-size: var(--title-text-size); */
    /* border: 1px solid yellow; */
}

.vma_subtitle {
    width: 100%;
    /* height: 40%; */
    /* min-height: var(--min-height19); */
    font-size: small;
    /* font-size: var(--subtitle-text-size); */
    /* border: 1px solid red; */
}

.vma_hidden {
visibility: hidden;
}

.vma_title_subtitle_container {
    width: var(--title-width);
    /* height: calc(60% - 6px); */
    /* min-height: var(--min-height-46); */
    float:left;
    /* border: 1px solid pink; */
}

.vma_title_subtitle_container_without_icon {
    width: calc(50% - 10px);
    padding-left: 10px;
    height: calc(100% - 6px);
    /* min-height: var(--min-height-46); */
    float:left;
    /* border: 1px solid pink; */
}

.vma_value_container {
    float: left;
    width: calc(100% - var(--title-width) - 48px - 18px - 10px);
    height: calc(100% - 6px);
    /* min-height: var(--min-height-50); */
    /* min-width: 74px; */
    padding-left: 16px;
    padding-right: 10px;
}

.vma_value_container_without_icon {
    float: left;
    width: calc(100% - 50% - 16px - 10px - 6px);
    height: calc(100% - 2px);
    /* min-height: var(--min-height-50); */
    /* min-width: 74px; */
    padding-left: 16px;
    padding-right: 10px;
}

.vma_value_container_without_icon_and_title {
    float: left;
    width: calc(100% - 16px - 10px - 6px);
    height: calc(100% - 2px);
    /* min-height: var(--min-height-50); */
    /* min-width: 74px; */
    padding-left: 16px;
    padding-right: 10px;
}

.vma_value_container_without_title {
    float: left;
    width: calc(100% - 48px - 16px - 10px - 6px);
    height: calc(100% - 2px);
    /* min-height: var(--min-height-50); */
    /* min-width: 74px; */
    padding-left: 16px;
    padding-right: 10px;
}

.vma_value {
    vertical-align: middle;
    /* font-size: var(--value-text-size); */
    /* min-height: var(--min-height-24); */

}

.vma_value2_1 {
    vertical-align: middle;
    font-size: var(--value-text-size);
    /* min-height: var(--min-height-24); */
}


.vma_value2_2 {
    vertical-align: middle;
    font-size: var(--value-text-size);
    /* min-height: var(--min-height-24); */
}

.vma-slider {
    overflow: hidden;

}


.vma_overlay {
    /* width: calc(100% - 5px);
    height: calc(100% - 3px); */
    width: 100%;
    height: 100%;
    /* min-height: var(--min-height-50); */
    position: absolute;
    background-color: white;
    opacity: 0.2;
    border-radius: 8px;
    padding-left: 1px;
    padding-top: 1px;

}



.vma-slider .ui-slider {
    border: none !important;
    z-index: 2;
    padding: 0px !important;
    margin: 0px !important;
    background: none !important;
}

.vma-slider .ui-slider-horizontal {
    top: calc(50% - 8px);
    height: 16px !important;
    width: calc(100% - 16px) !important;
    left: 0px !important;
}

.vma-slider .ui-slider-horizontal:before {
    content: "";
    position: absolute;
    top: calc(50% - 2px);
    left: 0px;
    width: calc(100% + 20px);
    height: 4px;
    background: #ffffff !important;
    border-radius: 2px;
    pointer-events: none;
}

.vma-slider .ui-slider-vertical {
    left: calc(50% - 8px) !important;
    width: 16px !important;
    height: calc(100% - 16px) !important;
    top: 16px !important;
}

.vma-slider .ui-slider-vertical:before {
    content: "";
    position: absolute;
    left: calc(50% - 2px);
    top: -16px;
    width: 4px;
    height: calc(100% + 16px);
    background: #ffffff !important;
    border-radius: 2px;
    pointer-events: none;
}

.vma-slider .ui-slider-handle {
    padding: 0px !important;
    margin: 0px !important;
    width: 16px !important;
    height: 16px !important;
    background: #ffffff !important;
    border: none !important;
    border-radius: 50% !important;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.27), 0 2px 2px 0 rgba(0, 0, 0, 0.27), 0 1px 5px 0 rgba(0, 0, 0, 0.54);
}

.vma-slider .ui-slider-handle:focus {
    outline: none;
}

.ui-notouch .vma-slider .ui-slider-handle:focus {
    box-shadow: 0 0 4px 2px rgba(33, 150, 243, 0.39), 0 10px 20px rgba(33, 150, 243, 0.39), 0 6px 6px rgba(33, 150, 243, 0.43);
}

.vma-slider .ui-slider-horizontal .ui-slider-handle:before {
    content: "";
    position: absolute;
    top: calc(50% - 2px);
    left: 100%;
    width: 1000px;
    height: 4px;
    background: rgba(0, 0, 0, .5) !important;
    border-radius: 2px;
    pointer-events: none;
}

.vma-slider .ui-slider-vertical .ui-slider-handle:before {
    content: "";
    position: absolute;
    left: calc(50% - 2px);
    top: -1000px;
    width: 4px;
    height: 1000px;
    background: rgba(0, 0, 0, .7) !important;
    border-radius: 2px;
    pointer-events: none;
}

.vma-slider .ui-slider-horizontal .ui-slider-handle {
    top: calc(50% - 8px) !important;
}

.vma-slider .ui-slider-vertical .ui-slider-handle {
    left: calc(50% - 8px) !important;
}

.vma-runtime.vma-notouch .vma-slider:hover {
    box-shadow: 0 0 0 1000px rgba(255, 255, 255, 0.2) inset;
    border-radius: 2px;
    transition: all 0.3s ease;
}

/*




.vma2_slidecontainer {
    width: 100%;
    z-index: 2;
  }

  .vma2_slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    z-index: 2;
  }

  .vma2_slider:hover {
    opacity: 1;
  }

  .vma2_slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
  }

  .vma2_slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
  }

/*

*/













.vma-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 24px;
    z-index: 2;
  }

  .vma-switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .vma-slider-switch {
    position: absolute;
    cursor: pointer;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #121212;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .vma-slider-switch:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 4px;
    bottom: 1px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .vma-slider-switch {
    background-color: #ccc;
  }

  input:focus + .vma-slider-switch {
    box-shadow: 0 0 1px #2196F3;
  }

  input:checked + .vma-slider-switch:before {
    -webkit-transform: translateX(30px);
    -ms-transform: translateX(30px);
    transform: translateX(30px);
  }

  /* Rounded sliders */
  .vma-slider-switch.round {
    border-radius: 27px;
  }

  .vma-slider-switch.round:before {
    border-radius: 50%;
  }