/* Style your widget here */
.event-table {
    border: 0 solid black;
    width: 100%;
    table-layout: fixed;
}
.event-table-header th {
    background-color: black;
    color: white;
    font-weight: bold;
}
.event-table tr:nth-child(even) {
    background-color: lightgray;
}
.event-table tr:nth-child(odd) {
    background-color: darkgray;
}