/* ---------------------- Sample for table widget ------------------------- */
.tclass-overflow {
    overflow-y: auto;
}
.tclass {
    border: 0px solid black;
    width: 100%;
    table-layout: fixed;
    font-family: Arial;
}
.tclass-inner {
    border: 0px solid black;
    width: 100%;
    table-layout: fixed;
    height: 100%;
}
.tclass-inner-overflow {
    overflow-y: auto;
    height: calc(100% - 30px);
}
.tclass-th {
    background-color: black;
    color: white;
    font-weight: bold;
}
.tclass-th1 {
    width: 20px;
    text-align: center;
}
.tclass-th2 {
    width: 20px;
    text-align: center;
}
.tclass-th3 {
    width: 150px;
}
.tclass-th4 {
    width: 200px;
}
.tclass-tr {
    color: black;
}
.tclass-tr-even {
    background-color: darkgray;
}
.tclass-tr-odd {
    background-color: lightgray;
}
.tclass-tr:hover {
    color:blue;
    cursor: pointer;
}
.tclass-tr-selected {
    background-color: lightblue;
    /*    color: white;*/
}
.tclass-detail {
    width: 100%
}
.tclass-detail-tr {
    width: 100%
}
.tclass-detail-tr-even {
}
.tclass-detail-tr-odd {
}
.tclass-detail-td-name {
    width:200px;
    font-weight: bold;
}

.tclass-detail-td-value {
}
.tclass-print-button {
    position: absolute;
    bottom: 5%;
    right: 5%;
}
.tclass-tr-error {
    color:red;
}
.tclass-tr-warning {
    color:yellow;
}
.tclass-img-type {
    width:16px;
    height:16px
}
.tclass-img-person {
    width:16px;
    height:16px
}