
span.ctr {
    display: block;
    width: 20px;
    height: 27px;
    background-image: url("../img/counter.gif");
    background-repeat: no-repeat;
    float: left;
}

span.ctr.ctr-0 { background-position:    0px 0px; }
span.ctr.ctr-1 { background-position:  -20px 0px; }
span.ctr.ctr-2 { background-position:  -40px 0px; }
span.ctr.ctr-3 { background-position:  -60px 0px; }
span.ctr.ctr-4 { background-position:  -80px 0px; }
span.ctr.ctr-5 { background-position: -100px 0px; }
span.ctr.ctr-6 { background-position: -120px 0px; }
span.ctr.ctr-7 { background-position: -140px 0px; }
span.ctr.ctr-8 { background-position: -160px 0px; }
span.ctr.ctr-9 { background-position: -180px 0px; }
