.dashui-widget {
    position: absolute;
    overflow: hidden;
}

.dashui-view {
    width:100%;
    height:100%;
}

.tplSpanOnOff {
    border: 1px solid blue;
    display: block;
    width: 50px;
    height: 50px;
}
.tplSpanOnOff-on {
    background-color: green;
    text-shadow: none;
}
.tplSpanOnOff-off {

}
.ui-slider-vertical {

    height: 93%;
}
.ui-dialog .ui-dialog-content {
    padding: .5em 0em;
}
:focus { outline: none; }

#widget_helper {
    border: 1px dashed white;
    position: absolute;
    z-index: 90;
    pointer-events:none;
}
#widget_inner_helper {
    border: 1px dashed black;
    z-index: 90;
    pointer-events:none;
}

.dashui-widget-button {
    width: auto;
    height: auto;
}

.dashui-widget-body {
    width: 100%;
    height: 100%;
}
@-webkit-keyframes dashui-waitico-rotate {
	from {
		-webkit-transform:rotate(0deg);
	}
	to {
		-webkit-transform:rotate(360deg);
	}
}
#dashui-waitico {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -24px 0 0 -24px;
	height: 48px;
	width: 48px;
	text-indent: 250px;
	white-space: nowrap;
	overflow: hidden;
    background: url(../img/gear-icon-md.png);
    background-size: 100% auto;
	-webkit-animation-duration: 2s;
	-webkit-animation-name: dashui-waitico-rotate;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}

.noTitle .ui-dialog-titlebar {
    display:none;
    margin-top: 30px;
}
.selectEditWidth {
    width:180px;
}


button.ui-dialog-titlebar-close {
    width: 30px !important;
    height: 30px !important;
    margin-top: -14px !important;
}

div.dui-editor-dialog div div button.ui-dialog-titlebar-close {
    margin-left: 1px !important;
    margin-top: -4px !important;
}


a.ui-dialog-titlebar-minimize {
    width: 26px !important;
    height: 26px !important;
    padding: 1px !important;
    margin-top: -4px !important;
}
a.ui-dialog-titlebar-restore {
    width: 26px !important;
    height: 26px !important;
    padding: 1px !important;
    margin-top: -4px !important;
}
.ui-dialog-titlebar-restore span{
    margin-top: 5px !important;
    margin-left:5px !important;
}
.ui-dialog-titlebar-minimize span{
    margin-top: 5px !important;
    margin-left:5px !important;
}
.groupButtonWidth {
    width:350px;
}
h4 {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12pt;
	font-weight: bold;
	padding-top: 4px;
	padding-bottom: 0px;
	padding-left: 6px;
    width: 100%;
    border-top: 1px dotted white;  
    border-left: 1px dotted white;
}