:focus { outline: none; }


div#dui_container {
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);

    -ms-touch-select: none;
    -ms-touch-action: none;

    touch-callout: none;
    touch-select: none;
    touch-action: none;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.dashui-widget {
    position: absolute;
    overflow: hidden;
}

.dashui-view {
    width:100%;
    height:100%;
    position: absolute;
    top: 0;
}

.tplSpanOnOff {
    border: 1px solid blue;
    display: block;
    width: 50px;
    height: 50px;
}
.tplSpanOnOff-on {
    background-color: green;
    text-shadow: none;
}
.tplSpanOnOff-off {

}
.ui-slider-vertical {

    height: 93%;
}
.ui-dialog .ui-dialog-content {
    padding: .5em 0em;
}


#widget_helper {
    border: 1px dashed white;
    position: absolute;
    z-index: 90;
    pointer-events:none;
}
#widget_inner_helper {
    border: 1px dashed black;
    pointer-events:none;
	width:100%;
	height:100%;
}

.dashui-widget-button {
    width: auto;
    height: auto;
}

.dashui-widget-body {
    width: 100%;
    height: 100%;
}
@-webkit-keyframes dashui-waitico-rotate {
	from {
		-webkit-transform:rotate(0deg);
	}
	to {
		-webkit-transform:rotate(360deg);
	}
}
#dashui-waitico {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -24px 0 0 -24px;
	height: 48px;
	width: 48px;
	text-indent: 250px;
	white-space: nowrap;
	overflow: hidden;
    background: url(../img/gear-icon-md.png);
    background-size: 100% auto;
	-webkit-animation-duration: 2s;
	-webkit-animation-name: dashui-waitico-rotate;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}

.noTitle .ui-dialog-titlebar {
    display:none;
    margin-top: 30px;
}



button.ui-dialog-titlebar-close {
    width: 30px !important;
    height: 30px !important;
    margin-top: -14px !important;
}

div.dui-editor-dialog div div button.ui-dialog-titlebar-close {
    margin-left: 1px !important;
    margin-top: -4px !important;
}


a.ui-dialog-titlebar-minimize {
    width: 26px !important;
    height: 26px !important;
    padding: 1px !important;
    margin-top: -4px !important;
}
a.ui-dialog-titlebar-restore {
    width: 26px !important;
    height: 26px !important;
    padding: 1px !important;
    margin-top: -4px !important;
}
.ui-dialog-titlebar-restore span{
    margin-top: 5px !important;
    margin-left:5px !important;
}
.ui-dialog-titlebar-minimize span{
    margin-top: 5px !important;
    margin-left:5px !important;
}
.dashui-edit-tab h4 {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12pt;
	font-weight: bold;
	padding-top: 0;
	padding-bottom: 0px;
	padding-left: 6px;
    width: 100%;
    border-top: 1px dotted white;  
    border-left: 1px dotted white;
}
.dashui-no-spaces {
    padding: 0px;
    margin: 0px;
    border: 0px;
    border-spacing:0px;
}
.dashui-wait-screen {
	width: 100%;
	height: 100%;
	z-index: 5000;
/*	background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0)));
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); 
	background: -o-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); 
	background: -ms-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
	background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); */
}
.dashui-progressbar {
	position: absolute;
	top: 50%;
	left: 40%;
	width: 20%;
}

.dashui-wait-text {
	position: absolute;
	top: 10%;
	left: 38%;
	font-family: 'trebuchet MS', sans-serif;
	color: #525252;
	font-size: 1.5em;
	font-weight: bold;
	font-variant: small-caps;
}
.dashui-show-new {
	border: 3px dotted rgba(167,232,226,0.9) ;
	z-index: 1;
    pointer-events:none;
}
.dashui-edit-td-caption {
	width: 26%;
}
.dashui-edit-td-field {
	width: 74%;
}
.dashui-edit-textbox {
	width: 100%;
}
.dashui-edit-select {
	width: auto;
}
.dashui-wizard-select {
	width: 200px;
}
.dashui-group-button-width {
    width:100%;
    font-weight: bold;
}

.dashui-edit-tab {

    height: 80%;
    height: calc(100% - 50px);
    overflow-y: scroll;
    padding-left:5px !important;
    padding-top:0px !important;

}

div#tabs {

    height: 100%;
    overflow: hidden;
    min-width: 360px;
}

div#dui_editor {
    overflow-y:hidden;
    oberflow-x:scroll;
}


.dashui-steal-css, .dashui-clear-css {
    display: inline-block;
}

.dashui-steal-cursor {
    cursor: crosshair !important;
}

.dashui-inspect-css {
    font-size: 11px !important;
}

.dashui-steal-label {
    width: 17px;
    height: 17px;
}
#css_table {
    width: 400px;
    font-size: 11px;
}

.editmode-helper {
    display: none; position: absolute; width:100%; height: 100%;
    background: url(../img/editmode-pattern.png);
    z-index:89
}

.dashui-wait-screen {
    position: absolute; top: 0; left: 0; height:100%; width:100%;
}
/* Sample for table widget */
.tclass-overflow {
    overflow-y: auto;
}
.tclass {
    border: 1px solid black;
    width: 100%;
    overflow-y: scroll;
}
.tclass-th {
    background-color: black;
    color: white;
    font-weight: bold;
}
.tclass-th1 {
    /*width: 100px;*/
}
.tclass-th2 {
    /*width: 50px;*/
}
.tclass-th3 {
    /*width: 40px;*/
}
.tclass-tr {
    color: black;
}
.tclass-tr-even {
    background-color: darkgray;
}
.tclass-tr-odd {
    background-color: lightgray;
}
.tclass-tr:hover {
    color:blue;
    cursor: pointer;
}
.tclass-tr-selected {
    background-color: green;
/*    color: white;*/
}
.tclass-detail {
     width: 100%
 }
.tclass-detail-tr {
    width: 100%
}
.tclass-detail-tr-even {
}
.tclass-detail-tr-odd {
}
.tclass-detail-td-name {
    width:200px;
    font-weight: bold;
}

.tclass-detail-td-value {
}
.tclass-print-button {
    position: absolute;
    bottom: 5%;
    right: 5%;
}