.dashui-widget {
    position: absolute;
    overflow: hidden;
}

.dashui-view {
    width:100%;
    height:100%;
}

.tplSpanOnOff {
    border: 1px solid blue;
    display: block;
    width: 50px;
    height: 50px;
}
.tplSpanOnOff-on {
    background-color: green;
    text-shadow: none;
}
.tplSpanOnOff-off {

}
.ui-slider-vertical {

    height: 93%;
}
.ui-dialog .ui-dialog-content {
    padding: .5em 0em;
}
:focus { outline: none; }

#widget_helper {
    border: 1px dashed white;
    position: absolute;
    z-index: 90;
    pointer-events:none;
}
#widget_inner_helper {
    border: 1px dashed black;
    z-index: 90;
    pointer-events:none;
}

.dashui-widget-button {
    width: auto;
    height: auto;
}

.dashui-widget-body {
    width: 100%;
    height: 100%;
}
@-webkit-keyframes waiticoRotate {
	from {
		-webkit-transform:rotate(0deg);
	}
	to {
		-webkit-transform:rotate(360deg);
	}
}
#waitico {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -24px 0 0 -24px;
	height: 48px;
	width: 48px;
	text-indent: 250px;
	white-space: nowrap;
	overflow: hidden;
    background: url(../img/Bubbles_Wait.png);
	-webkit-animation-duration: 2s;
	-webkit-animation-name: waiticoRotate;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}
/*	-webkit-mask-image: url(../img/ico_Wait.png);
	background-color: #000;
*/