:focus { outline: none; }


div#dui_container {
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);

    -ms-touch-select: none;
    -ms-touch-action: none;

    touch-callout: none;
    touch-select: none;
    touch-action: none;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.dashui-widget {
    position: absolute;
    overflow: hidden;
}

.dashui-view {
    position: absolute;
    top: 0;
}

.tplSpanOnOff {
    border: 1px solid blue;
    display: block;
    width: 50px;
    height: 50px;
}
.tplSpanOnOff-on {
    background-color: green;
    text-shadow: none;
}
.tplSpanOnOff-off {

}
.ui-slider-vertical {

    height: 93%;
}
.ui-dialog .ui-dialog-content {
    padding: .5em 0em;
}


#widget_helper {
    border: 1px dashed white;
    position: absolute;
    z-index: 90;
    pointer-events:none;
}
#widget_inner_helper {
    border: 1px dashed black;
    pointer-events:none;
	width:100%;
	height:100%;
}


#allwidgets_helper {
    border: 1px dotted #aaa;
    position: absolute;
    z-index: 90;
    pointer-events:none;
}
#allwidgets_inner_helper {
    border: 1px dotted #555;
    pointer-events:none;
    width:100%;
    height:100%;
}

.widget_multi_helper {
    border: 1px dotted white;
    position: absolute;
    z-index: 90;
    pointer-events:none;
}
.widget_multi_inner_helper {
    border: 1px dotted black;
    pointer-events:none;
    width:100%;
    height:100%;
}


.dashui-widget-button {
    width: auto;
    height: auto;
}

.dashui-widget-body {
    width: 100%;
    height: 100%;
}
@-webkit-keyframes dashui-waitico-rotate {
	from {
		-webkit-transform:rotate(0deg);
	}
	to {
		-webkit-transform:rotate(360deg);
	}
}
#dashui-waitico {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -24px 0 0 -24px;
	height: 48px;
	width: 48px;
	text-indent: 250px;
	white-space: nowrap;
	overflow: hidden;
    background: url(../img/gear-icon-md.png);
    background-size: 100% auto;
	-webkit-animation-duration: 2s;
	-webkit-animation-name: dashui-waitico-rotate;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}

.noTitle .ui-dialog-titlebar {
    display:none;
    margin-top: 30px;
}



button.ui-dialog-titlebar-close {
    width: 30px !important;
    height: 30px !important;
    margin-top: -14px !important;
}

div.dui-editor-dialog {
    min-width: 440px !important;
    max-width: 440px !important;
}


div.dui-editor-dialog div div button.ui-dialog-titlebar-close {
    margin-left: 1px !important;
    margin-top: -4px !important;
}


a.ui-dialog-titlebar-minimize {
    width: 26px !important;
    height: 26px !important;
    padding: 1px !important;
    margin-top: -4px !important;
}
a.ui-dialog-titlebar-restore {
    width: 26px !important;
    height: 26px !important;
    padding: 1px !important;
    margin-top: -4px !important;
}
.ui-dialog-titlebar-restore span {
    margin-top: 5px !important;
    margin-left:5px !important;
}
.ui-dialog-titlebar-minimize span {
    margin-top: 5px !important;
    margin-left:5px !important;
}
.dashui-edit-tab h4 {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12pt;
	font-weight: bold;
	padding-top: 0;
	padding-bottom: 0px;
	padding-left: 6px;
    width: 100%;
    border-top: 1px dotted white;
    border-left: 1px dotted white;
}
.dashui-no-spaces {
    padding: 0px;
    margin: 0px;
    border: 0px;
    border-spacing:0px;
}
.dashui-wait-screen {
	width: 100%;
	height: 100%;
	z-index: 5000;
/*	background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0)));
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
	background: -o-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
	background: -ms-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
	background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); */
}
.dashui-progressbar {
	position: absolute;
	top: 50%;
	left: 38%;
	width: 20%;
}

.dashui-wait-text {
	position: absolute;
	top: 10%;
	left: 38%;
	font-family: 'trebuchet MS', sans-serif;
	color: #525252;
	font-size: 1.5em;
	font-weight: bold;
	font-variant: small-caps;
}
.dashui-show-new {
	border: 3px dotted rgba(167,232,226,0.9) ;
	z-index: 1;
    pointer-events:none;
}
.dashui-edit-td-caption {
	width: 90px;
}
.dashui-edit-td-field {
	width: auto;
}
.dashui-edit-textbox {
	width: 285px;
}
.dashui-edit-select {
	width: auto;
}
.dashui-wizard-select {
	width: 200px;
}
.dashui-group-button-width {
    width:100%;
    font-weight: bold;
}

.dashui-edit-tab {

    height: 80%;
    height: calc(100% - 50px);
    overflow-y: scroll;
    padding-left:5px !important;
    padding-top:0px !important;

}

div#tabs {

    height: 100%;
    overflow: hidden;
    min-width: 360px;
}

div#dui_editor {
    min-width: 440px !important;
    max-width: 440px !important;
    overflow-y:hidden;
    oberflow-x:scroll;
}


.dashui-steal-css, .dashui-clear-css {
    display: inline-block;
}

.dashui-steal-cursor {
    cursor: crosshair !important;
}

.dashui-inspect-css {
    font-size: 11px !important;
}

.dashui-steal-label {
    width: 17px;
    height: 17px;
}
#css_table {
    width: 400px;
    font-size: 11px;
}

.editmode-helper {
	position: absolute; 
	width:100%; 
	height: 100%;
    background: url(../img/editmode-pattern.png);
    z-index:89
}

.dashui-wait-screen {
    position: absolute; 
    top: 0; 
    left: 0; 
    height:100%; 
    width:100%;
}
.dashui-clipboard {
    position: absolute;
    top: 0px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 14px;
    padding-right: 14px;
    background-color: rgb(55, 169, 232);
    opacity: 0.8;
    z-index:1003;
    -webkit-border-bottom-right-radius: 7px;
    -webkit-border-bottom-left-radius: 7px;
    -moz-border-radius-bottomright: 7px;
    -moz-border-radius-bottomleft: 7px;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    font-family: Arial, Helvetica, sans-serif;
}

.dashui-stealmode {
    position: absolute;
    top: 0px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 14px;
    padding-right: 14px;
    background-color: orange;
    opacity: 0.8;
    z-index:1003;
    -webkit-border-bottom-right-radius: 7px;
    -webkit-border-bottom-left-radius: 7px;
    -moz-border-radius-bottomright: 7px;
    -moz-border-radius-bottomleft: 7px;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
}


/*--------------------------------------------- Authentication dialog ------------------------------- */
/* Mask for background, by default is not display */
#login-mask {
    display: none;
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: 999;
}

/* You can customize to your needs  */
.login-popup {
    display: none;
    background: #333;
    padding: 10px;
    border: 2px solid #ddd;
    float: left;
    font-size: 1.2em;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 99999;
    box-shadow: 0px 0px 20px #999;
    /* CSS3 */
    -moz-box-shadow: 0px 0px 20px #999;
    /* Firefox */
    -webkit-box-shadow: 0px 0px 20px #999;
    /* Safari, Chrome */
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px;
    /* Firefox */
    -webkit-border-radius: 3px;
    /* Safari, Chrome */;
}

.login-input-field label {
    display: block;
    padding-bottom: 7px;
}

.login-input-field span {
    display: block;
}

.login-input-field span {
    color: #999;
    font-size: 11px;
    line-height: 18px;
}

.login-input-field {
    text-align: center;
    background: #666666;
    border-bottom: 1px solid #333;
    border-left: 1px solid #000;
    border-right: 1px solid #333;
    border-top: 1px solid #000;
    color: #fff;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    font: 13px Arial, Helvetica, sans-serif;
    padding: 6px 6px 4px;
}
#login-password {
    width: 205px;
    text-align: left;
}
#login-username {
    width: 220px;
}
.login-message {
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
}

#login-box input:-moz-placeholder {
    color: #bbb;
    text-shadow: 0 0 2px #000;
}

#login-box input::-webkit-input-placeholder {
    color: #bbb;
    text-shadow: 0 0 2px #000;
}

.login-button {
    background: -moz-linear-gradient(center top, #f3f3f3, #dddddd);
    background: -webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(#dddddd));
    background: -o-linear-gradient(top, #f3f3f3, #dddddd);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f3f3f3', EndColorStr='#dddddd');
    border-color: #000;
    border-width: 1px;
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    color: #333;
    cursor: pointer;
    display: inline-block;
    padding: 6px 6px 4px;
    margin-top: 10px;
    font: 12px;
    width: 220px;
}

.login-button:hover {
    background: #ddd;
}

/*--------------------------------------------- SelectID dialog ------------------------------- */
.select-plus {
    display: inline-block !important;
    width: 16px !important;
    height: 16px !important;
    margin-right: 5px;
    vertical-align: middle !important;
    cursor: crosshair;
}
.select-header {
    font-size: 14px;
    top:0;
    height:60px;
    table-layout: fixed;
    font-family: Verdana,Arial,sans-serif;
}
.select-header-title {
    font-weight: bold;
    text-align: left;
    padding-left: 5px;
}
.select-body {
    table-layout: fixed;
    white-space: nowrap;
    height: calc(100% - 110px) !important;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    font-size: 14px;
    font-family: Verdana,Arial,sans-serif;
    width: 100%;
}
.select-table {
    border-collapse: collapse;
    border-style:solid;
    border-width: 1px;
    table-layout: fixed;
    width: 100%;
}
.select-tr {
    background: rgb(50,50,50);
    border-bottom: 1px solid rgb(128,128,128);
    /*border-top: 1px dashed black;*/
}
.select-td {
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    white-space:nowrap;
}
.select-search {
    width: 95%;
    height: 22px;
    border-radius: 2px 2px 2px 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}
.select-filter-clear {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.css-inspector-heading {
    text-align: center;
    font-weight: bold;
    padding-top: 6px;
}

#dui_editor_mode {
    height: 28px;
    width: 36px !important;
    float: right;
    left: -1px;
    top: -4px;
    position: relative;

}
input.xs_text_editor_mode {
    color: #fff;
    text-align: center;
}

p.xs_text_editor_mode {
    border: 1px solid rgba(0,0,0,0);
    padding-top: 0px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 0px;
    margin: 0;
    margin-bottom: 2px;
}

#button_undo {
    height: 28px;
    width: 28px;
    top: -4px;
}

#new_view_name {
    width: 285px;

}

#add_view {
    margin-left: 94px;
    margin-top: 5px;
    width: 125px;

}

#dup_view {
    margin-top: 5px;
    width: 125px;

}

#tabs-1 .ui-multiselect {
    width: 292px !important;
    height: 28px;
}

#del_view {
    margin-left: 94px;
    margin-top: 5px;
    width: 125px;

}

#new_name {
    width: 285px;

}

#rename_view {
    margin-left: 94px;
    margin-top: 5px;

}

#tabs-4 > .ui-multiselect {
    height: 28px;
    margin-bottom: 5px;
    width: 393px !important;
    margin-top: 1px;

}
#add_widget {

}
#del_widget {
    width: 142px;

}
#widget_doc {
    width: 142px;

}
#dup_widget {
    width: 142px;
    margin-top: 15px;

}

.dashui-widget-tools > .ui-multiselect {
    height: 28px;
    margin-top: 15px;
    width: 244px !important;
    position: relative;
    left: 1px;
    top: 9px;

}
.widget_attrs_header {
    width: 115px !important;
}

#widget_attrs_fix  .ui-multiselect {
    width: 265px !important;
}

#widget_attrs_fix .dashui-edit-textbox {
    width: 260px !important;

}

#snap_type {
    width: 255px;

}
#grid_size {
    width: 250px;

}
#screen_size_x {
    width: 250px;
}
#screen_size_y {
    width: 250px;

}

#wizard_rooms {
    width: 250px;
}
#wizard_funcs {
    width: 250px;
}
#wizard_widgets {
    width: 250px;
}
#wizard_run {
    margin-left: 87px;
    margin-top: 5px;
}
#create_instance {
    margin-left: 87px;
    margin-top: 27px;
    width: 160px;

}
#remove_instance {
    margin-left: 87px;
    margin-top: 5px;
    width: 160px;
}

#export_view {
    margin-left: 87px;
}
#import_view {
    float: right;
    margin-right: 87px;
}
#export_local_view {
    margin-left: 87px;
}
#import_local_view {
    float: right;
    margin-right: 87px;
}
#clear_local_view {
    margin-left: 87px;
}
#language {
    width: 250px;

}
#dashui_instance {
    width: 250px;

}

.ui-selecting {

}

/* ---------------- Notifications themes (info, warn)--------------------------- */

div.jGrowl div.info {
    background-color: 		#FFF1C2;
    color: 					navy;
}

div.jGrowl div.info {
    -moz-border-radius: 	5px;
    -webkit-border-radius:	5px;
    width: 					280px;
    height: 				55px;
    overflow: 				hidden;
    opacity:                0.95;
}
div.jGrowl div.warn {
    background-color: 		#FFF1C2;
    color: 					red;
}

div.jGrowl div.warn {
    -moz-border-radius: 	5px;
    -webkit-border-radius:	5px;
    width: 					280px;
    height: 				55px;
    overflow: 				hidden;
    opacity:                1;
}

#savingProgress {
    margin-top: -8px;
    width: 28px;
    height: 28px;
}