<script type="text/javascript">
    vis.binds.weather = {
        yr: function (el, url) {

        },
        wunderground: function (el) {

        }
    };
</script>

<script type="text/ejs" id="tplYrBasic" class="vis-tpl"
        data-vis-set="weather"
        data-vis-name="yr.no basic forecast"
        data-vis-attrs="url">
    <div class="vis-widget <%== this.data.attr('class') %>" style="width: 200px; height: 130px;" id="<%= this.data.attr('wid') %>">
        <div class="vis-widget-body" <%= (el) -> vis.binds.weather.yr(el, data.attr('url')) %> />
    </div>
</script>