.justgage-class {
    font-style: italic;
}

.justgage-valueColored{
    height:inherit;
    width:inherit;
    vertical-align:middle;
    display:table-cell;
}

.justgage-indicatorColored{
    height:inherit;
    width:inherit;
    vertical-align:middle;
    display:table-cell;
}


