.ui-slider-vertical {
    width: 6px;
}

.ui-slider-horizontal {
    width: 93%;
}

.ui-tabs-panel {
    margin-top: 1px !important;
}

.ui-dialog-titlebar {
    margin: 5px !important;
}

.dashui-steal-label {
    width: 0 !important;
    height: 10px !important;
    top: 5px !important;
    padding-left: 0 !important;
}

#css_view_inspector, #export_view, #import_view {
    padding: 6px !important;
}

button.ui-dialog-titlebar-close {
    right: -22px !important;
    top: -8px !important;
}

.vis-editor-dialog button.ui-dialog-titlebar-close {
    right: -5px !important;
    top: -1px !important;
}