html{
    /* use this tag locally, where it is really required */
    /*-webkit-user-select: none;*/
    user-select: none;
    overflow: hidden!important;
    position: absolute!important;
    width: 100%!important;
    height: 100%!important;

}
body{
    min-height: 100%!important;
    max-height: 100%!important;
    overflow: hidden!important;
    position: absolute!important;
    width: 100%!important;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

:focus {
    outline: none;
}

.vis_container_edit {
    width: -webkit-calc(100% - 5px)!important;
    width: calc(100% - 2px)!important;
    height: -webkit-calc(100% - 30px)!important;
    height: calc(100% - 30px)!important;
    position: relative;
    overflow: auto;
    border-bottom-width: 0px;
}

::-webkit-scrollbar {
    width: 16px;
    height: 16px;
    background-color: transparent !important;
}

::-webkit-scrollbar-track {
    background-color: transparent !important;
}

::-webkit-scrollbar-track-piece {
    background-color: transparent !important;

}

::-webkit-scrollbar-thumb {
    max-height: 5px !important;
    border-radius: 10px;
    -webkit-box-shadow: inset -2px -2px 7px rgba(0, 0, 0, 0.5), inset 2px 2px 7px rgba(255, 255, 255, 0.5);
    background-image: none;
    border-color: transparent !important;
    border-width: 2px;
    border-style: solid;
    background-clip: content-box;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

::-webkit-scrollbar-button {
    display: none;
}

#vis_container::-webkit-scrollbar-track:horizontal {
    background-color: transparent !important;
    border-color: inherit !important;
    border-top-width: 1px !important;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-style: solid;
}

#vis_container::-webkit-scrollbar-track:vertical {
    background-color: transparent !important;
    border-color: inherit !important;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 1px !important;
    border-right-width: 0px;
    border-style: solid;
}

.vis-edit-different {
    color: #ccc
}

#button_undo {
    height: 27px;
    padding-left: 3px;
    padding-right: 3px;
    position: relative;
    top: 5px;
    left: -15px;
    display: inline-block;
}

#saving_progress {
    width: 26px;
    height: 26px;
}

#exit_button {
    width: 26px;
    height: 26px;
}

#new_view_name {
    width: 200px;
}

#add_view {
    margin-left: 3px;
    height: 23px;
}

#dup_view {
    height: 23px;
    margin-top: 2px;
}

#tabs-1 .ui-multiselect {
    width: 292px !important;
    height: 28px;
}

#rib_view_del {

}

#new_name {
    width: 200px;
}

#rename_view {
    margin-left: 3px;
}

#add_widget {

}

#del_widget {
}

#widget_doc {
}

#dup_widget {
    width: 142px;
}

.vis-widget-tools > .ui-multiselect {
    height: 28px;
    margin-top: 15px;
    width: 244px !important;
    position: relative;
    left: 1px;
    top: 9px;

}

.widget_attrs_header {
    width: 115px !important;
}

#widget_attrs_fix .ui-multiselect {
    width: 265px !important;
}

#widget_attrs_fix .vis-edit-textbox {
    width: 100%;
}

#snap_type {
    width: 60px;
}

#grid_size {
    width: 50px;
}

#screen_hide_description {
    width: 15px;
    height: 15px;
    position: relative;
    top: 4px;
    float: right;
    margin-right: 3px;
}

#screen_size_x {
    width: 250px;
}

#screen_size_y {
    width: 250px;

}

#wizard_rooms {
    width: 100px;
}

#wizard_funcs {
    width: 100px;
}

#wizard_widgets {
    width: 100px;
}

#wizard_run {
    margin-left: 87px;
    margin-top: 5px;
}

#create_instance {
    width: 160px;
}

#remove_instance {
    margin-left: 87px;
    margin-top: 5px;
    width: 160px;
}

#export_view {
}

#import_view {
}

#export_local_view {
}

#import_local_view {
}

#clear_local_view {
}

#language {
    width: 250px;
}

#vis_instance {
    width: 70px;
}

.ui-selecting {

}

.fullscreen {
    position: absolute !important;
    z-index: 10000;
    width: 100% !important;
    height: 100% !important;
    overflow: auto !important;
    background: #ffffff;
}

/*ribbon*/

.ribbon_tab {
    max-height: 46px;
    min-height: 46px;
    overflow: hidden;
    padding: 0 !important;
    border-radius: 0 !important;
    border: none;
    position: relative;

    width: 100%;
}

.ribbon_tab_content {
    width: 100%;
    height: 45px;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
}

.menu-tab {
    height: 27px;
    border-bottom: none !important;
    padding-right: 4px;
    padding-left: 4px !important;
    position: relative !important;
    top: 1px;
    margin-left: -9px;
    margin-right: 13px;
}

.menu-tab-text {
    padding: 2px 4px 2px 4px !important;
    cursor: pointer;
}

.menu-item {
    background-image: none !important;
    cursor: pointer;
    height: 27px;
}

.ribbon_field {
    height: 40px;
    margin-left: 5px;
    background: rgba(0, 0, 0, 0);
    font-size: 11px;
    font-weight: bolder;
    font-family: Arial, sans-serif;
    padding-left: 3px;
    padding-right: 3px;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
}

#panel_body {
    width: 100%;
    position: relative;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
}

.toolbox {
    text-align: center;
    height: -webkit-calc(100% - 83px);
    height: calc(100% - 83px);
    overflow: auto;
    border-color: inherit;
    margin: 0;
    position: relative;
    top: -4px;
    border-right-width: 0px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    /* display: table; */
    vertical-align: middle;
}

.wid_prev {
    width: 130px;
    padding: 0;
    overflow: hidden;
    position: relative;
    text-align: center;
    display: inline-block;
    /* flex-direction: column; */
    /* align-items: center; */
    background-color: rgba(0, 0, 0, 0) !important;
    margin: 3px;
    /*box-shadow: inset -3px -3px 5px rgba(20, 20, 20, 0.7), inset 3px 3px 5px rgba(220, 220, 220, 0.8);*/
    border-radius: 2px;
    font-weight: bolder;
    font-size: 11px;
    border-width: 1px;
    border-style: solid;
    border-color: inherit;
}

.wid_prev_k {
    width: 80px !important;
    font-size: 9px !important;
    /* padding: 0!important; */
    margin: 2px !important;
    border-radius: 3px !important;
    font-weight: bolder !important;
}

.wid_prev_content {
    padding: 0 !important;
    margin: 4px;
    height: auto;
    overflow: hidden;
    /* text-align: center!important; */
    display: inline-block;
}

.wid_prev_type {
    display: none;
}

#btn_prev_zoom {
    display: inline-block;
    float: right;
    padding: 3px;
    border-width: 1px;
    border-style: solid;
    border-color: inherit;
    border-radius: 6px;
    margin-top: -4px;
    margin-right: 2px;
}

#btn_prev_type {
    display: inline-block;
    float: right;
    padding: 3px;
    border-width: 1px;
    border-style: solid;
    border-color: inherit;
    border-radius: 6px;
    margin-top: -4px;
}

.wid_prev:after {
    width: 100%;
    height: 100%;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 90;
}

.vis-widget-lock:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: -webkit-calc(100% - 3px);
    width: calc(100% - 3px);
    height: -webkit-calc(100% - 3px);
    height: calc(100% - 3px);
    z-index: 999;
}

.vis-widget_prev {
    position: relative !important;
    top: 0 !important;
    left: 0 !important;
    padding: 0 !important;
}

.select_set {
    width: 100% !important;
    font-size: 21px !important;
    font-weight: bold !important;
    border-radius: 0;
    height: 30px !important;
    text-align: center;

}

#pan_add_wid {
    width: 190px;
    display: inline-block;
    height: 100%;
    /* border-right-width: 0;*/
    border-bottom-width: 0;
    border-top-width: 0;
    border-left-width: 0;
    /* display: inline-block; */
    float: left;
}

#pan_attr {
    display: block;
    height: 100%;
    /* left: auto; */
    /* white-space: nowrap; */
    /* position: absolute; */
    /* right: 0; */
    width: 355px;

    margin-right: 1px;
    /* float: right; */
    margin: 0;
    padding: 0;
    /* top: 0; */
    border-radius: 0;
}

#inspect_view_bkg_parent {
    white-space: normal;
}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

#vis_wrap {
    /* width: auto; */
    max-height: 100%;
    position: absolute;
    display: inline-block;
    height: 100%;
    overflow: hidden;
    clear: both;
    /* right: 0; */
    /* top: 0; */
}

#view_select {
    width: -webkit-calc(100% - 1px);
    width: calc(100% - 1px);
    height: 28px;
    display: -webkit-inline-box;
    display: inline-flex;
    position: relative;
    border: none;
}

#view_select_left {
    height: 28px;
    width: 28px;
    border-radius: 0;
    margin: 0;
}

#view_select_tabs_wrap {
    height: 27px;
    max-width: -webkit-calc(100% - 54px);
    max-width: calc(100% - 54px);
    overflow: hidden;
}

#view_select_tabs {
    display: inline-block;
    position: relative;
    height: 25px;
    padding-top: 3px;
}

#view_select_right {
    height: 28px;
    width: 28px;
    position: absolute;
    right: -2px;
    border-radius: 0;
}

.view-select-tab {
    display: inline;
    margin-left: 1px;
    margin-right: 1px;
    padding: 2px 6px 3px 6px;
    min-width: 40px;
    text-align: center;
    font-size: 16px;
    height: 19px;
    top: 2px;
    position: relative;
    cursor: pointer;
}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
#css_find_prev{
    margin-left: 4px
}
.tab_attr {
    padding: 0 0 0 4px !important;
    border-width: 1px 0 0 0 !important;
    font-size: 12px;
    font-weight: normal !important;
    height: -webkit-calc(100% - 70px);
    height: calc(100% - 70px);
    overflow: auto;
}

#attr_wrap {
    /* height: -webkit-calc(100% - 14px); */
    height: 100%;
    padding: 0;
    border-radius: 0;
    position: absolute;
    right: 0;
    top: -1px;
    min-width: 20px;
    width: auto;
    overflow: visible;
}

#select_set-button {
    width: -webkit-calc(100% - 2px) !important;
    width: calc(100% - 2px) !important;
    border-radius: 0 !important;
    height: 30px;
    padding: 0;
}

#select_set-button > span.ui-selectmenu-text {
    padding-top: 3px !important;
    padding-bottom: 3px !important;
}

.vis-edit-td-field .ui-slider {
    width: -webkit-calc(100% - 10px);
    width: calc(100% - 10px);
    margin-left: 5px;
}

.btn-iconbar {
    width: 24px;
    height: 24px;
    position: relative;
    border: 1px solid transparent;
    display: inline-block;
    top: 1px;
}

.icon-on-iconbar {
    height: 18px;
    width: 18px;
    margin: 2px;
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 6px;
}

#select_active_widget + button {
    width: 100% !important;
    font-size: 12px;
    white-space: nowrap;
    height: 22px;
    /* padding-top: 3px; */
}

.select_active_widget {
    width: 400px !important;
    font-size: 12px;
}

td > .select_active_widget :nth-child(2) {
    width: 255px;
    overflow: hidden;
    display: inline-block;
    height: 15px;
    padding-top: 1px;
}

.select_view {
    width: 350px !important;
}

#select_view + button {
    width: 100% !important;
    font-size: 12px;
    white-space: nowrap;
    height: 22px;
}

.select_view :nth-child(2) {
    position: relative;
    top: 2px;
}

#rib_wid_copy_view + button {
    width: 100% !important;
    height: 22px;
    font: inherit;
}

#rib_view_copyname {
    width: -webkit-calc(100% - 3px);
    width: calc(100% - 3px);
    height: 15px;
    font: inherit;
}

#rib_view_newname {
    width: -webkit-calc(100% - 3px);
    width: calc(100% - 3px);
    height: 15px;
    font: inherit;
}

#rib_view_addname {
    width: -webkit-calc(100% - 3px);
    width: calc(100% - 3px);
    height: 15px;
    font: inherit;
}

.screen_size {
    font-size: 12px;
    width: 260px !important;
}

#screen_size + button {
    width: 100% !important;
    white-space: nowrap;
    height: 24px !important;
}

.widget-helper {
    border: 1px dashed white;
    position: absolute;
    z-index: 90;
    pointer-events: none;
}

.widget_inner_helper {
    border: 1px dashed black;
    pointer-events: none;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
}

.oid-dev {
    width: 50px;
    padding: 0 !important;
    height: 18px;
}

.fullscreen-pan-attr{
    z-index: 10001;
    width: auto;
    position: absolute;
    right: 0;
    /* height: 100%; */
    min-width: 20px;
    background: transparent;
    border: none;
}
#pan_attr_hover{
    height: 100%;
    width: calc(100% + 30px);
    position: absolute;
    top: 0;
    right: 0;
}
#css_editor_head {
    height: 30px;
    display: flex;
    padding: 2px;
    /* line-height: 25px; */
    /* display: none; */
}
#css_editor {
    height: calc(100% - 30px);
    width: 100%;
}
#css_find{
    margin-left: 10px;
    /* display: inline-block; */
    /* height: 22px; */
    /* position: relative; */
    /* top: -8px; */
    width: calc(100% - 210px);
}
#css_file_save{
    margin-left: 10px;
}

.view-select-menu {
    height: calc(100% - 100px);
    overflow-y: scroll;
    overflow-x: hidden;
}

.custom-vis-menu {
    height: 300px !important;
    overflow-y: scroll;
}
